openapi: 3.2.0
info:
  title: msp-authentication Auth API
  version: '3.0'
servers:
- url: https://apis.druva.com/msp
security:
- sec0: []
tags:
- name: Auth
paths:
  /auth/v1/token:
    post:
      summary: MSP Authentication
      description: ''
      operationId: msp-authentication
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  default: client_credentials
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: 'curl -X POST -H ''authorization: Basic <Your Base64 encoded credentials>'' -d ''grant_type=client_credentials'' https://apis.druva.com/msp/auth/v1/token'
          name: cURL
        samples-languages:
        - curl
      tags:
      - Auth
components:
  securitySchemes:
    sec0:
      type: http
      scheme: basic
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
