openapi: 3.2.0
info:
  title: Druva NAS API
  version: '1.0'
  description: 'Operations tagged NAS across 3 of this provider''s published API definitions: druva-enterprise-workloads-openapi-original.json, druva-job-management-cloud-openapi-original.json, druva-job-management-govcloud-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: //apis.druva.com/phoenix
- url: //apis.druva.com/unity
- url: //govapis.druva.com/unity
tags:
- name: NAS
paths:
  /storageconfig/v2/csets/{csetID}/snapshots:
    get:
      description: List snapshots for the specified backup set.
      tags:
      - NAS
      summary: List all snapshots
      operationId: ListSnapshots
      parameters:
      - x-go-name: AuthHeader
        description: Specify atleast one authentication token.
        name: X-Drv-Product-Jwt
        in: header
        required: true
        schema:
          type: string
      - x-go-name: AuthEntities
        name: authEntities
        description: 'Specify the authorization information. It should be in the format: "pType=org;pID=orgID", where orgID is the ID of your organization.'
        in: header
        required: true
        schema:
          type: string
      - x-go-name: CSetID
        name: csetID
        description: Specify the csetID of the corresponding backup set.
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: SnapshotTypes
        name: snapshotTypes
        description: 'Specify the type of snapshot. The possible values for the snapshot type are: "HOT", "WARM", and "COLD". Specify multiple snapshot types by separating the values with commas. Available values: HOT, WARM, COLD'
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - x-go-name: FromTime
        name: fromTime
        description: Specify a date and time in the UTC format YYYY-MM-DD THH:MM:SSZ to display all snapshots created after this date and time.
        in: query
        schema:
          type: string
      - x-go-name: ToTime
        name: toTime
        description: Specify a date and time in the UTC format YYYY-MM-DD THH:MM:SSZ to display all snapshots created before this date and time.
        in: query
        schema:
          type: string
      - x-go-name: SortBy
        name: sortBy
        description: 'Sort the returned snapshots in ascending or descending order of the snapshot creation time. Set it to "ASC" or "DESC" to sort the list in ascending or descending order. The default value is DESC. '
        in: query
        schema:
          type: string
          default: DESC
      - x-go-name: PageSize
        name: pageSize
        description: Specify the number of records that must be displayed on a page.
        in: query
        schema:
          type: integer
          format: int32
      - x-go-name: PageToken
        name: pageToken
        description: Specify the token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        in: query
        schema:
          type: string
      - x-go-name: UseCtime
        name: useCtime
        description: The parameter indicating whether the time is displayed in Epoch or CTime format.
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: The list of all snapshots.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListSnapshotsResponse'
        '400':
          description: Bad Request
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
    servers:
    - url: //apis.druva.com/phoenix
  /nas/v1/orgs/{OrgID}/reports/backupsets:
    get:
      description: Returns a list of all backup sets for NAS hosts.
      tags:
      - NAS
      summary: List all backup sets
      operationId: NASGetBackupsetsRequest
      security:
      - Bearer: []
      parameters:
      - description: Specify the organization ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: HostName
        description: Specify the host name. You can specify multiple host names by separating them with commas. Get the list of the NAS host names using the 'ListHost' API.
        name: hostName
        in: query
        schema:
          type: string
      - x-go-name: ProxyName
        description: Specify the proxy name. You can specify multiple proxy names by separating them with commas. (This is deprecated)
        name: proxyName (deprecated)
        in: query
        schema:
          type: string
      - x-go-name: PoolName
        description: Specify the pool name. You can specify multiple pool names by separating them with commas.
        name: poolName
        in: query
        schema:
          type: string
      - x-go-name: BackupEnable
        description: Specify whether the backup is enabled for the backup set. Set the value to 'true' if the backup is enabled for the backup set, else set it to 'false'.
        name: backupEnable
        in: query
        schema:
          type: boolean
      - x-go-name: PageToken
        description: Specify the token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NASGetBackupsetsResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
    servers:
    - url: //apis.druva.com/phoenix
  /nas/v1/orgs/{OrgID}/reports/contentrules:
    get:
      description: Returns a list of all content rule for NAS devices.
      tags:
      - NAS
      summary: List all content rules
      operationId: NASGetContentRulesRequest
      security:
      - Bearer: []
      parameters:
      - description: Specify the organization ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: PageToken
        description: Specify the token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NASGetContentRulesResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
    servers:
    - url: //apis.druva.com/phoenix
  /nas/v1/orgs/{OrgID}/reports/hosts:
    get:
      description: Returns a list of all NAS hosts.
      tags:
      - NAS
      summary: ListHost
      operationId: NASListHostRequest
      security:
      - Bearer: []
      parameters:
      - x-go-name: HostName
        description: Specify the name of the NAS host. Multiple host names can be separated by commas. Get the list of the NAS host names using the 'ListHost' API.
        name: hostName
        in: query
        schema:
          type: string
      - description: Specify the organization ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: PageToken
        description: Specify the token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Result schema for 200 Response of GET ListHostResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NASListHostResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
    servers:
    - url: //apis.druva.com/phoenix
  /nas/v1/orgs/{OrgID}/reports/jobs:
    get:
      description: Returns a list of all jobs for NAS hosts.
      tags:
      - NAS
      summary: List all jobs
      operationId: NASGetAllJobsReportRequest
      security:
      - Bearer: []
      parameters:
      - description: Specify the organization ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: JobType
        description: 'Specify the type of the job. This parameter can be set to one or more of the following values: Backup, Restore, Log Request and Defreeze. Specify multiple job types by separating them with commas. See <a href=https://help.druva.com/en/articles/8651526-nas-jobs-page>Job Types.</a>'
        name: jobType
        in: query
        schema:
          type: string
      - x-go-name: HostName
        description: Specify the name of the NAS host. Multiple host names can be separated by commas. Get the list of the NAS host names using the 'ListHost' API.
        name: hostName
        in: query
        schema:
          type: string
      - x-go-name: ProxyName
        description: Specify the name of the NAS proxy. Multiple proxy names can be separated by commas. Get the list of the NAS proxy names using the 'ListProxy' API.
        name: proxyName
        in: query
        schema:
          type: string
      - x-go-name: Status
        description: 'Specify the status of the job. This parameter can be set to one or more of the following values: Queued, Running, Successful, Successful with errors and Failed. Specify multiple status values by separating them with commas.'
        name: status
        in: query
        schema:
          type: string
      - x-go-name: StartTime
        description: Specify the date and time to filter jobs that were run during the specified timestamp. Specify the date and time in UTC format (YYYY-MM-DDTHH:MM:SSZ). The timestamp must be within six months from the current date. For example, if the current date is 2020-10-02, you can specify any date between 2020-04-03 to 2020-10-02.
        name: fromTime
        in: query
        schema:
          type: string
          format: date-time
      - x-go-name: EndTime
        description: Specify the date and time to filter jobs that were run until the specified timestamp. Specify the date and time in UTC format. The format is YYYY-MM-DDTHH:MM:SSZ.
        name: toTime
        in: query
        schema:
          type: string
          format: date-time
      - x-go-name: SortOrder
        description: Sort the API results by the scheduled time of the job, either in ascending or descending order. Set the sortOrder value to ASC or DESC. The default value is ASC.
        name: sortOrder
        in: query
        schema:
          type: string
      - x-go-name: PageToken
        description: Specify the token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NASGetAllJobsReportResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
    servers:
    - url: //apis.druva.com/phoenix
  /nas/v1/orgs/{OrgID}/reports/jobs/backups:
    get:
      description: Returns a list of all backup jobs for the NAS hosts.
      tags:
      - NAS
      summary: List all backup jobs
      operationId: NASGetBackupJobReportRequest
      security:
      - Bearer: []
      parameters:
      - description: Specify the organization ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: HostName
        description: Specify the name of the NAS host. Multiple host names can be separated by commas. Get the list of the NAS host names using the 'ListHost' API.
        name: hostName
        in: query
        schema:
          type: string
      - x-go-name: ProxyName
        description: Specify the name of the NAS proxy. Multiple proxy names can be separated by commas. Get the list of the NAS proxy names using the 'ListProxy' API.
        name: proxyName
        in: query
        schema:
          type: string
      - x-go-name: Status
        description: 'Specify the status of the job. This parameter can be set to one or more of the following values: Queued, Running, Successful, Successful with errors and Failed. Specify multiple status values by separating them with commas.'
        name: status
        in: query
        schema:
          type: string
      - x-go-name: StartTime
        description: Specify the date and time to filter jobs that were run during the specified timestamp. Specify the date and time in UTC format (YYYY-MM-DDTHH:MM:SSZ). The timestamp must be within six months from the current date. For example, if the current date is 2020-10-02, you can specify any date between 2020-04-03 to 2020-10-02.
        name: fromTime
        in: query
        schema:
          type: string
          format: date-time
      - x-go-name: EndTime
        description: Specify the date and time to filter jobs that were run until the specified timestamp. Specify the date and time in UTC format. The format is YYYY-MM-DDTHH:MM:SSZ.
        name: toTime
        in: query
        schema:
          type: string
          format: date-time
      - x-go-name: SortOrder
        description: Sort the API results by the scheduled time of the job, either in ascending or descending order. Set the sortOrder value to ASC or DESC. The default value is ASC.
        name: sortOrder
        in: query
        schema:
          type: string
      - x-go-name: PageToken
        description: Specify the token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Result schema for 200 Response of GET GetBackupJobReport
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NASGetBackupJobReportResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
    servers:
    - url: //apis.druva.com/phoenix
  /nas/v1/orgs/{OrgID}/reports/jobs/restores:
    get:
      description: Returns a list of all restore jobs for NAS hosts.
      tags:
      - NAS
      summary: List all restore jobs
      operationId: NASGetRestoreJobReportRequest
      security:
      - Bearer: []
      parameters:
      - description: Specify the organization ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: HostName
        description: Specify the name of the NAS host. Multiple host names can be separated by commas. Get the list of the NAS host names using the 'ListHost' API.
        name: hostName
        in: query
        schema:
          type: string
      - x-go-name: DestHostName
        description: Specify the name of the NAS host to which restore was initiated. Specify multiple host names by separating them with commas.
        name: destHostName
        in: query
        schema:
          type: string
      - x-go-name: ProxyName
        description: Specify the name of the NAS proxy. Multiple proxy names can be separated by commas. Get the list of the NAS proxy names using the 'ListProxy' API.
        name: proxyName
        in: query
        schema:
          type: string
      - x-go-name: Status
        description: 'Specify the status of the job. This parameter can be set to one or more of the following values: Queued, Running, Successful, Successful with errors and Failed. Specify multiple status values by separating them with commas.'
        name: status
        in: query
        schema:
          type: string
      - x-go-name: StartTime
        description: Specify the date and time to filter jobs that were run during the specified timestamp. Specify the date and time in UTC format (YYYY-MM-DDTHH:MM:SSZ). The timestamp must be within six months from the current date. For example, if the current date is 2020-10-02, you can specify any date between 2020-04-03 to 2020-10-02.
        name: fromTime
        in: query
        schema:
          type: string
          format: date-time
      - x-go-name: EndTime
        description: Specify the date and time to filter jobs that were run until the specified timestamp. Specify the date and time in UTC format. The format is YYYY-MM-DDTHH:MM:SSZ.
        name: toTime
        in: query
        schema:
          type: string
          format: date-time
      - x-go-name: SortOrder
        description: Sort the API results by the scheduled time of the job, either in ascending or descending order. Set the sortOrder value to ASC or DESC. The default value is ASC.
        name: sortOrder
        in: query
        schema:
          type: string
      - x-go-name: PageToken
        description: Specify the token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Result schema for 200 Response of GET GetBackupJobReport
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NASGetRestoreJobReportResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in the Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
    servers:
    - url: //apis.druva.com/phoenix
  /nas/v1/orgs/{OrgID}/reports/jobs/uploadlogs:
    get:
      description: Returns a list of all upload logs jobs for the NAS hosts.
      tags:
      - NAS
      summary: List all upload logs jobs
      operationId: NASGetUploadLogJobReportRequest
      security:
      - Bearer: []
      parameters:
      - description: Specify the organization ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: HostName
        description: Specify the name of the NAS host. Multiple host names can be separated by commas. Get the list of the NAS host names using the 'ListHost' API.
        name: hostName
        in: query
        schema:
          type: string
      - x-go-name: Status
        description: 'Specify the status of the job. This parameter can be set to one or more of the following values: Queued, Running, Successful, Successful with errors and Failed. Specify multiple status values by separating them with commas.'
        name: status
        in: query
        schema:
          type: string
      - x-go-name: StartTime
        description: Specify the date and time to filter jobs that were run during the specified timestamp. Specify the date and time in UTC format (YYYY-MM-DDTHH:MM:SSZ). The timestamp must be within six months from the current date. For example, if the current date is 2020-10-02, you can specify any date between 2020-04-03 to 2020-10-02.
        name: fromTime
        in: query
        schema:
          type: string
          format: date-time
      - x-go-name: EndTime
        description: Specify the date and time to filter jobs that were run until the specified timestamp. Specify the date and time in UTC format. The format is YYYY-MM-DDTHH:MM:SSZ.
        name: toTime
        in: query
        schema:
          type: string
          format: date-time
      - x-go-name: SortOrder
        description: Sort the API results by the scheduled time of the job, either in ascending or descending order. Set the sortOrder value to ASC or DESC. The default value is ASC.
        name: sortOrder
        in: query
        schema:
          type: string
      - x-go-name: PageToken
        description: Specify the token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Result schema for 200 Response of GET GetUploadLogJobReport
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NASGetUploadLogJobReportResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
    servers:
    - url: //apis.druva.com/phoenix
  /nas/v1/orgs/{OrgID}/reports/policies:
    get:
      description: Returns a list of all NAS policies.
      tags:
      - NAS
      summary: GetPolicies for policies
      operationId: NASGetPoliciesRequest
      security:
      - Bearer: []
      parameters:
      - description: Specify the organization ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: PageToken
        description: Specify the token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Result schema for 200 Response of GET GetPolicies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NASGetPoliciesResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
    servers:
    - url: //apis.druva.com/phoenix
  /nas/v1/orgs/{OrgID}/reports/proxies:
    get:
      description: Returns a list of all configured NAS proxies.
      tags:
      - NAS
      summary: ListProxy
      operationId: NASListProxyRequest
      security:
      - Bearer: []
      parameters:
      - x-go-name: ProxyName
        description: Specify the name of the NAS proxy. Multiple proxy names can be separated by commas. Get the list of the NAS proxy names using the 'ListProxy' API.
        name: proxyName
        in: query
        schema:
          type: string
      - description: Specify the organization ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: PageToken
        description: Specify the token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Result schema for 200 Response of GET ListProxyResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NASListProxyResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
    servers:
    - url: //apis.druva.com/phoenix
  /haydn/v1/nas/v1/jobs/backup:
    post:
      security:
      - Bearer: []
      description: Initiates an on-demand backup for a NAS backupset.
      tags:
      - NAS
      summary: On-demand backup
      operationId: CreateBackup
      parameters:
      - x-go-name: AuthEntities
        description: 'Specify the authorization information in the format: ''pType=org;pID=orgID'', where orgID is the ID of your organization. Get the ID of an organization using the ''List all organizations'' API.'
        name: authentities
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBackupTriggerArgs'
        required: true
        x-go-name: Params
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateBackupResponse'
        '400':
          description: For invalid or missing arguments.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Invalid or lack of valid authentication credentials.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal or unknown error.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
    servers:
    - url: //apis.druva.com/unity
  /haydn/v1/nas/v1/jobs/backup/{jobID}/cancel:
    put:
      security:
      - Bearer: []
      description: Cancels the specified backup job.
      tags:
      - NAS
      summary: Cancel backup job
      operationId: CancelBackup
      parameters:
      - x-go-name: AuthEntities
        description: 'Specify the authorization information in the format: ''pType=org;pID=orgID'', where orgID is the ID of your organization. Get the ID of an organization using the ''List all organizations'' API.'
        name: authentities
        in: header
        required: true
        schema:
          type: string
      - x-go-name: JobID
        description: Specify the ID of the job that you want to cancel. Get the ID of the job using the 'List all jobs' API.
        name: jobID
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Success
        '400':
          description: For invalid or missing arguments.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Invalid or lack of valid authentication credentials.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal or unknown error.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
    servers:
    - url: //apis.druva.com/unity
  /haydn/v1/nas/v1/jobs/restore:
    post:
      security:
      - Bearer: []
      description: Initiates an on-demand restore for a NAS backup set.
      tags:
      - NAS
      summary: On-demand restore
      operationId: CreateRestore
      parameters:
      - x-go-name: AuthEntities
        description: 'Specify the authorization information in the format: ''pType=org;pID=orgID'', where orgID is the ID of your organization. Get the ID of an organization using the ''List all organizations'' API.'
        name: authentities
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRestoreTriggerArgs'
        required: true
        x-go-name: Params
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateRestoreResponse'
        '400':
          description: For invalid or missing arguments.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Invalid or lack of valid authentication credentials.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal or unknown error.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
    servers:
    - url: //apis.druva.com/unity
  /haydn/v1/nas/v1/jobs/restore/{jobID}/cancel:
    put:
      security:
      - Bearer: []
      description: Cancels the specified restore job.
      tags:
      - NAS
      summary: Cancel restore job
      operationId: CancelRestore
      parameters:
      - x-go-name: AuthEntities
        description: 'Specify the authorization information in the format: ''pType=org;pID=orgID'', where orgID is the ID of your organization. Get the ID of an organization using the ''List all organizations'' API.'
        name: authentities
        in: header
        required: true
        schema:
          type: string
      - x-go-name: JobID
        description: Specify the ID of the job that you want to cancel. Get the ID of the job using the 'List all jobs' API.
        name: jobID
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Success
        '400':
          description: For invalid or missing arguments.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Invalid or lack of valid authentication credentials.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal or unknown error.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
    servers:
    - url: //apis.druva.com/unity
  /haydn/v1/{workloadName}/v1/jobs/backup:
    post:
      security:
      - Bearer: []
      description: Initiates an on-demand backup for a NAS backupset.
      tags:
      - NAS
      summary: On-demand backup
      operationId: CreateBackup
      parameters:
      - x-go-name: WorkloadName
        description: Specify the name of the workload. For example, 'nas'.
        name: workloadName
        in: path
        required: true
        schema:
          type: string
      - x-go-name: AuthEntities
        description: 'Specify the authorization information in the format: ''pType=org;pID=orgID'', where orgID is the ID of your organization. Get the ID of an organization using the ''List all organizations'' API.'
        name: authEntities
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBackupTriggerArgs'
        required: true
        x-go-name: Params
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateBackupResponse'
        '400':
          description: For invalid or missing arguments.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Invalid or lack of valid authentication credentials.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal or unknown error.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
    servers:
    - url: //govapis.druva.com/unity
  /haydn/v1/{workloadName}/v1/jobs/backup/{jobID}/cancel:
    put:
      security:
      - Bearer: []
      description: Cancels the specified backup job.
      tags:
      - NAS
      summary: Cancel backup job
      operationId: CancelBackup
      parameters:
      - x-go-name: WorkloadName
        description: Specify the name of the workload. For example, 'nas'.
        name: workloadName
        in: path
        required: true
        schema:
          type: string
      - x-go-name: AuthEntities
        description: 'Specify the authorization information in the format: ''pType=org;pID=orgID'', where orgID is the ID of your organization. Get the ID of an organization using the ''List all organizations'' API.'
        name: authEntities
        in: header
        required: true
        schema:
          type: string
      - x-go-name: JobID
        description: Specify the ID of the job that you want to cancel. Get the ID of the job using the 'List all jobs' API.
        name: jobID
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Success
        '400':
          description: For invalid or missing arguments.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Invalid or lack of valid authentication credentials.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal or unknown error.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
    servers:
    - url: //govapis.druva.com/unity
  /haydn/v1/{workloadName}/v1/jobs/restore:
    post:
      security:
      - Bearer: []
      description: Initiates an on-demand restore for a NAS backup set.
      tags:
      - NAS
      summary: On-demand restore
      operationId: CreateRestore
      parameters:
      - x-go-name: WorkloadName
        description: Specify the name of the workload. For example, 'nas'.
        name: workloadName
        in: path
        required: true
        schema:
          type: string
      - x-go-name: AuthEntities
        description: 'Specify the authorization information in the format: ''pType=org;pID=orgID'', where orgID is the ID of your organization. Get the ID of an organization using the ''List all organizations'' API.'
        name: authEntities
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRestoreTriggerArgs'
        required: true
        x-go-name: Params
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateRestoreResponse'
        '400':
          description: For invalid or missing arguments.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Invalid or lack of valid authentication credentials.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal or unknown error.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
    servers:
    - url: //govapis.druva.com/unity
  /haydn/v1/{workloadName}/v1/jobs/restore/{jobID}/cancel:
    put:
      security:
      - Bearer: []
      description: Cancels the specified restore job.
      tags:
      - NAS
      summary: Cancel restore job
      operationId: CancelRestore
      parameters:
      - x-go-name: WorkloadName
        description: Specify the name of the workload. For example, 'nas'.
        name: workloadName
        in: path
        required: true
        schema:
          type: string
      - x-go-name: AuthEntities
        description: 'Specify the authorization information in the format: ''pType=org;pID=orgID'', where orgID is the ID of your organization. Get the ID of an organization using the ''List all organizations'' API.'
        name: authEntities
        in: header
        required: true
        schema:
          type: string
      - x-go-name: JobID
        description: Specify the ID of the job that you want to cancel. Get the ID of the job using the 'List all jobs' API.
        name: jobID
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Success
        '400':
          description: For invalid or missing arguments.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Invalid or lack of valid authentication credentials.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal or unknown error.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/APIError'
    servers:
    - url: //govapis.druva.com/unity
components:
  schemas:
    NASBackupsetInfo:
      description: BackupsetInfo is response schema for GetBackupsets
      type: object
      properties:
        backupContent:
          $ref: '#/components/schemas/NASRuleStruct'
        backupEnabled:
          description: Specifies whether the backup is enabled for the backup set.
          type: boolean
          x-go-name: BackupEnabled
        backupPolicyID:
          description: The ID of your backup policy.
          format: int64
          type: integer
          x-go-name: BackupPolicyID
        backupPolicyName:
          description: Name of the backup policy attached to the backup set.
          type: string
          x-go-name: BackupPolicyName
        backupsetID:
          description: The ID of your backup set.
          format: int32
          type: integer
          x-go-name: BackupsetID
        backupsetName:
          description: The name of the backup set.
          type: string
          x-go-name: BackupsetName
        dataLock:
          description: The status indicating if Data Lock is enabled for the backup set
          type: boolean
          x-go-name: Immutability
        hostName:
          description: The name of NAS host/device.
          type: string
          x-go-name: HostName
        lastBackupDetails:
          $ref: '#/components/schemas/NASLastBackupDetailsStruct'
        organizationID:
          description: The ID of your organization.
          format: int32
          type: integer
          x-go-name: OrgID
        ltrEnabled:
          description: The status of the backup set whether enabled for long term retention. For example, True denotes that the backup set is enabled for LTR.
          type: boolean
          x-go-name: LTREnabled
        organizationName:
          description: The name of NAS organization.
          type: string
          x-go-name: OrgName
        proxyName (deprecated):
          description: The name of NAS proxy. (This is deprecated)
          type: string
          x-go-name: ProxyName
        poolName:
          description: The name of NAS pool.
          type: string
          x-go-name: PoolName
        shareID:
          description: The ID of NAS share.
          format: int32
          type: integer
          x-go-name: ShareID
        shareName:
          description: The name of NAS share.
          type: string
          x-go-name: ShareName
        storageName:
          description: The name of the storage.
          type: string
          x-go-name: StorageName
        warmTierDuration:
          description: Lists the duration in days for which the snapshot will reside in the warm tier of the AWS storage.
          type: integer
          format: int32
          x-go-name: WarmTierDuration
      x-go-name: BackupsetInfo
      x-go-package: phoenix/nas/cloud/report/spec/backupsets
    NASEnvironmentStruct:
      description: EnvironmentStruct struct holds the response for GetBackupJobsReport api
      type: object
      properties:
        diskReadRate:
          description: Specifies the bit rate for reading I/O by the agent. The Disk Read Rate is an average of the total data read with respect to the total time taken to read data at various intervals for all drives where data is distributed.
          type: string
          x-go-name: DiskReadRate
        diskReadRateInKBps:
          description: Specifies the bit rate in Kilobytes per second for reading I/O by the agent. The Disk Read Rate is an average of the total data read with respect to the total time taken to read data at various intervals for all drives where data is distributed.
          type: number
          format: double
          x-go-name: DiskReadRateInKBps
        networkRetries:
          description: Number of retries during the job due to network issues.
          type: integer
          format: int32
          x-go-name: NetworkRetries
        networkRetryDuration:
          description: Specifies the total time spent in the network retries. It represents the cumulative of all network session duration.
          type: string
          x-go-name: NetworkRetryDuration
        networkRetryDurationInSeconds:
          description: Specifies the total time spent in seconds in the network retries. It represents the cumulative of all network session duration.
          type: integer
          format: int64
          x-go-name: NetworkRetryDurationInSeconds
      x-go-name: EnvironmentStruct
      x-go-package: phoenix/nas/cloud/report/spec/jobs
    NASGetPoliciesResponse:
      description: GetPoliciesResponse is response schema for GetPolicies
      type: object
      properties:
        nextPageToken:
          description: The token to access the next page of results. This parameter will be empty for the last page of results.
          type: string
          x-go-name: OutToken
        policies:
          type: array
          items:
            $ref: '#/components/schemas/NASGetPolicies'
          x-go-name: Policies
      x-go-name: GetPoliciesResponse
      x-go-package: phoenix/nas/cloud/report/spec/policies
    NASGetBackupsetsResponse:
      description: GetBackupsetsResponse is response schema for GetBackupsets
      type: object
      properties:
        backupsets:
          type: array
          items:
            $ref: '#/components/schemas/NASBackupsetInfo'
          x-go-name: Backupsets
        nextPageToken:
          description: The token to access the next page of results. This parameter will be empty for the last page of results.
          type: string
          x-go-name: OutToken
      x-go-name: GetBackupsetsResponse
      x-go-package: phoenix/nas/cloud/report/spec/backupsets
    NASBackupContentStruct:
      description: BackupContentStruct is response schema for GetContentRules
      type: object
      properties:
        excludeExtension:
          description: The list of file types that are excluded from the backup. You can select pre-defined file types that you want to exclude from the backup.
          type: array
          items:
            type: string
          x-go-name: ExcludeExtension
        excludeFolders:
          description: The list of folders that are excluded from the backup. See <a href=https://help.druva.com/en/articles/8651422-about-data-protection-for-file-servers>Folders excluded from File server backup</a>.
          type: array
          items:
            type: string
          x-go-name: ExcludeFolders
        excludePattern:
          description: The list of file extensions that are excluded in the backup.
          type: array
          items:
            type: string
          x-go-name: ExcludePattern
        excludeType:
          description: The list of file types that are excluded from the backup. You can select pre-defined file types that you want to exclude from the backup.
          type: array
          items:
            type: string
          x-go-name: ExcludeType
        includeExtension:
          description: The list of file extensions that are included in the backup.
          type: array
          items:
            type: string
          x-go-name: IncludeExtension
        includeFolders:
          description: List of folders/directories included in the backup operation.
          type: array
          items:
            type: string
          x-go-name: IncludeFolders
        includePattern:
          description: The list of file patterns that are included in the backup.
          type: array
          items:
            type: string
          x-go-name: IncludePattern
        includeType:
          description: The list of file types that are included in the backup. You can select pre-defined file types that you want to include in the backup. See <a href=https://help.druva.com/en/articles/8651422-about-data-protection-for-file-servers>File types supported for backup</a>.
          type: array
          items:
            type: string
          x-go-name: IncludeType
        isCaseInsensitive:
          description: The status of the case insensitivity flag.
          type: boolean
          x-go-name: IsCaseInsensitive
      x-go-name: BackupContentStruct
      x-go-package: phoenix/nas/cloud/report/spec/contentrules
    NASGetAllJobsReport:
      description: GetAllJobsReport struct holds the response for GetAllJobsReport api
      type: object
      properties:
        backupContent:
          $ref: '#/components/schemas/NASRuleStruct'
        endTime:
          description: The time when the job operation completes. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: EndTime
        errorCode:
          description: 'Specifies the error code for the failed jobs. The possible values are:

            \"0\": If the job is successful

            <error_number>: If the job has failed'
          type: string
          x-go-name: ErrorCode
        errorMessage:
          description: Specifies the error message for the failed jobs. This field is empty if the job is successful.
          type: string
          x-go-name: ErrorMsg
        hostName:
          description: The name of NAS host/device.
          type: string
          x-go-name: HostName
        jobID:
          description: A unique identification number associated with the job.
          type: integer
          format: int32
          x-go-name: JobID
        jobType:
          description: The type of the job.
          type: string
          enum:
          - Backup
          - Restore
          - Log Request
          x-go-name: JobType
        organizationName:
          description: The name of the organization.
          type: string
          x-go-name: OrgName
        scheduleTime:
          description: The date and time when the job starts or is scheduled to start. The time is specified in UTC in the format YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: ScheduleTime
        proxyName:
          description: The name of NAS proxy.
          type: string
          x-go-name: ProxyName
        shareName:
          description: The name of NAS share.
          type: string
          x-go-name: ShareName
        startTime:
          description: The time when the job operation starts. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: StartTime
        status:
          description: Status of the job.
          type: string
          enum:
          - Queued
          - Running
          - Successful
          - Successful with errors
          - Failed
          x-go-name: Status
      x-go-name: GetAllJobsReport
      x-go-package: phoenix/nas/cloud/report/spec/jobs
    NASDataTransferStruct:
      description: DataTransferStruct struct holds the response for GetBackupJobsReport api
      type: object
      properties:
        backupDuration:
          description: Specifies the total time taken to upload data to the Cloud and CloudCache. Backup duration excludes the estimation time, network retry time, and the waiting for retry time.
          type: string
          x-go-name: BackupDuration
        backupDurationInSeconds:
          description: Specifies the total time taken in seconds to upload data to the Cloud and CloudCache. Backup duration excludes the estimation time, network retry time, and the waiting for retry time.
          type: integer
          format: int64
          x-go-name: BackupDurationInSeconds
        backupSpeed:
          description: Specifies the rate at which the source data is backed up to the Cloud.
          type: string
          x-go-name: BackupSpeed
        backupSpeedInKBps:
          description: Specifies the rate in Kilobytes per second at which the source data is backed up to the Cloud.
          type: number
          format: double
          x-go-name: BackupSpeedInKBps
        bandwidthConsumed:
          description: Specifies the bit rate to transfer data from the Cloud and CloudCache.
          type: string
          x-go-name: BandwidthConsumed
        bandwidthConsumedInKBps:
          description: Specifies the bit rate in Kilobytes per second to transfer data from the Cloud and CloudCache.
          type: number
          format: double
          x-go-name: BandwidthConsumedInKBps
        dataTransferCache:
          description: Specifies the incremental data that is uploaded to CloudCache after deduplication and compression.
          type: string
          x-go-name: DataTransferCache
        dataTransferCacheInBytes:
          description: Specifies the incremental data in bytes that is uploaded to CloudCache after deduplication and compression.
          type: integer
          format: uint64
          x-go-name: DataTransferCacheInBytes
        dataTransferCloud:
          description: Specifies the incremental data that is uploaded to the Cloud after deduplication and compression.
          type: string
          x-go-name: DataTransferCloud
        dataTransferCloudInBytes:
          description: Specifies the incremental data in bytes that is uploaded to the Cloud after deduplication and compression.
          type: integer
          format: uint64
          x-go-name: DataTransferCloudInBytes
      x-go-name: DataTransferStruct
      x-go-package: phoenix/nas/cloud/report/spec/jobs
    NASGetPolicies:
      description: GetPolicies struct holds the response for GetPolicies api
      type: object
      properties:
        automaticRetry:
          description: Whether automatic retry is enabled.
          type: boolean
          x-go-name: AutomaticRetry
        dataLock:
          description: The status indicating if Data Lock is enabled in the backup policy
          type: boolean
          x-go-name: Immutability
        description:
          description: Type of the policy.
          type: string
          x-go-name: Description
        fullScanSchedule:
          $ref: '#/components/schemas/NASFullScanSchedule'
        ignoreFirstBackupDuration:
          description: Whether backup duration is to be ignored for first backup.
          type: boolean
          x-go-name: IgnoreBackupDuration
        maxRetryCount:
          description: Maximum retry count for job operation.
          type: integer
          format: int64
          x-go-name: MaxRetryCount
        maxRetryDuration:
          description: Specifies the wait interval before the job is retried.
          type: string
          x-go-name: MaxRetryDuration
        maxRetryDurationInSeconds:
          description: Specifies the wait interval in seconds before the job is retried.
          type: integer
          format: int64
          x-go-name: MaxRetryDurationInSeconds
        age:
          description: If ScanMode is SmartScan, the number of days upto which files updated are to be backed up.
          type: string
          x-go-name: Age
        organizationName:
          description: Name of the organization.
          type: string
          x-go-name: OrgName
        policyID:
          description: The ID of your backup policy.
          type: integer
          format: int64
          x-go-name: PolicyID
        policyName:
          description: Name of the policy.
          type: string
          x-go-name: PolicyName
        retention:
          $ref: '#/components/schemas/NASRetentionPolicy'
        scanMode:
          description: Scan mode of the policy.
          type: string
          x-go-name: ScanMode
        schedules:
          description: Schedule info for the backup.
          type: array
          items:
            $ref: '#/components/schemas/NASSchedules'
          x-go-name: Schedules
        aclFlag:
          description: Whether ACL scan flag in enabled.
          type: boolean
          x-go-name: ACLFlag
      x-go-name: GetPolicies
      x-go-package: phoenix/nas/cloud/report/spec/policies
    NASListProxyResponse:
      description: ListProxyResponse is the response schema for ListProxy
      type: object
      properties:
        nextPageToken:
          description: The token to access the next page of results. This parameter will be empty for the last page of results.
          type: string
          x-go-name: OutToken
        proxies:
          type: array
          items:
            $ref: '#/components/schemas/NASProxyResponse'
          x-go-name: Proxies
      x-go-name: ListProxyResponse
      x-go-package: phoenix/nas/cloud/report/spec/proxies
    NASRestoreEnvironmentStruct:
      description: RestoreEnvironmentStruct struct holds the response for GetRestoreJobsReport api
      type: object
      properties:
        diskWriteRate:
          description: Specifies the bit rate for writing I/O by the agent. The Disk Write Rate is the average of the total data written with respect to the total time taken to write data at various intervals.
          type: string
          x-go-name: DiskWriteRate
        diskWriteRateInKBps:
          description: Specifies the bit rate in Kilobytes per second for writing I/O by the agent. The Disk Write Rate is the average of the total data written with respect to the total time taken to write data at various intervals.
          type: number
          format: double
          x-go-name: DiskWriteRateInKBps
        networkRetries:
          description: Number of retries during the job due to network issues.
          type: integer
          format: int32
          x-go-name: NetworkRetries
        networkRetryDuration:
          description: Specifies the total time spent in the network retries. It represents the cumulative of all network session duration.
          type: string
          x-go-name: NetworkRetryDuration
        networkRetryDurationInSeconds:
          description: Specifies the total time spent in seconds in the network retries. It represents the cumulative of all network session duration.
          type: integer
          format: int64
          x-go-name: NetworkRetryDurationInSeconds
      x-go-name: RestoreEnvironmentStruct
      x-go-package: phoenix/nas/cloud/report/spec/jobs
    NASGetRestoreJobReportResponse:
      description: GetRestoreJobReportResponse is the response schema for GetRestoreJobReport
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/NASGetRestoreJobsReport'
          x-go-name: Jobs
        nextPageToken:
          description: The token to access the next page of results. This parameter will be empty for the last page of results.
          type: string
          x-go-name: OutToken
      x-go-name: GetRestoreJobReportResponse
      x-go-package: phoenix/nas/cloud/report/spec/jobs
    NASGetRestoreJobsReport:
      description: GetRestoreJobsReport struct holds the response for GetRestoreJobsReport api
      type: object
      properties:
        backupContent:
          $ref: '#/components/schemas/NASRuleStruct'
        backupsetID:
          description: The ID of your backup set.
          format: int32
          type: integer
          x-go-name: BackupsetID
        destinationHostName:
          description: Name of the NAS host to which the restore was initiated.
          type: string
          x-go-name: DestinationHostName
        destinationProxyName:
          description: Name of the NAS proxy which performed the restore.
          type: string
          x-go-name: DestinationProxyName
        destinationShareName:
          description: Name of the NAS share to which the restore was initiated.
          type: string
          x-go-name: DestinationShareName
        environmentDetails:
          $ref: '#/components/schemas/NASRestoreEnvironmentStruct'
        executionDetails:
          $ref: '#/components/schemas/NASRestoreExecutionDetailsStruct'
        hostName:
          description: The name of NAS host.
          type: string
          x-go-name: HostName
        jobID:
          description: A unique identification number associated with the job.
          type: integer
          format: int32
          x-go-name: JobID
        jobType:
          description: The type of the job.
          type: string
          enum:
          - Backup
          - Restore
          - Log Request
          x-go-name: JobType
        organizationID:
          description: The ID of your organization.
          format: int32
          type: integer
          x-go-name: OrgID
        organizationName:
          description: The name of the organization.
          type: string
          x-go-name: OrgName
        proxyName:
          description: The name of NAS proxy.
          type: string
          x-go-name: ProxyName
        shareID:
          description: The ID of NAS share.
          format: int32
          type: integer
          x-go-name: ShareID
        shareName:
          description: The name of NAS share.
          type: string
          x-go-name: ShareName
      x-go-name: GetRestoreJobsReport
      x-go-package: phoenix/nas/cloud/report/spec/jobs
    Snapshot:
      description: Snapshot is schema for Snapshot entity
      type: object
      properties:
        attributes:
          x-go-name: Attributes
        creationTime:
          type: integer
          format: int64
          x-go-name: CreationTime
        cver:
          type: integer
          format: int32
          x-go-name: CVersion
        ectime:
          type: integer
          format: int32
          x-go-name: ECtime
        filescurrent:
          type: integer
          format: int32
          x-go-name: FilesCurrent
        id:
          type: string
          x-go-name: ID
        isAnomalous:
          type: boolean
          x-go-name: IsAnomalous
        isLocked:
          type: boolean
          x-go-name: IsLocked
        isPinned:
          type: boolean
          x-go-name: IsPinned
        isQuarantined:
          type: boolean
          x-go-name: IsQuarantined
        isVirtual:
          type: boolean
          x-go-name: IsVirtual
        lsRPLckOwns:
          x-go-name: LsRPLckOwns
        name:
          type: string
          x-go-name: Name
        rpProperties:
          x-go-name: RPProperties
        size:
          type: integer
          format: int64
          x-go-name: Size
        snapshotTime:
          type: integer
          format: int64
          x-go-name: SnapshotTime
        snapshotType:
          type: string
          x-go-name: Type
      x-go-package: phoenix/storageconfig/configserver/spec/snapshot
    NASProxyResponse:
      description: ProxyResponse is the response part of the  schema for ListProxy
      type: object
      properties:
        activationTime:
          description: The time at which the NAS proxy was activated for Phoenix.
          type: string
          x-go-name: ActivationTime
        isProxyConnected:
          description: The connection status of the NAS proxy.
          type: boolean
          x-go-name: IsProxyConnected
        organizationName:
          description: The name of organization.
          type: string
          x-go-name: OrganizationName
        platform:
          description: The platform of the NAS proxy.
          type: string
          x-go-name: Platform
        proxyName:
          description: The name of NAS proxy.
          type: string
          x-go-name: ProxyName
        version:
          description: The version of NAS proxy.
          type: string
          x-go-name: Version
      x-go-name: ProxyResponse
      x-go-package: phoenix/nas/cloud/report/spec/proxies
    NASListHostResponse:
      description: ListHostResponse is the response schema for ListHost
      type: object
      properties:
        hosts:
          type: array
          items:
            $ref: '#/components/schemas/NASHostResponse'
          x-go-name: Hosts
        nextPageToken:
          description: The token to access the next page of results. This parameter will be empty for the last page of results.
          type: string
          x-go-name: OutToken
      x-go-name: ListHostResponse
      x-go-package: phoenix/nas/cloud/report/spec/hosts
    NASGetUploadLogJobsReport:
      description: GetUploadLogJobsReport struct holds the response for GetUploadLogJobsReport api
      type: object
      properties:
        executionDetails:
          $ref: '#/components/schemas/NASUploadLogExecDetailsStruct'
        hostName:
          description: Name of the NAS host on which the backup was initiated.
          type: string
          x-go-name: SourceDeviceName
        jobID:
          description: A unique identification number associated with the job.
          type: integer
          format: int32
          x-go-name: JobID
        jobType:
          description: The type of the job.
          type: string
          enum:
          - Backup
          - Restore
          - Log Request
          x-go-name: JobType
        organizationName:
          description: The name of the organization.
          type: string
          x-go-name: OrgName
      x-go-name: GetUploadLogJobsReport
      x-go-package: phoenix/nas/cloud/report/spec/jobs
    NASUploadLogExecDetailsStruct:
      description: UploadLogExecDetailsStruct struct holds the response for GetUploadLogJobsReport api
      type: object
      properties:
        endTime:
          description: The time when the job operation completes. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: EndTime
        errorCode:
          description: "Specifies the error code for the failed jobs. The possible values are:\n \\\"0\\\": If the job is successful\n<error_number>: If the job has failed"
          type: string
          x-go-name: ErrorCode
        errorMessage:
          description: Specifies the error message for the failed jobs. This field is empty if the job is successful.
          type: string
          x-go-name: ErrorMsg
        logsExpiryTime:
          description: Expiry time of the uploaded logs. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: LogsExpiryTime
        logsSize:
          description: Specifies the size of the extracted log files.
          type: string
          x-go-name: LogsSize
        logsSizeInBytes:
          description: Specifies the size of the extracted log files in bytes.
          type: integer
          format: uint64
          x-go-name: LogsSizeInBytes
        scheduleTime:
          description: The date and time when the job starts or is scheduled to start. The time is specified in UTC in the format YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: ScheduleTime
        sourceJobID:
          description: The ID of the job for which logs are being requested.
          type: integer
          format: int32
          x-go-name: SourceJobID
        sourceJobType:
          description: The job type for which logs are being requested.
          type: string
          x-go-name: SourceJobLogType
        startTime:
          description: The time when the job operation starts. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: StartTime
        status:
          description: Status of the job.
          type: string
          enum:
          - Queued
          - Running
          - Successful
          - Successful with errors
          - Failed
          x-go-name: Status
      x-go-name: UploadLogExecDetailsStruct
      x-go-package: phoenix/nas/cloud/report/spec/jobs
    NASExecutionDetailsStruct:
      description: ExecutionDetailsStruct struct holds the response for GetBackupJobsReport api
      type: object
      properties:
        endTime:
          description: The time when the job operation completes. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: EndTime
        errorCode:
          description: "Specifies the error code for the failed jobs. The possible values are:\n \\\"0\\\": If the job is successful\n<error_number>: If the job has failed"
          type: string
          x-go-name: ErrorCode
        errorMessage:
          description: Specifies the error message for the failed jobs. This field is empty if the job is successful.
          type: string
          x-go-name: ErrorMsg
        scanMode:
          description: Scanning mode of the job.
          type: string
          x-go-name: ScanMode
        scheduleTime:
          description: The date and time when the job starts or is scheduled to start. The time is specified in UTC in the format YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: ScheduleTime
        startTime:
          description: The time when the job operation starts. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: StartTime
        status:
          description: Status of the job.
          type: string
          enum:
          - Queued
          - Running
          - Successful
          - Successful with errors
          - Failed
          x-go-name: Status
      x-go-name: ExecutionDetailsStruct
      x-go-package: phoenix/nas/cloud/report/spec/jobs
    NASGetAllJobsReportResponse:
      description: GetAllJobsReportResponse is the response schema for GetAllJobsReport
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/NASGetAllJobsReport'
          x-go-name: Jobs
        nextPageToken:
          description: The token to access the next page of results. This parameter will be empty for the last page of results.
          type: string
          x-go-name: OutToken
      x-go-name: GetAllJobsReportResponse
      x-go-package: phoenix/nas/cloud/report/spec/jobs
    NASRuleStruct:
      description: RuleStruct is response schema for GetContentRules
      type: object
      properties:
        backupContent:
          $ref: '#/components/schemas/NASBackupContentStruct'
        organizationName:
          description: The name of NAS organization.
          type: string
          x-go-name: OrgName
        ruleName:
          description: Name of the content rule.
          type: string
          x-go-name: RuleName
        ruleType:
          description: The data that is backed up on a server.
          type: string
          x-go-name: RuleType
      x-go-name: RuleStruct
      x-go-package: phoenix/nas/cloud/report/spec/contentrules
    ListSnapshotsResponse:
      description: ListSnapshotsResponse is the response schema for List Snapshots API
      type: object
      properties:
        nextPageToken:
          type: string
          x-go-name: NextPageToken
        snapshots:
          type: array
          items:
            $ref: '#/components/schemas/Snapshot'
          x-go-name: Snapshots
      x-go-package: phoenix/storageconfig/configserver/spec/snapshot
    ServiceError:
      description: Service Error
      type: object
      title: ServiceError represents an error with an associated error code.
      properties:
        code:
          type: integer
          format: int64
          x-go-name: Code
          description: Error Code
        message:
          type: string
          description: Application specific error message
      x-go-package: vendor/druva.com/godevkit/errortype
    NASSchedules:
      description: Schedules struct holds the response for GetPolicies api
      type: object
      properties:
        bandwidth:
          description: Specifies the bandwidth that each resource can consume while backing up data to the Cloud.
          type: string
          x-go-name: Bandwidth
        bandwidthInKBps:
          description: Specifies the bandwidth in Kilobytes per second that each resource can consume while backing up data to the Cloud.
          type: number
          format: double
          x-go-name: BandwidthInKBps
        duration:
          description: Specifies the duration after which you want backup operations to stop.
          type: string
          x-go-name: Duration
        durationInSeconds:
          description: Specifies the duration in seconds after which you want backup operations to stop.
          type: integer
          format: int64
          x-go-name: DurationInSeconds
        repeatOn:
          $ref: '#/components/schemas/JSONStringList'
        startAt:
          description: The start hour of the backup operation.
          type: string
          x-go-name: StartAt
      x-go-name: Schedules
      x-go-package: phoenix/nas/cloud/report/spec/policies
    NASRetentionPolicy:
      description: RetentionPolicy struct holds the response for GetPolicies api
      type: object
      properties:
        allSnapshots:
          description: The number of days for which daily backup restore points are to be retained.
          type: string
          x-go-name: Daily
        monthly:
          description: The number of months for which monthly backup restore points are to be retained.
          type: string
          x-go-name: Monthly
        weekly:
          description: The number of weeks for which weekly backup restore points are to be retained.
          type: string
          x-go-name: Weekly
        yearly:
          description: The number of years for which yearly backup restore points are to be retained.
          type: string
          x-go-name: Yearly
        ltrEnabled:
          description: The status of the backup set whether enabled for long term retention. For example, True denotes that the backup set is enabled for LTR.
          type: boolean
          x-go-name: LTREnabled
        warmTierDuration:
          description: Lists the duration in days for which the snapshot will reside in the warm tier of the AWS storage.
          type: integer
          format: int32
          x-go-name: WarmTierDuration
      x-go-name: RetentionPolicy
      x-go-package: phoenix/nas/cloud/report/spec/policies
    NASHostResponse:
      description: HostResponse is the response part of the schema for ListHost
      type: object
      properties:
        description:
          description: The description of NAS host.
          type: string
          x-go-name: Description
        hostFQDN:
          description: Fully qualified domain name of the NAS host.
          type: string
          x-go-name: NasDeviceFQDN
        hostName:
          description: The name of NAS host.
          type: string
          x-go-name: HostName
        organizationName:
          description: The name of organization.
          type: string
          x-go-name: OrganizationName
        shares:
          type: array
          items:
            $ref: '#/components/schemas/NASShare'
          x-go-name: Shares
      x-go-name: HostResponse
      x-go-package: phoenix/nas/cloud/report/spec/hosts
    NASGetBackupJobReportResponse:
      description: GetBackupJobReportResponse is the response schema for GetBackupJobReport
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/NASGetBackupJobsReport'
          x-go-name: Jobs
        nextPageToken:
          description: The token to access the next page of results. This parameter will be empty for the last page of results.
          type: string
          x-go-name: OutToken
      x-go-name: GetBackupJobReportResponse
      x-go-package: phoenix/nas/cloud/report/spec/jobs
    NASGetBackupJobsReport:
      description: GetBackupJobsReport struct holds the response for GetBackupJobsReport api
      type: object
      properties:
        backupContent:
          $ref: '#/components/schemas/NASRuleStruct'
        backupPolicyID:
          description: The ID of your backup policy.
          format: int32
          type: integer
          x-go-name: BackupPolicyID
        backupPolicyName:
          description: The name of the backup policy.
          type: string
          x-go-name: BackupPolicyName
        backupsetID:
          description: The ID of your backup set.
          format: int32
          type: integer
          x-go-name: BackupsetID
        dataTransfer:
          $ref: '#/components/schemas/NASDataTransferStruct'
        environmentDetails:
          $ref: '#/components/schemas/NASEnvironmentStruct'
        estimationDetails:
          $ref: '#/components/schemas/NASEstimationDetailsStruct'
        executionDetails:
          $ref: '#/components/schemas/NASExecutionDetailsStruct'
        hostName:
          description: The name of NAS host/device.
          type: string
          x-go-name: HostName
        jobID:
          description: A unique identification number associated with the job.
          type: integer
          format: int32
          x-go-name: JobID
        jobType:
          description: The type of the job.
          type: string
          enum:
          - Backup
          - Restore
          - Log Request
          x-go-name: JobType
        organizationID:
          description: The ID of your organization.
          format: int32
          type: integer
          x-go-name: OrgID
        organizationName:
          description: The name of the organization.
          type: string
          x-go-name: OrgName
        proxyName:
          description: The name of NAS proxy.
          type: string
          x-go-name: ProxyName
        shareID:
          description: The ID of NAS share.
          format: int32
          type: integer
          x-go-name: ShareID
        shareName:
          description: The name of NAS share.
          type: string
          x-go-name: ShareName
      x-go-name: GetBackupJobsReport
      x-go-package: phoenix/nas/cloud/report/spec/jobs
    NASFullScanSchedule:
      description: FullScanSchedule struct holds the response for GetPolicies api
      type: object
      properties:
        bandwidth:
          description: Specifies the bandwidth that each resource can consume while backing up data to the Cloud.
          type: string
          x-go-name: Bandwidth
        bandwidthInKBps:
          description: Specifies the bandwidth in Kilobytes per second that each resource can consume while backing up data to the Cloud.
          type: number
          format: double
          x-go-name: BandwidthInKBps
        duration:
          description: Specifies the duration after which you want backup operations to stop.
          type: string
          x-go-name: Duration
        durationInSeconds:
          description: Specifies the duration in seconds after which you want backup operations to stop.
          type: integer
          format: int64
          x-go-name: DurationInSeconds
        preferredDay:
          $ref: '#/components/schemas/JSONStringList'
        scanSchedule:
          description: The schedule of the scan.
          type: string
          x-go-name: NoOfWeeks
        startAt:
          description: The start hour of the backup operation.
          type: string
          x-go-name: StartAt
      x-go-name: FullScanSchedule
      x-go-package: phoenix/nas/cloud/report/spec/policies
    NASRestoreExecutionDetailsStruct:
      description: RestoreExecutionDetailsStruct struct holds the response for GetRestoreJobsReport api
      type: object
      properties:
        bandwidthConsumed:
          description: Specifies the bit rate to transfer data from the Cloud and CloudCache.
          type: string
          x-go-name: BandwidthConsumed
        bandwidthConsumedInKBps:
          description: Specifies the bit rate in Kilobytes per second to transfer data from the Cloud and CloudCache.
          type: number
          format: double
          x-go-name: BandwidthConsumedInKBps
        endTime:
          description: The time when the job operation completes. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: EndTime
        errorCode:
          description: "Specifies the error code for the failed jobs. The possible values are:\n \\\"0\\\": If the job is successful\n<error_number>: If the job has failed"
          type: string
          x-go-name: ErrorCode
        errorMessage:
          description: Specifies the error message for the failed jobs. This field is empty if the job is successful.
          type: string
          x-go-name: ErrorMsg
        fileSizeDistribution:
          description: File size distribution of the files restored during the job.
          type: object
          additionalProperties:
            type: string
          x-go-name: FileSizeDistribution
        restoredData:
          description: Specifies the total amount of data restored.
          type: string
          x-go-name: RestoredData
        restoredDataInBytes:
          description: Specifies the total amount of data restored in bytes.
          type: integer
          format: uint64
          x-go-name: RestoredDataInBytes
        restoredItems:
          description: Files/folders restored on NAS host.
          type: string
          x-go-name: RestoredItems
        scheduleTime:
          description: The date and time when the job starts or is scheduled to start. The time is specified in UTC in the format YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: ScheduleTime
        startTime:
          description: The time when the job operation starts. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: StartTime
        status:
          description: Status of the job.
          type: string
          enum:
          - Queued
          - Running
          - Successful
          - Successful with errors
          - Failed
          x-go-name: Status
      x-go-name: RestoreExecutionDetailsStruct
      x-go-package: phoenix/nas/cloud/report/spec/jobs
    NASLastBackupDetailsStruct:
      description: LastBackupDetailsStruct is response schema for GetBackupsets
      type: object
      properties:
        jobID:
          description: A unique identification number associated with the job. This parameter will be skipped if the value is empty.
          type: integer
          format: int32
          x-go-name: JobID
        status:
          description: Status of the job. This parameter will be skipped if the value is empty.
          type: string
          x-go-name: Status
      x-go-name: LastBackupDetailsStruct
      x-go-package: phoenix/nas/cloud/report/spec/backupsets
    NASShare:
      description: Share is the response part of the schema for HostResponse, it represents a NAS Share
      type: object
      properties:
        shareName:
          description: The name of the NAS share.
          type: string
          x-go-name: ShareName
        shareType:
          description: The type of the NAS share.
          type: string
          x-go-name: ShareType
      x-go-name: Share
      x-go-package: phoenix/nas/cloud/report/spec/hosts
    NASGetContentRulesResponse:
      description: GetContentRulesResponse is response schema for GetContentRules
      type: object
      properties:
        contentRules:
          type: array
          items:
            $ref: '#/components/schemas/NASRuleStruct'
          x-go-name: ContentRules
        nextPageToken:
          description: The token to access the next page of results. This parameter will be empty for the last page of results.
          type: string
          x-go-name: OutToken
      x-go-name: GetContentRulesResponse
      x-go-package: phoenix/nas/cloud/report/spec/contentrules
    JSONStringList:
      description: JSONStringList is data type to be used in model definition for data that is string:interface map in memory but stored as JSON string in DB
      type: array
      items:
        type: string
      x-go-package: phoenix/pkg/dlutil
    NASGetUploadLogJobReportResponse:
      description: GetUploadLogJobReportResponse is the response schema for GetUploadLogJobReport
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/NASGetUploadLogJobsReport'
          x-go-name: Jobs
        nextPageToken:
          description: The token to access the next page of results. This parameter will be empty for the last page of results.
          type: string
          x-go-name: OutToken
      x-go-name: GetUploadLogJobReportResponse
      x-go-package: phoenix/nas/cloud/report/spec/jobs
    NASEstimationDetailsStruct:
      description: EstimationDetailsStruct struct holds the response for GetBackupJobsReport api
      type: object
      properties:
        estimationTimeTaken:
          description: Specifies the approximate time taken to scan the data.
          type: string
          x-go-name: EstimationTimeTaken
        estimationTimeTakenInSeconds:
          description: Specifies the approximate time taken in seconds to scan the data.
          type: integer
          format: int64
          x-go-name: EstimationTimeTakenInSeconds
        fileSizeDistribution:
          description: File size distribution of the files backed up during the job.
          type: object
          additionalProperties:
            type: string
          x-go-name: FileSizeDistribution
        filesAdded:
          description: Number of files added at source during the job.
          type: integer
          format: int64
          x-go-name: FilesAdded
        filesChanged:
          description: Number of files changed at source during the job.
          type: integer
          format: int64
          x-go-name: FilesChanged
        filesRemoved:
          description: Number of files removed at source during the job.
          type: integer
          format: int64
          x-go-name: FilesRemoved
        filesScanned:
          description: Number of files scanned at source during the job.
          type: integer
          format: int64
          x-go-name: FilesScanned
        sourceDataScanned:
          description: Specifies the data scanned in at the source in order to backup.
          type: string
          x-go-name: SourceDataScanned
        sourceDataScannedInBytes:
          description: Specifies the data scanned in bytes at the source in order to backup.
          type: integer
          format: uint64
          x-go-name: SourceDataScannedInBytes
      x-go-name: EstimationDetailsStruct
      x-go-package: phoenix/nas/cloud/report/spec/jobs
    CreateBackupTriggerArgs:
      description: CreateBackupTriggerArgs bundles all job creation params in single data type.
      type: object
      required:
      - backupsetID
      properties:
        backupsetID:
          description: Specify the ID of the backup set. Get the ID using the 'List backup sets' API.
          type: integer
          format: int64
          x-go-name: BackupsetID
      x-go-name: TriggerArgs
      x-go-package: git.druva.org/foundation/jobmgmt/haydn/spec/enterpriseworkload/backup/base
    JobParams:
      description: Specify job parameters needed for restoring snapshot.
      type: object
      properties:
        destinationFqdn:
          description: Specify the destination FQDN where the data will be restored.
          type: string
          x-go-name: DestinationFQDN
        destinationPath:
          description: Specify the destination path where the data will be restored.
          type: string
          x-go-name: DestinationPath
        destinationShare:
          description: Specify the destination share where the data will be restored.
          type: string
          x-go-name: DestinationShare
        destinationShareID:
          description: Specify destination share ID for which the data will be restored.
          type: integer
          format: int64
          x-go-name: DestinationShareID
        deviceID:
          description: Specify destination NAS device ID where the data will be restored.
          type: integer
          format: int64
          x-go-name: DeviceID
        fileHandlingOption:
          description: Spceify file handling option. Enter '1' to Always overwrite, '2' to Always skip, '3' to Restore and move original to location, and '4' to Overwrite if original file is older.
          type: integer
          format: int64
          x-go-name: FileHandlingOption
        originalLocationRestore:
          description: Specify restore location. Set the value to 'true' for origial location restore, else set it to 'false' for alternate location restore.
          type: boolean
          x-go-name: OriginalLocationRestore
        preserveOriginalDirectoryStructure:
          description: Specify directory structure. Set the value to 'true' to preserve original directory structure in case of alternate restore, else set it to 'false'.
          type: boolean
          x-go-name: PreserveOriginalDirectoryStructure
        snapshotState:
          description: Specify state of the snapshot. For example, 'hot', 'warm' or 'cold'.
          type: string
          x-go-name: SnapshotState
      x-go-package: git.druva.org/foundation/jobmgmt/haydn/spec/enterpriseworkload/restore/base
    APIError:
      description: APIError defines an application error result format
      type: object
      properties:
        code:
          type: string
          x-go-name: Code
        data:
          type: object
          additionalProperties:
            type: object
          x-go-name: Data
        message:
          type: string
          x-go-name: Message
        retryable:
          type: boolean
          x-go-name: Retry
      x-go-package: phoenix/vendor/druva.com/godevkit/errortype
    CreateRestoreResponse:
      description: CreateResponse is response schema for Create Request
      type: object
      properties:
        job:
          $ref: '#/components/schemas/Job'
      x-go-name: CreateResponse
      x-go-package: git.druva.org/foundation/jobmgmt/haydn/spec/enterpriseworkload/restore/base
    CreateBackupResponse:
      description: CreateResponse is response schema for Create Request
      type: object
      properties:
        job:
          $ref: '#/components/schemas/Job'
      x-go-name: CreateResponse
      x-go-package: git.druva.org/foundation/jobmgmt/haydn/spec/enterpriseworkload/backup/base
    RWCConfig:
      description: Specify parameters related to restore with confidence.
      type: object
      properties:
        continueIrrespectiveOfSnapshotState:
          description: Specify if the user wants to skip restore with confidence for 'hot' and 'cold' snapshot state. Set the value to 'true' to skip restore with confidence for 'hot' and 'cold' snapshot state. The default value is false.
          type: boolean
          x-go-name: ContinueIrrespectiveOfSnapshotState
        doRWC:
          description: Specify whether the user wants to perform restore with confidence. Set the value to 'true' to perform restore with confidence, else set it to 'false'.
          type: boolean
          x-go-name: DoRWC
      x-go-package: git.druva.org/foundation/jobmgmt/haydn/spec/enterpriseworkload/restore/base
    CreateRestoreTriggerArgs:
      description: CreateRestoreTriggerArgs bundles all job creation params in single data type.
      type: object
      required:
      - backupsetID
      - snapshotID
      properties:
        backupsetID:
          description: Specify the ID of the backup set. Get the ID using the 'List backup sets' API.
          type: integer
          format: int32
          x-go-name: BackupsetID
        jobParams:
          $ref: '#/components/schemas/JobParams'
        restoreType:
          description: Enter 'RegularRestore' as the restore type.
          type: string
          x-go-name: RestoreType
        rwcConfig:
          $ref: '#/components/schemas/RWCConfig'
        snapshotID:
          description: Specify the ID of the snapshot. Get the ID using the 'List Snapshots' API.
          type: string
          x-go-name: SnapshotID
        snapshotName:
          description: Specify the name of the snapshot. Get the name using 'List Snapshots' API.
          type: string
          x-go-name: SnapshotName
        sourceList:
          description: Specify the list of selected files or folders to restore. Get the list using 'List RP directory' API.
          type: array
          items:
            type: string
          x-go-name: SourceList
      x-go-name: TriggerArgs
      x-go-package: git.druva.org/foundation/jobmgmt/haydn/spec/enterpriseworkload/restore/base
    Job:
      description: Job defines the schema for a job
      type: object
      properties:
        actualErrorCode:
          description: Actual error code for failed jobs.
          type: string
          x-go-name: ActualErrorCode
        attemptNo:
          description: Job retry attempt number.
          type: integer
          format: int64
          x-go-name: AttemptNo
        createdTS:
          description: Timestamp in seconds when job is created.
          type: integer
          format: int64
          x-go-name: CreatedTS
        endedTS:
          description: Timestamp in seconds when job is ended.
          type: integer
          format: int64
          x-go-name: EndedTS
        entityID:
          description: The ID of the backup set.
          type: integer
          format: int64
          x-go-name: EntityID
        entityName:
          description: The name of the backup set.
          type: string
          x-go-name: EntityName
        entityType:
          description: The type of the backup set.
          type: string
          x-go-name: EntityType
        errorCategory:
          description: Category of error for failed jobs.
          type: string
          x-go-name: ErrorCategory
        errorCode:
          description: Error code for failed jobs.
          type: integer
          format: int64
          x-go-name: ErrorCode
        errorDetails:
          $ref: '#/components/schemas/JSONMap'
        errorMsg:
          description: Error message for failed jobs.
          type: string
          x-go-name: ErrorMsg
        extendedParams:
          description: Additional parameters required for job execution.
          type: object
          additionalProperties:
            type: object
          x-go-name: ExtendedParams
        globalCustomerID:
          description: Unique global customer ID.
          type: string
          x-go-name: GlobalCustomerID
        jobConfig:
          $ref: '#/components/schemas/JSONMap'
        jobID:
          description: A unique identification number associated with the job.
          type: integer
          format: int64
          x-go-name: JobID
        jobType:
          description: Type of the job.
          type: string
          x-go-name: JobType
        percent:
          description: Percentage of job completed.
          type: integer
          format: int64
          x-go-name: Percent
        primaryAuthEntityID:
          description: Primary authorization entity ID. Value is ID of your organization.
          type: string
          x-go-name: PrimaryAuthEntityID
        primaryAuthEntityType:
          description: Type of primary authorization entity ID. The value is 'org'.
          type: string
          x-go-name: PrimaryAuthEntityType
        productCustomerID:
          description: Customer ID specific to the product.
          type: integer
          format: int64
          x-go-name: ProductCustomerID
        productID:
          description: Phoenix product ID. The value is 12289.
          type: integer
          format: int32
          x-go-name: ProductID
        requestParams:
          $ref: '#/components/schemas/JSONMap'
        resourceID:
          description: The share ID of the backup set.
          type: integer
          format: int64
          x-go-name: ResourceID
        resourceName:
          description: The share name of the backup set.
          type: string
          x-go-name: ResourceName
        resourceType:
          description: Type of the resource. The value is 'NASShare'.
          type: string
          x-go-name: ResourceType
        retryCount:
          description: Numbers of retries attempted.
          type: integer
          format: int64
          x-go-name: RetryCount
        retryEnabled:
          description: Indicates if retry is enabled. The value is 'true' if retry is enabled.
          type: boolean
          x-go-name: RetryEnabled
        retryWaitinterval:
          description: Retry interval in minutes before next retry attempt.
          type: integer
          format: int64
[...]
