openapi: 3.2.0
info:
  description: '# Welcome to CloudRanger


    Here are some instructions on how to use the API

    ## Authentication and Authorization

    * Access to the API is controlled by your API key generated in the CloudRanger dashboard and token

    * The token is returned by calling the /authorize endpoint and supplying the x-api-key header

    * All other calls use the x-api-key header and the Authorzation header with Bearer followed by your token'
  title: CloudRanger Credential API
  version: '2022-12-07T16:38:31.962Z'
servers:
- url: https://api.cloudranger.com/202004
tags:
- name: Credential
paths:
  /organizations/{organization_id}/credential/{aws_account_id}:
    get:
      description: Return credential by AWS Account ID
      parameters:
      - description: Organization Id of the Organization that you are working with. This can be found by looking at the organization id in the URL of the dashboard. These are randomly generated alphanumber values
        in: path
        name: organization_id
        required: true
        schema:
          type: string
      - description: The AWS account id used to identify your AWS account and for CloudRanger credential information for your CR account..
        in: path
        name: aws_account_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationsAccountsCredentialResponse'
          description: 200 response
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty'
          description: 201 response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 401 response
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
      security:
      - API_Authorizer: []
        api_key: []
      summary: Get credential
      tags:
      - Credential
      operationId: getOrganizationsByOrganizationIdCredentialByAwsAccountId
      x-operation-id-source: derived
components:
  schemas:
    Error:
      properties:
        message:
          type: string
      type: object
    GetOrganizationsAccountsCredentialResponse:
      properties:
        access_role_arn:
          type: string
        account_id:
          type: string
        cloudformation_s3_url:
          type: string
        created_at:
          format: date-time
          type: string
        external_id:
          type: string
        has_agreed:
          type: boolean
        state:
          type: string
        state_reason:
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    empty:
      properties: {}
      type: object
  securitySchemes:
    API_Authorizer:
      in: header
      name: Authorization
      type: apiKey
      x-amazon-apigateway-authtype: custom
    api_key:
      in: header
      name: x-api-key
      type: apiKey
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
