openapi: 3.1.0
info:
  title: Druva REST Accounts Policies API
  version: 1.0.0
  description: Best-effort OpenAPI for Druva's cloud data protection REST API. Endpoints cover token authorization plus the organization-scoped resources for accounts, backups, servers, schedules, policies, and reports, and the Cyber Resilience / Ransomware Recovery namespace.
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://developer.druva.com
servers:
- url: https://apis.druva.com
  description: Druva Cloud Platform APIs
security:
- bearerAuth: []
tags:
- name: Policies
paths:
  /organizations/{organization_id}/policies:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    get:
      tags:
      - Policies
      summary: List protection policies
      operationId: listPolicies
      responses:
        '200':
          description: A page of policies
    post:
      tags:
      - Policies
      summary: Create a protection policy
      operationId: createPolicy
      responses:
        '201':
          description: Policy created
  /organizations/{organization_id}/policies/{policy_id}:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - name: policy_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Policies
      summary: Get a policy
      operationId: getPolicy
      responses:
        '200':
          description: Policy details
    put:
      tags:
      - Policies
      summary: Update a policy
      operationId: updatePolicy
      responses:
        '200':
          description: Policy updated
    delete:
      tags:
      - Policies
      summary: Delete a policy
      operationId: deletePolicy
      responses:
        '204':
          description: Policy deleted
components:
  parameters:
    OrgId:
      name: organization_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer access token obtained from /token using API credentials
