openapi: 3.2.0
info:
  version: '3.0'
  title: Enterprise Workloads PBS API
servers:
- url: //apis.druva.com/phoenix
tags:
- name: PBS
paths:
  /pbs/v1/orgs/{OrgID}/reports/backupsets:
    get:
      description: Returns all backupsets for Phoenix Backup Stores.
      tags:
      - PBS
      summary: List all backupsets
      operationId: PBSGetBackupsetsRequest
      security:
      - Bearer: []
      parameters:
      - description: The ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: ServerName
        description: The name of the Oracle server host or the Phoenix Backup Store. Specify multiple server names by separating them with commas.
        name: serverName
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - x-go-name: BackupEnabled
        description: Specifies whether the backup is enabled for the backup set. Select 'true' if the backup is enabled for the backup set.
        name: backupEnabled
        in: query
        schema:
          type: boolean
      - x-go-name: PageToken
        description: The token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PBSGetBackupsetsResponse'
        '400':
          description: Bad Request
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /pbs/v1/orgs/{OrgID}/reports/backupstores:
    get:
      description: Returns all backupstores
      tags:
      - PBS
      summary: List all backupstores
      operationId: PBSListBackupstoreRequest
      security:
      - Bearer: []
      parameters:
      - description: The ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: ServerName
        description: The name of the Oracle server host or the Phoenix Backup Store. Specify multiple server names by separating them with commas.
        name: serverName
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - x-go-name: PageToken
        description: The token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PBSBackupstoreResponse'
        '400':
          description: Bad Request
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /pbs/v1/orgs/{OrgID}/reports/jobs:
    get:
      description: Returns all jobs for Phoenix Backup Stores.
      tags:
      - PBS
      summary: List all jobs
      operationId: PBSGetAllJobsReportRequest
      security:
      - Bearer: []
      parameters:
      - description: The ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: JobType
        description: 'The type of the job. This parameter can be set to one or more of the following values: Backup, Restore and Log Request. Specify multiple job types by separating them with commas. See <a href=https://help.druva.com/en/articles/8651604-view-oracle-jobs>Job Types.</a>'
        name: jobType
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - x-go-name: ServerName
        description: The name of the Oracle server host or the Phoenix Backup Store. Specify multiple server names by separating them with commas.
        name: serverName
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - x-go-name: Status
        description: 'The status of the job. This parameter can be set to one or more of the following values: Queued, Running, Successful, Successful with errors and Failed. Specify multiple status values by separating them with commas.'
        name: status
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - x-go-name: StartTime
        description: The date and time to filter jobs that were run after the specified timestamp. Specify the date and time in UTC format and the timestamp must be greater than the value of (current time - 6 months). The format is YYYY-MM-DDTHH:MM:SSZ.
        name: fromTime
        in: query
        schema:
          type: integer
          format: int64
      - x-go-name: EndTime
        description: The date and time to filter jobs that were run until the specified timestamp. Specify the date and time in UTC format. The format is YYYY-MM-DDTHH:MM:SSZ.
        name: toTime
        in: query
        schema:
          type: integer
          format: int64
      - x-go-name: SortOrder
        description: Sort the API results by the scheduled time of the job, either in ascending or descending order. Set the sortOrder value to ASC or DESC. The default value is ASC.
        name: sortOrder
        in: query
        schema:
          type: string
      - x-go-name: PageToken
        description: The token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PBSGetAllJobsReportResponse'
        '400':
          description: Bad Request
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /pbs/v1/orgs/{OrgID}/reports/jobs/backups:
    get:
      description: Returns all backup jobs for Phoenix Backup Stores.
      tags:
      - PBS
      summary: List all backup jobs
      operationId: PBSGetBackupJobReportRequest
      security:
      - Bearer: []
      parameters:
      - description: The ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: ServerName
        description: The name of the Oracle server host or the Phoenix Backup Store. Specify multiple server names by separating them with commas.
        name: serverName
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - x-go-name: Status
        description: 'The status of the job. This parameter can be set to one or more of the following values: Queued, Running, Successful, Successful with errors and Failed. Specify multiple status values by separating them with commas.'
        name: status
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - x-go-name: StartTime
        description: The date and time to filter jobs that were run after the specified timestamp. Specify the date and time in UTC format and the timestamp must be greater than the value of (current time - 6 months). The format is YYYY-MM-DDTHH:MM:SSZ.
        name: fromTime
        in: query
        schema:
          type: integer
          format: int64
      - x-go-name: EndTime
        description: The date and time to filter jobs that were run until the specified timestamp. Specify the date and time in UTC format. The format is YYYY-MM-DDTHH:MM:SSZ.
        name: toTime
        in: query
        schema:
          type: integer
          format: int64
      - x-go-name: SortOrder
        description: Sort the API results by the scheduled time of the job, either in ascending or descending order. Set the sortOrder value to ASC or DESC. The default value is ASC.
        name: sortOrder
        in: query
        schema:
          type: string
      - x-go-name: PageToken
        description: The token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PBSGetBackupJobReportResponse'
        '400':
          description: Bad Request
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /pbs/v1/orgs/{OrgID}/reports/jobs/restores:
    get:
      description: Returns all restore jobs for Phoenix Backup Stores.
      tags:
      - PBS
      summary: List all restore jobs
      operationId: PBSGetRestoreJobReportRequest
      security:
      - Bearer: []
      parameters:
      - description: The ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: SourceServerName
        description: The name of the Oracle server host or the Phoenix Backup Store whose database is backed up when a backup job is initiated. Specify multiple server names by separating them with commas.
        name: sourceServerName
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - x-go-name: DestServerName
        description: The name of the Oracle server host or the Phoenix Backup Store on which the backup data is downloaded when the restore job completes. Specify multiple server names by separating them with commas.
        name: destServerName
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - x-go-name: Status
        description: 'The status of the job. This parameter can be set to one or more of the following values: Queued, Running, Successful, Successful with errors and Failed. Specify multiple status values by separating them with commas.'
        name: status
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - x-go-name: StartTime
        description: The date and time to filter jobs that were run after the specified timestamp. Specify the date and time in UTC format and the timestamp must be greater than the value of (current time - 6 months). The format is YYYY-MM-DDTHH:MM:SSZ.
        name: fromTime
        in: query
        schema:
          type: integer
          format: int64
      - x-go-name: EndTime
        description: The date and time to filter jobs that were run until the specified timestamp. Specify the date and time in UTC format. The format is YYYY-MM-DDTHH:MM:SSZ.
        name: toTime
        in: query
        schema:
          type: integer
          format: int64
      - x-go-name: SortOrder
        description: Sort the API results by the scheduled time of the job, either in ascending or descending order. Set the sortOrder value to ASC or DESC. The default value is ASC.
        name: sortOrder
        in: query
        schema:
          type: string
      - x-go-name: PageToken
        description: The token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PBSGetRestoreJobReportResponse'
        '400':
          description: Bad Request
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /pbs/v1/orgs/{OrgID}/reports/jobs/uploadlogs:
    get:
      description: Returns all uploadlogs jobs for Phoenix Backup Stores.
      tags:
      - PBS
      summary: List all uploadlogs jobs
      operationId: PBSGetUploadLogJobReportRequest
      security:
      - Bearer: []
      parameters:
      - description: The ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: ServerName
        description: The name of the Oracle server host or the Phoenix Backup Store. Specify multiple server names by separating them with commas.
        name: serverName
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - x-go-name: Status
        description: 'The status of the job. This parameter can be set to one or more of the following values: Queued, Running, Successful, Successful with errors and Failed. Specify multiple status values by separating them with commas.'
        name: status
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - x-go-name: StartTime
        description: Specifies the lower bound value of the filter range. The time should be specified in the UTC format and must be greater than the value of (current time - 6 months). The format of this parameter is YYYY-MM-DDTHH:MM:SSZ.
        name: fromTime
        in: query
        schema:
          type: integer
          format: int64
      - x-go-name: EndTime
        description: Specifies the upper bound value of the filter range. The time should be specified in the UTC format and must be lesser than the current date. The format is YYYY-MM-DDTHH:MM:SSZ.
        name: toTime
        in: query
        schema:
          type: integer
          format: int64
      - x-go-name: SortOrder
        description: Sort the API results by the scheduled time of the job, either in ascending or descending order. Set the sortOrder value to ASC or DESC. The default value is ASC.
        name: sortOrder
        in: query
        schema:
          type: string
      - x-go-name: PageToken
        description: The token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PBSGetUploadLogJobReportResponse'
        '400':
          description: Bad Request
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
components:
  schemas:
    PBSExecutionDetailsStruct:
      type: object
      title: 'ExecutionDetailsStruct : Execution details of the job.'
      properties:
        endTime:
          description: The time when the job completes. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: EndTime
        errorCode:
          description: 'The error code for the failed jobs. The possible values are:\n\"0\": If the job is successful\n<error_number>: If the job has failed'
          type: string
          x-go-name: ErrorCode
        errorMessage:
          description: The error message for the failed jobs. This field is empty if the job is successful.
          type: string
          x-go-name: ErrorMsg
        scheduleTime:
          description: The date and time when the job starts or is scheduled to start. The time is specified in UTC in the format YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: ScheduleTime
        startTime:
          description: The time when the job starts. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: StartTime
        status:
          description: 'The status of the job. Status can be one of the following values: Queued, Running, Successful, Successful with errors and Failed.'
          type: string
          x-go-name: Status
      x-go-name: ExecutionDetailsStruct
      x-go-package: phoenix/pbs/cloud/report/spec/jobs
    PBSGetUploadLogJobReportResponse:
      description: GetUploadLogJobReportResponse is the response schema for GetUploadLogJobReport
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/PBSGetUploadLogJobsReport'
          x-go-name: Jobs
        nextPageToken:
          description: The page token value for the next set of API results. The value of this parameter is NULL for the last set of results.
          type: string
          x-go-name: OutToken
      x-go-name: GetUploadLogJobReportResponse
      x-go-package: phoenix/pbs/cloud/report/spec/jobs
    PBSLastBackupDetailsStruct:
      description: LastBackupDetailsStruct is response schema for GetBackupsets
      type: object
      properties:
        jobID:
          description: The unique identification number associated with the job. This parameter will be skipped if the value is NULL.
          type: integer
          format: int32
          x-go-name: JobID
        status:
          description: 'The status of the job. This parameter can be one from the following values: Queued, Running, Successful, Successful with errors and Failed.'
          type: string
          x-go-name: Status
      x-go-name: LastBackupDetailsStruct
      x-go-package: phoenix/pbs/cloud/report/spec/backupsets
    PBSGetAllJobsReport:
      description: GetAllJobsReport struct holds the response for GetAllJobsReport API
      type: object
      properties:
        endTime:
          description: The time when the job completes. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: EndTime
        errorCode:
          description: 'The error code for the failed jobs. The possible values are:\n \"0\": If the job is successful\n<error_number>: If the job has failed'
          type: string
          x-go-name: ErrorCode
        errorMessage:
          description: The error message for the failed jobs. This field is empty if the job is successful.
          type: string
          x-go-name: ErrorMsg
        jobID:
          description: The unique identification number associated with the job.
          type: integer
          format: int32
          x-go-name: JobID
        jobType:
          description: 'The type of the job. JobType can be one of the following values: Backup, Restore and Log Request.'
          type: string
          x-go-name: JobType
        organizationID:
          description: The ID of the organization
          type: integer
          format: int32
          x-go-name: OrgID
        organizationName:
          description: The name of the organization in which the Phoenix Backup Store is deployed.
          type: string
          x-go-name: OrgName
        scheduleTime:
          description: The date and time when the job starts or is scheduled to start. The time is specified in UTC in the format YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: ScheduleTime
        serverName:
          description: The name of the Oracle server host or the Phoenix Backup Store.
          type: string
          x-go-name: ServerName
        startTime:
          description: The time when the job starts. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: StartTime
        status:
          description: 'The status of the job. Status can be one of the following values: Queued, Running, Successful, Successful with errors and Failed.'
          type: string
          x-go-name: Status
      x-go-name: GetAllJobsReport
      x-go-package: phoenix/pbs/cloud/report/spec/jobs
    PBSUploadLogExecDetailsStruct:
      description: UploadLogExecDetailsStruct struct holds the response for GetUploadLogJobsReport api
      type: object
      properties:
        endTime:
          description: The time when the job completes. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: EndTime
        errorCode:
          description: 'The error code for the failed jobs. The possible values are:\n\"0\": If the job is successful\n<error_number>: If the job has failed'
          type: string
          x-go-name: ErrorCode
        errorMessage:
          description: The error message for the failed jobs. This field is empty if the job is successful.
          type: string
          x-go-name: ErrorMsg
        logsExpiryTime:
          description: The expiry time of the uploaded logs. The time is specified in the UTC time zone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: LogsExpiryTime
        logsSize:
          description: The size of the logs.
          type: string
          x-go-name: LogsSize
        logsSizeInBytes:
          description: The size of the logs in bytes.
          type: integer
          format: uint64
          x-go-name: LogsSizeInBytes
        sourceJobID:
          description: The ID of the job of the source Oracle server host for which logs are requested.
          type: integer
          format: int32
          x-go-name: SourceJobID
        sourceJobType:
          description: The job type of the source Oracle server host for which logs are requested.
          type: string
          x-go-name: SourceJobLogType
        scheduleTime:
          description: The date and time when the job starts or is scheduled to start. The time is specified in UTC in the format YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: ScheduleTime
        startTime:
          description: The time when the job starts. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: StartTime
        status:
          description: 'The status of the job. Status can be one of the following values: Queued, Running, Successful, Successful with errors and Failed.'
          type: string
          x-go-name: Status
      x-go-name: UploadLogExecDetailsStruct
      x-go-package: phoenix/pbs/cloud/report/spec/jobs
    PBSGetRestoreJobsReport:
      description: GetRestoreJobsReport struct holds the response for GetRestoreJobsReport api
      type: object
      properties:
        backupMountName:
          description: The RMAN target location where the Oracle RMAN backups are stored.
          type: string
          x-go-name: BackupMountName
        backupsetID:
          description: The ID of the backup set.
          type: integer
          format: int32
          x-go-name: BackupsetID
        destServerName:
          description: The name of the Oracle server host or the Phoenix Backup Store to which the restore was initiated.
          type: string
          x-go-name: DestServerName
        environmentDetails:
          $ref: '#/components/schemas/PBSRestoreEnvironmentStruct'
        executionDetails:
          $ref: '#/components/schemas/PBSRestoreExecutionDetailsStruct'
        jobID:
          description: The unique identification number associated with the job.
          type: integer
          format: int32
          x-go-name: JobID
        jobType:
          description: The type of the job. In this case it is Restore.
          type: string
          x-go-name: JobType
        organizationID:
          description: The ID of the organization
          type: integer
          format: int32
          x-go-name: OrgID
        organizationName:
          description: The name of the organization in which the Phoenix Backup Store is deployed.
          type: string
          x-go-name: OrgName
        sourceServerName:
          description: The name of the Oracle server host or the Phoenix Backup Store on which the backup was initiated.
          type: string
          x-go-name: SourceServerName
      x-go-name: GetRestoreJobsReport
      x-go-package: phoenix/pbs/cloud/report/spec/jobs
    PBSBackupsetInfo:
      description: BackupsetInfo is response schema for GetBackupsets
      type: object
      properties:
        backupEnabled:
          description: Specifies whether the backup is enabled for the backup set.
          type: boolean
          x-go-name: BackupEnabled
        backupsetID:
          description: The ID of the backup set.
          type: integer
          format: int32
          x-go-name: BackupsetID
        backupMountName:
          description: The RMAN target location where the Oracle RMAN backups are stored.
          type: string
          x-go-name: BackupMountName
        dataLock:
          description: The status indicating if Data Lock is enabled for the backup set
          type: boolean
          x-go-name: Immutability
        ipWhitelist:
          description: The list of IP addresses of the Oracle RMAN hosts that can store Oracle RMAN backups on the mount. If the IP whitelist is not set to *, it displays the list of allowed IP addresses. For more information, see IPWhitelist.
          type: string
          x-go-name: IPWhitelist
        lastBackupDetails:
          $ref: '#/components/schemas/PBSLastBackupDetailsStruct'
        maxBandwidth:
          description: The maximum bandwidth that each server can consume while backing up data to the Cloud.
          type: integer
          format: int32
          x-go-name: MaxBandwidth
        organizationID:
          description: The ID of the organization
          type: integer
          format: int32
          x-go-name: OrgID
        organizationName:
          description: The name of the organization in which the Phoenix Backup Store is deployed.
          type: string
          x-go-name: OrgName
        resourceType:
          description: 'The Resource type which in this case is for Phoenix Backup Store : Oracle.'
          type: string
          x-go-name: ResourceType
        oracleStoreID:
          description: The ID of the Oracle Store
          type: integer
          format: int32
          x-go-name: OracleStoreID
        serverName:
          description: The name of the Oracle server host or the Phoenix Backup Store.
          type: string
          x-go-name: ServerName
        storageId:
          description: The unique identification number associated with the storage region.
          type: integer
          format: int32
          x-go-name: StorageID
        storageName:
          description: The name of the storage region where the snapshot is stored after the Phoenix Backup Store uploads the snapshot to the Druva Cloud.
          type: string
          x-go-name: StorageName
      x-go-name: BackupsetInfo
      x-go-package: phoenix/pbs/cloud/report/spec/backupsets
    PBSGetUploadLogJobsReport:
      description: GetUploadLogJobsReport struct holds the response for GetUploadLogJobsReport api
      type: object
      properties:
        executionDetails:
          $ref: '#/components/schemas/PBSUploadLogExecDetailsStruct'
        jobID:
          description: The unique identification number associated with the job.
          type: integer
          format: int32
          x-go-name: JobID
        jobType:
          description: 'The type of the job. JobType can be one of the following values: Backup, Restore and Log Request.'
          type: string
          x-go-name: JobType
        organizationID:
          description: The ID of the organization
          type: integer
          format: int32
          x-go-name: OrgID
        organizationName:
          description: The name of the organization in which the Phoenix Backup Store is deployed.
          type: string
          x-go-name: OrgName
        serverName:
          description: The name of the Oracle server host or the Phoenix Backup Store.
          type: string
          x-go-name: ServerName
      x-go-name: GetUploadLogJobsReport
      x-go-package: phoenix/pbs/cloud/report/spec/jobs
    PBSGetBackupJobsReport:
      description: GetBackupJobsReport is response schema for GetBackupJobsReport API
      type: object
      properties:
        backupMountName:
          description: The RMAN target location where the Oracle RMAN backups are stored.
          type: string
          x-go-name: BackupMountName
        backupsetID:
          description: The ID of the backup set.
          type: integer
          format: int32
          x-go-name: BackupsetID
        dataTransfer:
          $ref: '#/components/schemas/PBSDataTransferStruct'
        environmentDetails:
          $ref: '#/components/schemas/PBSEnvironmentStruct'
        executionDetails:
          $ref: '#/components/schemas/PBSExecutionDetailsStruct'
        jobID:
          description: The unique identification number associated with the job.
          type: integer
          format: int32
          x-go-name: JobID
        jobType:
          description: The type of the job. In this case it is Backup.
          type: string
          x-go-name: JobType
        organizationID:
          description: The ID of the organization
          type: integer
          format: int32
          x-go-name: OrgID
        organizationName:
          description: The name of the organization in which the Phoenix Backup Store is deployed.
          type: string
          x-go-name: OrgName
        serverName:
          description: The name of the Oracle server host or the Phoenix Backup Store.
          type: string
          x-go-name: ServerName
      x-go-name: GetBackupJobsReport
      x-go-package: phoenix/pbs/cloud/report/spec/jobs
    PBSGetAllJobsReportResponse:
      description: GetAllJobsReportResponse is the response schema for GetAllJobsReport
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/PBSGetAllJobsReport'
          x-go-name: Jobs
        nextPageToken:
          description: The token to access the next page of results. Keep this field blank in the first request. The value of this parameter is NULL for the last set of results.
          type: string
          x-go-name: OutToken
      x-go-name: GetAllJobsReportResponse
      x-go-package: phoenix/pbs/cloud/report/spec/jobs
    PBSRestoreEnvironmentStruct:
      type: object
      title: 'RestoreEnvironmentStruct : Environment details of the job.'
      properties:
        diskWriteRate:
          description: The bit rate for writing I/O by the agent. The Disk Write Rate is the average of the total data written with respect to the total time taken to write data at various intervals.
          type: string
          x-go-name: DiskWriteRate
        diskWriteRateInKBps:
          description: The bit rate in Kilobytes per second for writing I/O by the agent. The Disk Write Rate is the average of the total data written with respect to the total time taken to write data at various intervals.
          type: number
          format: double
          x-go-name: DiskWriteRateInKBps
        networkRetries:
          description: The number of retries performed during the job execution due to network issues.
          type: integer
          format: int32
          x-go-name: NetworkRetries
        networkRetryDuration:
          description: The total time spent in the network retries. It represents the cumulative of all network session duration.
          type: string
          x-go-name: NetworkRetryDuration
        networkRetryDurationInSeconds:
          description: The total time spent in seconds in the network retries. It represents the cumulative of all network session duration.
          type: integer
          format: int64
          x-go-name: NetworkRetryDurationInSeconds
      x-go-name: RestoreEnvironmentStruct
      x-go-package: phoenix/pbs/cloud/report/spec/jobs
    PBSGetBackupsetsResponse:
      description: GetBackupsetsResponse is response schema for GetBackupsets
      type: object
      properties:
        backupsets:
          type: array
          items:
            $ref: '#/components/schemas/PBSBackupsetInfo'
          x-go-name: Backupsets
        nextPageToken:
          description: The token to access the next page of results. Keep this field blank in the first request. The value of this parameter is NULL for the last set of results.
          type: string
          x-go-name: OutToken
      x-go-name: GetBackupsetsResponse
      x-go-package: phoenix/pbs/cloud/report/spec/backupsets
    PBSEnvironmentStruct:
      type: object
      title: 'EnvironmentStruct : Environment details of the job.'
      properties:
        diskReadRate:
          description: The bit rate for reading I/O by the agent. The Disk Read Rate is an average of the total data read with respect to the total time taken to read data at various intervals for all drives where data is distributed.
          type: string
          x-go-name: DiskReadRate
        diskReadRateInKBps:
          description: The bit rate in Kilobytes per second for reading I/O by the agent. The Disk Read Rate is an average of the total data read with respect to the total time taken to read data at various intervals for all drives where data is distributed.
          type: number
          format: double
          x-go-name: DiskReadRateInKBps
        networkRetries:
          description: The number of retries performed during the job execution due to network issues.
          type: integer
          format: int32
          x-go-name: NetworkRetries
        networkRetryDuration:
          description: The total time spent in the network retries. It represents the cumulative of all network session duration.
          type: string
          x-go-name: NetworkRetryDuration
        networkRetryDurationInSeconds:
          description: The total time spent in seconds in the network retries. It represents the cumulative of all network session duration.
          type: integer
          format: int64
          x-go-name: NetworkRetryDurationInSeconds
      x-go-name: EnvironmentStruct
      x-go-package: phoenix/pbs/cloud/report/spec/jobs
    PBSGetBackupJobReportResponse:
      description: GetBackupJobReportResponse is response schema for GetBackupJobReport
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/PBSGetBackupJobsReport'
          x-go-name: Jobs
        nextPageToken:
          description: The page token value for the next set of API results. The value of this parameter is NULL for the last set of results.
          type: string
          x-go-name: OutToken
      x-go-name: GetBackupJobReportResponse
      x-go-package: phoenix/pbs/cloud/report/spec/jobs
    APIError:
      description: APIError defines an application error result format
      type: object
      properties:
        code:
          type: string
          x-go-name: Code
        data:
          type: object
          additionalProperties:
            type: object
          x-go-name: Data
        message:
          type: string
          x-go-name: Message
        retryable:
          type: boolean
          x-go-name: Retry
      x-go-package: phoenix/vendor/druva.com/godevkit/errortype
    PBSGetRestoreJobReportResponse:
      description: GetRestoreJobReportResponse is the response schema for GetRestoreJobReport
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/PBSGetRestoreJobsReport'
          x-go-name: Jobs
        nextPageToken:
          description: The token to access the next page of results. Keep this field blank in the first request. The value of this parameter is NULL for the last set of results.
          type: string
          x-go-name: OutToken
      x-go-name: GetRestoreJobReportResponse
      x-go-package: phoenix/pbs/cloud/report/spec/jobs
    PBSRestoreExecutionDetailsStruct:
      type: object
      title: 'RestoreExecutionDetailsStruct : Execution details of the job.'
      properties:
        bandwidthConsumed:
          description: The bit rate to transfer data from the Cloud and CloudCache.
          type: string
          x-go-name: BandwidthConsumed
        bandwidthConsumedInKBps:
          description: The bit rate in Kilobytes per second to transfer data from the Cloud and CloudCache.
          type: number
          format: double
          x-go-name: BandwidthConsumedInKBps
        endTime:
          description: The time when the job completes. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: EndTime
        errorCode:
          description: 'The error code for the failed jobs. The possible values are:\n\"0\": If the job is successful\n<error_number>: If the job has failed'
          type: string
          x-go-name: ErrorCode
        errorMessage:
          description: The error message for the failed jobs. This field is empty if the job is successful.
          type: string
          x-go-name: ErrorMsg
        restoredData:
          description: The total amount of data restored on the Oracle server host.
          type: string
          x-go-name: RestoredData
        restoredDataInBytes:
          description: The total amount of data restored in bytes.
          type: integer
          format: uint64
          x-go-name: RestoredDataInBytes
        restoredItems:
          description: The number of files restored on the Oracle server host.
          type: string
          x-go-name: RestoredItems
        scheduleTime:
          description: The date and time when the job starts or is scheduled to start. The time is specified in UTC in the format YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: ScheduleTime
        startTime:
          description: The time when the job starts. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: StartTime
        status:
          description: 'The status of the job. Status can be one of the following values: Queued, Running, Successful, Successful with errors and Failed.'
          type: string
          x-go-name: Status
      x-go-name: RestoreExecutionDetailsStruct
      x-go-package: phoenix/pbs/cloud/report/spec/jobs
    PBSBackupstoreResponse:
      description: BackupstoreResponse is the response part of the  schema for ListBackupstore
      type: object
      properties:
        activationTime:
          description: The time when the Oracle server host was activated with Enterprise Workloads.
          type: string
          x-go-name: ActivationTime
        organizationID:
          description: The ID of the organization
          type: integer
          format: int32
          x-go-name: OrgID
        organizationName:
          description: The name of the organization in which the Phoenix Backup Store is deployed.
          type: string
          x-go-name: OrganizationName
        platform:
          description: The operating system of the Oracle server host.
          type: string
          x-go-name: Platform
        serverConnectionStatus:
          description: The connection status of the Oracle server host whether Connected or Not Connected.
          type: boolean
          x-go-name: IsServerConnected
        serverName:
          description: The name of the Oracle server host or the Phoenix Backup Store.
          type: string
          x-go-name: ServerName
        version:
          description: The version the Oracle server host.
          type: string
          x-go-name: Version
      x-go-name: BackupstoreResponse
      x-go-package: phoenix/pbs/cloud/report/spec/backupstores
    PBSDataTransferStruct:
      type: object
      title: 'DataTransferStruct : Data transfer details of the job.'
      properties:
        backupDuration:
          description: The total time taken to upload data to the Cloud and CloudCache. Backup duration excludes the estimation time, network retry time, and the waiting for retry time.
          type: string
          x-go-name: BackupDuration
        backupDurationInSeconds:
          description: The total time taken in seconds to upload data to the Cloud and CloudCache. Backup duration excludes the estimation time, network retry time, and the waiting for retry time.
          type: integer
          format: int64
          x-go-name: BackupDurationInSeconds
        backupSpeed:
          description: The rate at which the source data is backed up to the Cloud.
          type: string
          x-go-name: BackupSpeed
        backupSpeedInKBps:
          description: The rate in Kilobytes per second at which the source data is backed up to the Cloud.
          type: number
          format: double
          x-go-name: BackupSpeedInKBps
        bandwidthConsumed:
          description: The bit rate to transfer data from the Cloud and CloudCache.
          type: string
          x-go-name: BandwidthConsumed
        bandwidthConsumedInKBps:
          description: The bit rate in Kilobytes per second to transfer data from the Cloud and CloudCache.
          type: number
          format: double
          x-go-name: BandwidthConsumedInKBps
        dataTransferCache:
          description: The incremental data that is uploaded to CloudCache after deduplication and compression.
          type: string
          x-go-name: DataTransferCache
        dataTransferCacheInBytes:
          description: The incremental data in bytes that is uploaded to CloudCache after deduplication and compression.
          type: integer
          format: uint64
          x-go-name: DataTransferCacheInBytes
        dataTransferCloud:
          description: The incremental data that is uploaded to the Cloud after deduplication and compression.
          type: string
          x-go-name: DataTransferCloud
        dataTransferCloudInBytes:
          description: The incremental data in bytes that is uploaded to the Cloud after deduplication and compression.
          type: integer
          format: uint64
          x-go-name: DataTransferCloudInBytes
      x-go-name: DataTransferStruct
      x-go-package: phoenix/pbs/cloud/report/spec/jobs
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://apis.druva.com/token
          scopes:
            read: Grants read access
    Bearer:
      type: apiKey
      name: Authorization
      in: header
x-explorer-enabled: true
