openapi: 3.1.0
info:
  title: Druva REST Accounts Backups API
  version: 1.0.0
  description: Best-effort OpenAPI for Druva's cloud data protection REST API. Endpoints cover token authorization plus the organization-scoped resources for accounts, backups, servers, schedules, policies, and reports, and the Cyber Resilience / Ransomware Recovery namespace.
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://developer.druva.com
servers:
- url: https://apis.druva.com
  description: Druva Cloud Platform APIs
security:
- bearerAuth: []
tags:
- name: Backups
paths:
  /organizations/{organization_id}/accounts/{account_id}/backups:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - $ref: '#/components/parameters/AccountId'
    get:
      tags:
      - Backups
      summary: List backups for an account
      operationId: listBackups
      responses:
        '200':
          description: A page of backups
    post:
      tags:
      - Backups
      summary: Trigger a backup
      operationId: createBackup
      responses:
        '202':
          description: Backup queued
components:
  parameters:
    OrgId:
      name: organization_id
      in: path
      required: true
      schema:
        type: string
    AccountId:
      name: account_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer access token obtained from /token using API credentials
