openapi: 3.2.0
info:
  title: Druva Token API
  version: '1.0'
  description: 'Operations tagged Token across 2 of this provider''s published API definitions: druva-cyber-resilience-govcloud-authorization-openapi-original.json, druva-govcloud-authentication-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://govapis.druva.com
- url: https://govcloudapis.druva.com
tags:
- name: Token
paths:
  /token:
    get:
      description: ''
      operationId: get_token
      responses:
        '200':
          description: ''
      parameters: []
      tags:
      - Token
      summary: Get token
      x-summary-source: derived
    post:
      summary: GovCloud Authorization
      description: 'To use the ***Try It*** feature, use this API to generate OAuth2.0 Access Token for authentication and authorization with inSync GovCloud APIs.


        **Important** -

        1. This procedure is **APPLICABLE** only for generating **inSync GovCloud** token.

        2. After generating the token, ensure the initial letter of the Request Headers in your API request is in Capital, i.e. ''Accept'' and ''Authorization''.


        To generate Access Token and use it for authorization with GovCloud APIs -

        1. **Generate API Credentials**, Client ID and Secret Key, from the *inSync Federal Cloud*. For step-by-step instructions, see *Manage API Credentials*.

        2. Provide **Client ID** as *username* and **Secret Key** as *password* in this API.

        3. Copy the **Access Token** from the response.

        4. Click **Try It** button for the API which you want to call or explore and provide the copied Access Token in the **Authorization** text box in the format -

        **Bearer **

        **Example** - Bearer Zhdsohdspcnxxxxxx'
      operationId: getting-started-with-your-api
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - scope
              - grant_type
              properties:
                scope:
                  type: string
                  default: read
                grant_type:
                  type: string
                  default: client_credentials
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"access_token": "<Generated Access Token>", "token_type": "bearer", "expires_in": 1800}'
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: <Generated Access Token>
                  token_type:
                    type: string
                    example: bearer
                  expires_in:
                    type: integer
                    example: 1800
                    default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: 'curl -X POST -H ''authorization: Basic <Your Base64 encoded credentials>'' -d ''grant_type=client_credentials&scope=read'' https://govcloudapis.druva.com/token'
        samples-languages:
        - curl
      tags:
      - Token
    servers:
    - url: https://govapis.druva.com
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    sec0:
      type: http
      scheme: basic
x-refined-from:
- druva-cyber-resilience-govcloud-authorization-openapi-original.json
- druva-govcloud-authentication-openapi-original.json
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
