openapi: 3.2.0
info:
  title: Druva MSP Admins API
  version: 1.0.0
  x-logo:
    url: ''
  description: Lists the APIs to get information about admins managed.
servers:
- url: https://apis.druva.com/
security: []
tags:
- name: Admins
  description: Lists the APIs to get information about admins managed.
paths:
  /msp/v2/admins:
    get:
      tags:
      - Admins
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      - schema:
          type: string
        name: pageToken
        in: query
        description: "- The token to access the next page of results. Use the token value received in the previous response's parameter 'nextPageToken'.\n - Keep this field blank in the first request."
      - name: pageSize
        description: Specify the number of records you want to receive in the API response. Example-30
        schema:
          format: int64
          default: 10
          maximum: 500
          type: integer
        in: query
      - name: id
        description: Specify the admin IDs you want to list, separated by commas. Example - 1,2
        schema:
          type: array
          items:
            format: int64
            type: integer
        style: form
        explode: false
        in: query
      - name: email
        description: "Specify the email addresses of the admins you wish to list, separated by commas. \n Example- email@example.com, email1@example.com"
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        in: query
      - name: role
        description: "Specify the role IDs of admins you wish to list, separated by commas. Example- 2, 4 \n - 2 - MSP Admin\n - 3 - Tenant Admin\n - 4 - Read Only Admin\n"
        schema:
          type: array
          items:
            format: int64
            enum:
            - 2
            - 3
            - 4
            type: integer
        style: form
        explode: false
        in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAdminsV2Response'
          description: Ok
        '400':
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: The request could not be processed due to an internal error. Try again later. If the error persists, contact Druva Support.
      security:
      - Bearer: []
      operationId: ListAdminsV2
      summary: List all administrators
      description: Returns the list of admins with their details.
components:
  schemas:
    APIError:
      description: APIError defines an application error result format
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    ListAdminsV2Response:
      type: object
      properties:
        admins:
          description: The list of admins.
          type: array
          items:
            $ref: '#/components/schemas/AdminV2Response'
        nextPageToken:
          type: string
    AdminV2Response:
      description: Contains details about an MSP admin.
      type: object
      properties:
        email:
          description: The email of the admin. Example - email@example.com
          type: string
          example: email@example.com
        firstName:
          description: The first name of the admin. Example - John
          type: string
          example: John
        id:
          format: int64
          description: The unique ID of the admin. Example - 1
          type: integer
          example: 1
        lastName:
          description: The last name of the admin. Example - 'Smith'
          type: string
          example: Smith
        phone:
          description: The phone number of the admin. Example - '12345678910'
          type: string
          example: '12345678910'
        timezone:
          description: The timezone of the admin. Example - 'Asia/Kolkata'
          type: string
          example: Asia/Kolkata
        status:
          type: integer
          description: "The current status of the admin.\n  - 0 - Ready\n  - 1 - Updating\n"
          example: 1
        role:
          description: "The role ID of the admin.\n  - 2 - MSP Admin\n  - 3 - Tenant Admin\n  - 4 - Read Only Admin\n"
          type: integer
          example: 2
        active:
          type: boolean
          description: Indicates whether the admin account is currently active or not. Example- true
          example: true
        createdBy:
          type: integer
          description: The unique ID of the admin who created this admin account. Example- 1
          format: int64
          example: 123
        lastLogin:
          type: string
          format: date-time
          description: The timestamp of the admin's last successful login. Example - 2024-01-04T09:06:02.191Z
          example: '2024-12-24T10:48:56.361Z'
  securitySchemes:
    OAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://apis.druva.com/msp/auth/v1/token
      type: oauth2
    Bearer:
      type: apiKey
      name: Authorization
      in: header
