openapi: 3.2.0
info:
  version: '3.0'
  title: Enterprise Workloads File Server API
servers:
- url: //apis.druva.com/phoenix
tags:
- name: File Server
paths:
  /fileserver/v1/orgs/{OrgID}/reports/backupsets:
    get:
      description: Returns all backup sets for Windows/Linux servers
      tags:
      - File Server
      summary: List all backup sets
      operationId: FSGetBackupsetsRequest
      security:
      - Bearer: []
      parameters:
      - description: Specify the organization ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: ServerName
        description: Specify the name of the Windows/Linux server. Specify multiple server names by separating them with commas. Get the name of all servers using the 'List all Windows/Linux Servers' API.
        name: serverName
        in: query
        schema:
          type: string
      - x-go-name: BackupEnable
        description: 'Specifies whether the backup is enabled for the backup set. Example: Select ''true'' if the backup is enabled for the backup set'
        name: backupEnable
        in: query
        schema:
          type: boolean
      - x-go-name: PageToken
        description: Specify the token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FSGetBackupsetsResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /fileserver/v1/orgs/{OrgID}/reports/contentrules:
    get:
      description: Returns all content rules for Windows/Linux servers
      tags:
      - File Server
      summary: List all content rules
      operationId: FSGetContentRulesRequest
      security:
      - Bearer: []
      parameters:
      - description: Specify the organization ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: PageToken
        description: Specify the token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FSGetContentRulesResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /fileserver/v1/orgs/{OrgID}/reports/jobs:
    get:
      description: Returns all jobs for Windows/Linux servers
      tags:
      - File Server
      summary: List all jobs
      operationId: FSGetAllJobsReportRequest
      security:
      - Bearer: []
      parameters:
      - description: Specify the organization ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: JobType
        description: 'Specify the type of the job. This parameter can be set to one or more of the following values: Backup, Restore and Log Request. Specify multiple job types by separating them with commas. See <a href=https://help.druva.com/en/articles/9088286-monitor-file-server-jobs>Job Types.</a>'
        name: jobType
        in: query
        schema:
          type: string
      - x-go-name: ServerName
        description: Specify the name of the Windows/Linux server. Specify multiple server names by separating them with commas. Get the name of all servers using the 'List all Windows/Linux Servers' API.
        name: serverName
        in: query
        schema:
          type: string
      - x-go-name: Status
        description: 'Specify the status of the job. This parameter can be set to one or more of the following values: Queued, Running, Successful, Successful with errors and Failed. Specify multiple status values by separating them with commas.'
        name: status
        in: query
        schema:
          type: string
      - x-go-name: StartTime
        description: Specify the date and time to filter jobs that were run during the specified timestamp. Specify the date and time in UTC format (YYYY-MM-DDTHH:MM:SSZ). The timestamp must be within six months from the current date. For example, if the current date is 2020-10-02, you can specify any date between 2020-04-03 to 2020-10-02.
        name: fromTime
        in: query
        schema:
          type: string
          format: date-time
      - x-go-name: EndTime
        description: Specify the date and time to filter jobs that were run until the specified timestamp. Specify the date and time in UTC format. The format is YYYY-MM-DDTHH:MM:SSZ.
        name: toTime
        in: query
        schema:
          type: string
          format: date-time
      - x-go-name: SortOrder
        description: Sort the API results by the scheduled time of the job, either in ascending or descending order. Set the sortOrder value to ASC or DESC. The default value is ASC.
        name: sortOrder
        in: query
        schema:
          type: string
      - x-go-name: PageToken
        description: Specify the token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FSGetAllJobsReportResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /fileserver/v1/orgs/{OrgID}/reports/jobs/backups:
    get:
      description: Returns all backup jobs for Windows/Linux servers
      tags:
      - File Server
      summary: List all backup jobs
      operationId: FSGetBackupJobReportRequest
      security:
      - Bearer: []
      parameters:
      - description: Specify the organization ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: ServerName
        description: Specify the name of the Windows/Linux server. Specify multiple server names by separating them with commas. Get the name of all servers using the 'List all Windows/Linux Servers' API.
        name: serverName
        in: query
        schema:
          type: string
      - x-go-name: Status
        description: 'Specify the status of the job. This parameter can be set to one or more of the following values: Queued, Running, Successful, Successful with errors and Failed. Specify multiple status values by separating them with commas.'
        name: status
        in: query
        schema:
          type: string
      - x-go-name: StartTime
        description: Specify the date and time to filter jobs that were run during the specified timestamp. Specify the date and time in UTC format (YYYY-MM-DDTHH:MM:SSZ). The timestamp must be within six months from the current date. For example, if the current date is 2020-10-02, you can specify any date between 2020-04-03 to 2020-10-02.
        name: fromTime
        in: query
        schema:
          type: string
          format: date-time
      - x-go-name: EndTime
        description: Specify the date and time to filter jobs that were run until the specified timestamp. Specify the date and time in UTC format. The format is YYYY-MM-DDTHH:MM:SSZ.
        name: toTime
        in: query
        schema:
          type: string
          format: date-time
      - x-go-name: SortOrder
        description: Sort the API results by the scheduled time of the job, either in ascending or descending order. Set the sortOrder value to ASC or DESC. The default value is ASC.
        name: sortOrder
        in: query
        schema:
          type: string
      - x-go-name: PageToken
        description: Specify the token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FSGetBackupJobReportResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /fileserver/v1/orgs/{OrgID}/reports/jobs/restores:
    get:
      description: Returns all restore jobs for Windows/Linux servers
      tags:
      - File Server
      summary: List all restore jobs
      operationId: FSGetRestoreJobReportRequest
      security:
      - Bearer: []
      parameters:
      - description: Specify the organization ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: SourceServerName
        description: Specify the name of the Windows/Linux server from which the backup job is initiated. Specify multiple server names by separating them with commas.
        name: sourceServerName
        in: query
        schema:
          type: string
      - x-go-name: DestServerName
        description: Specify the name of the Windows/Linux server to which the restore job is initiated. Specify multiple server names by separating them with commas.
        name: destServerName
        in: query
        schema:
          type: string
      - x-go-name: Status
        description: 'Specify the status of the job. This parameter can be set to one or more of the following values: Queued, Running, Successful, Successful with errors and Failed. Specify multiple status values by separating them with commas.'
        name: status
        in: query
        schema:
          type: string
      - x-go-name: StartTime
        description: Specify the date and time to filter jobs that were run during the specified timestamp. Specify the date and time in UTC format (YYYY-MM-DDTHH:MM:SSZ). The timestamp must be within six months from the current date. For example, if the current date is 2020-10-02, you can specify any date between 2020-04-03 to 2020-10-02.
        name: fromTime
        in: query
        schema:
          type: string
          format: date-time
      - x-go-name: EndTime
        description: Specify the date and time to filter jobs that were run until the specified timestamp. Specify the date and time in UTC format. The format is YYYY-MM-DDTHH:MM:SSZ.
        name: toTime
        in: query
        schema:
          type: string
          format: date-time
      - x-go-name: SortOrder
        description: Sort the API results by the scheduled time of the job, either in ascending or descending order. Set the sortOrder value to ASC or DESC. The default value is ASC.
        name: sortOrder
        in: query
        schema:
          type: string
      - x-go-name: PageToken
        description: Specify the token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FSGetRestoreJobReportResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /fileserver/v1/orgs/{OrgID}/reports/jobs/uploadlogs:
    get:
      description: Returns all upload logs jobs for Windows/Linux servers
      tags:
      - File Server
      summary: List all upload logs jobs
      operationId: FSGetUploadLogJobReportRequest
      security:
      - Bearer: []
      parameters:
      - description: Specify the organization ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: ServerName
        description: Specify the name of the Windows/Linux server. Specify multiple server names by separating them with commas. Get the name of all servers using the 'List all Windows/Linux Servers' API.
        name: serverName
        in: query
        schema:
          type: string
      - x-go-name: Status
        description: 'Specify the status of the job. This parameter can be set to one or more of the following values: Queued, Running, Successful, Successful with errors and Failed. Specify multiple status values by separating them with commas.'
        name: status
        in: query
        schema:
          type: string
      - x-go-name: StartTime
        description: Specify the date and time to filter jobs that were run during the specified timestamp. Specify the date and time in UTC format (YYYY-MM-DDTHH:MM:SSZ). The timestamp must be within six months from the current date. For example, if the current date is 2020-10-02, you can specify any date between 2020-04-03 to 2020-10-02.
        name: fromTime
        in: query
        schema:
          type: string
          format: date-time
      - x-go-name: EndTime
        description: Specify the date and time to filter jobs that were run until the specified timestamp. Specify the date and time in UTC format. The format is YYYY-MM-DDTHH:MM:SSZ.
        name: toTime
        in: query
        schema:
          type: string
          format: date-time
      - x-go-name: SortOrder
        description: Sort the API results by the scheduled time of the job, either in ascending or descending order. Set the sortOrder value to ASC or DESC. The default value is ASC.
        name: sortOrder
        in: query
        schema:
          type: string
      - x-go-name: PageToken
        description: Specify the token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FSGetUploadLogJobReportResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /fileserver/v1/orgs/{OrgID}/reports/policies:
    get:
      description: Returns all policies for Windows/Linux servers
      tags:
      - File Server
      summary: List all policies
      operationId: FSGetPoliciesRequest
      security:
      - Bearer: []
      parameters:
      - description: Specify the organization ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: PageToken
        description: Specify the token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FSGetPoliciesResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /fileserver/v1/orgs/{OrgID}/reports/servers:
    get:
      description: Returns all Windows/Linux servers
      tags:
      - File Server
      summary: List all Windows/Linux Servers
      operationId: FSListFileServerRequest
      security:
      - Bearer: []
      parameters:
      - description: Specify the organization ID of your organization. Set it to "0" to select all organizations. Get the ID of an organization using the 'List all organizations' API.
        name: OrgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: ServerName
        description: Specify the name of the Windows/Linux server. Specify multiple server names by separating them with commas. Get the name of all servers using the 'List all Windows/Linux Servers' API.
        name: serverName
        in: query
        schema:
          type: string
      - x-go-name: PageToken
        description: Specify the token to access the next page of results. Keep this field blank in the first request. Use the token value received in the previous response's parameter 'nextPageToken'.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FSListFileServerResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /fileserver/v2/orgs/{orgID}/backupsets/{backupsetID}/snapshots:
    get:
      description: Returns snapshots for the specified backup set.
      tags:
      - File Server
      summary: List all snapshots
      operationId: FSGetSnapshotsRequest
      security:
      - Bearer: []
      parameters:
      - x-go-name: OrgID
        description: Specify the ID of your organization. Get the ID of an organization using the 'List all organizations' API.
        name: orgID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: BackupSetID
        description: Specify the ID of your backup set. Get the ID using the 'List backup sets' API.
        name: backupsetID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - x-go-name: SnapshotTypes
        description: 'Specify the type of snapshot. The possible values for the snapshot type are: "HOT", "WARM", and "COLD". Specify multiple snapshot types by separating the values with commas.'
        name: snapshotTypes
        in: query
        schema:
          type: string
          enum:
          - HOT
          - WARM
          - COLD
      - x-go-name: FromTime
        description: Specify a date and time in the UTC format YYYY-MM-DDTHH:MM:SSZ to display all snapshots created after this date and time.
        name: fromTime
        in: query
        schema:
          type: string
          format: date-time
      - x-go-name: ToTime
        description: Specify a date and time in the UTC format YYYY-MM-DDTHH:MM:SSZ to display all snapshots created before this date and time.
        name: toTime
        in: query
        schema:
          type: string
          format: date-time
      - x-go-name: SortOrder
        description: Specify whether to sort the returned snapshots in ascending or descending order of the snapshot creation time. Set it to "ASC" or "DESC" to sort the list in ascending or descending order respectively. The default value is ASC.
        name: sortOrder
        in: query
        schema:
          type: string
      - x-go-name: PageToken
        description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
        name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/FSGetSnapshotsResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
  /fileserver/v2/orgs/{orgID}/jobs/backupNow:
    post:
      description: Initiates an on-demand backup for a File Server backup set.
      tags:
      - File Server
      summary: On-demand backup
      operationId: FSBackupNowRequest
      security:
      - Bearer: []
      parameters:
      - x-go-name: OrgID
        name: orgID
        in: path
        required: true
        description: Specify the ID of your organization. Get the ID of an organization using the 'List all organizations' API.
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FSBackupNowRequestParams'
        required: true
        x-go-name: Params
      responses:
        '200':
          description: Result schema with Response set to job ID of newly created job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FSBackupNowResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
  /fileserver/v2/orgs/{orgID}/jobs/restores/originalServer:
    post:
      description: Create a restore job for the original server at original or custom location.
      tags:
      - File Server
      summary: Create a restore job for the original server
      operationId: FSOriginalRestoreRequest
      security:
      - Bearer: []
      parameters:
      - x-go-name: OrgID
        name: orgID
        in: path
        required: true
        description: Specify the ID of your organization. Get the ID of an organization using the 'List all organizations' API.
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FSOriginalRestoreParams'
        required: true
        x-go-name: OriginalRestoreParams
      responses:
        '200':
          description: Successfully triggered restore job
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/FSRestoreResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
  /fileserver/v2/orgs/{orgID}/jobs/restores/alternateServer:
    post:
      description: Create a restore job for the alternate server.
      tags:
      - File Server
      summary: Create a restore job for the alternate server
      operationId: FSAlternateRestoreRequest
      security:
      - Bearer: []
      parameters:
      - x-go-name: OrgID
        name: orgID
        in: path
        required: true
        description: Specify the ID of your organization. Get the ID of an organization using the 'List all organizations' API.
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FSAlternateRestoreParams'
        required: true
        x-go-name: AlternateRestoreParams
      responses:
        '200':
          description: Successfully triggered restore job
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/FSRestoreResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
  /fileserver/v2/orgs/{orgID}/jobs/cancel:
    post:
      description: Cancels the specified job.
      tags:
      - File Server
      summary: Cancel a job
      operationId: FSCancelJobRequest
      security:
      - Bearer: []
      parameters:
      - x-go-name: SiteID
        name: orgID
        in: path
        required: true
        description: Specify the ID of your organization. Get the ID of an organization using the 'List all organizations' API.
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FSCancelJobParams'
        required: true
        x-go-name: Params
      responses:
        '200':
          description: Result schema with response set to JobID cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FSCancelJobResponse'
        '400':
          description: Bad Request
        '401':
          description: The request did not include an authentication token or the authentication token was expired.
        '403':
          description: Forbidden
        '404':
          description: The requested resource was not found.
        '500':
          description: The request was not processed due to an internal error in Cloud.
components:
  schemas:
    FSEnvironmentStruct:
      type: object
      title: 'EnvironmentStruct : Environment details of the job.'
      properties:
        diskReadRate:
          description: Specifies the bit rate for reading I/O by the agent. The Disk Read Rate is an average of the total data read with respect to the total time taken to read data at various intervals for all drives where data is distributed.
          type: string
          x-go-name: DiskReadRate
        diskReadRateInKBps:
          description: Specifies the bit rate in Kilobytes per second for reading I/O by the agent. The Disk Read Rate is an average of the total data read with respect to the total time taken to read data at various intervals for all drives where data is distributed.
          type: number
          format: double
          x-go-name: DiskReadRateInKBps
        networkRetries:
          description: Number of retries during the job due to network issues.
          type: integer
          format: int32
          x-go-name: NetworkRetries
        networkRetryDuration:
          description: Specifies the total time spent in the network retries. It represents the cumulative of all network session duration.
          type: string
          x-go-name: NetworkRetryDuration
        networkRetryDurationInSeconds:
          description: Specifies the total time spent in seconds in the network retries. It represents the cumulative of all network session duration.
          type: integer
          format: int64
          x-go-name: NetworkRetryDurationInSeconds
      x-go-name: EnvironmentStruct
      x-go-package: phoenix/fileserver/cloud/report/spec/jobs
    FSLastBackupDetailsStruct:
      type: object
      title: 'LastBackupDetailsStruct : Details of last backup job.'
      properties:
        jobID:
          description: A unique identification number associated with the job. This parameter will be skipped if the value is NULL.
          type: integer
          format: int32
          x-go-name: JobID
        status:
          description: Status of the job. This parameter will be skipped if the value is NULL.
          type: string
          x-go-name: Status
      x-go-name: LastBackupDetailsStruct
      x-go-package: phoenix/fileserver/cloud/report/spec/backupsets
    FSBackupsetInfo:
      type: object
      title: 'BackupsetInfo : Details of the backup set.'
      properties:
        backupContent:
          $ref: '#/components/schemas/FSRuleStruct1'
        backupEnabled:
          description: Specifies whether the backup is enabled for the backup set.
          type: boolean
          x-go-name: BackupEnabled
        backupPolicyID:
          description: The ID of your backup policy.
          format: int64
          type: integer
          x-go-name: BackupPolicyID
        backupPolicyName:
          description: Name of the backup policy attached to the backup set.
          type: string
          x-go-name: BackupPolicyName
        backupsetID:
          description: The ID of your backup set.
          format: int32
          type: integer
          x-go-name: BackupsetID
        backupsetName:
          description: The name of the backup set.
          type: string
          x-go-name: BackupsetName
        dataLock:
          description: The status indicating if Data Lock is enabled for the backup set
          type: boolean
          x-go-name: Immutability
        lastBackupDetails:
          $ref: '#/components/schemas/FSLastBackupDetailsStruct'
        organizationID:
          description: The ID of your organization.
          format: int32
          type: integer
          x-go-name: OrgID
        ltrEnabled:
          description: The status of the backup set whether enabled for long term retention. For example, True denotes that the backup set is enabled for LTR.
          type: boolean
          x-go-name: LTREnabled
        organizationName:
          description: The name of the organization.
          type: string
          x-go-name: OrgName
        serverName:
          description: The name of the Windows/Linux server.
          type: string
          x-go-name: ServerName
        storageName:
          description: The name of the storage.
          type: string
          x-go-name: StorageName
        warmTierDuration:
          description: Lists the duration in days for which the snapshot will reside in the warm tier of the AWS storage.
          type: integer
          format: int32
          x-go-name: WarmTierDuration
      x-go-name: BackupsetInfo
      x-go-package: phoenix/fileserver/cloud/report/spec/backupsets
    FSRestoreEnvironmentStruct:
      type: object
      title: 'RestoreEnvironmentStruct : Environment details of the job.'
      properties:
        diskWriteRate:
          description: Specifies the bit rate in for writing I/O by the agent. The Disk Write Rate is the average of the total data written with respect to the total time taken to write data at various intervals.
          type: string
          x-go-name: DiskWriteRate
        diskWriteRateInKBps:
          description: Specifies the bit rate in Kilobytes per second for writing I/O by the agent. The Disk Write Rate is the average of the total data written with respect to the total time taken to write data at various intervals.
          type: number
          format: double
          x-go-name: DiskWriteRateInKBps
        networkRetries:
          description: Number of retries during the job due to network issues.
          type: integer
          format: int32
          x-go-name: NetworkRetries
        networkRetryDuration:
          description: Specifies the total time spent in the network retries. It represents the cumulative of all network session duration.
          type: string
          x-go-name: NetworkRetryDuration
        networkRetryDurationInSeconds:
          description: Specifies the total time spent in seconds in the network retries. It represents the cumulative of all network session duration.
          type: integer
          format: int64
          x-go-name: NetworkRetryDurationInSeconds
      x-go-name: RestoreEnvironmentStruct
      x-go-package: phoenix/fileserver/cloud/report/spec/jobs
    FSGetRestoreJobsReport:
      description: GetRestoreJobsReport struct holds the response for GetRestoreJobsReport api
      type: object
      properties:
        backupContent:
          $ref: '#/components/schemas/FSRuleStruct1'
        backupsetID:
          description: The ID of your backup set.
          format: int32
          type: integer
          x-go-name: BackupsetID
        destinationServerName:
          description: Name of the Windows/Linux server to which the restore was initiated.
          type: string
          x-go-name: DestinationServerName
        environmentDetails:
          $ref: '#/components/schemas/FSRestoreEnvironmentStruct'
        executionDetails:
          $ref: '#/components/schemas/FSRestoreExecutionDetailsStruct'
        jobID:
          description: A unique identification number associated with the job.
          type: integer
          format: int32
          x-go-name: JobID
        jobType:
          description: Type of the job.
          type: string
          enum:
          - Backup
          - Restore
          - Log Request
          x-go-name: JobType
        organizationID:
          description: The ID of your organization.
          format: int32
          type: integer
          x-go-name: OrgID
        organizationName:
          description: The name of the organization.
          type: string
          x-go-name: OrgName
        serverName:
          description: Name of the Windows/Linux server on which the backup was initiated.
          type: string
          x-go-name: SourceDeviceName
      x-go-name: GetRestoreJobsReport
      x-go-package: phoenix/fileserver/cloud/report/spec/jobs
    FSGetUploadLogJobsReport:
      description: GetUploadLogJobsReport struct holds the response for GetUploadLogJobsReport api
      type: object
      properties:
        jobID:
          description: A unique identification number associated with the job.
          type: integer
          format: int32
        executionDetails:
          $ref: '#/components/schemas/FSUploadLogExecDetailsStruct'
        jobType:
          description: Type of the job.
          type: string
          enum:
          - Backup
          - Restore
          - Log Request
          x-go-name: JobType
        organizationName:
          description: The name of the organization.
          type: string
          x-go-name: OrgName
        serverName:
          description: Name of the Windows/Linux server on which the backup was initiated.
          type: string
          x-go-name: SourceDeviceName
      x-go-name: GetUploadLogJobsReport
      x-go-package: phoenix/fileserver/cloud/report/spec/jobs
    FSGetPolicies:
      description: GetPolicies struct holds the response for GetPolicies api
      type: object
      properties:
        aclFlag:
          description: Whether ACL flag scan is enabled. This parameter will be skipped if the value is NULL.
          type: boolean
          x-go-name: ACLFlag
        age:
          description: If ScanMode is SmartScan, the number of days upto which files updated are to be backed up. This parameter will be skipped if the value is NULL.
          type: string
          x-go-name: Age
        automaticRetry:
          description: Whether automatic retry is enabled.
          type: boolean
          x-go-name: AutomaticRetry
        dataLock:
          description: The status indicating if Data Lock is enabled in the backup policy
          type: boolean
          x-go-name: Immutability
        description:
          description: Description of the policy.
          type: string
          x-go-name: Description
        fullScanSchedule:
          $ref: '#/components/schemas/FSFullScanSchedule'
        ignoreFirstBackupDuration:
          description: Whether backup duration is to be ignored for first backup.
          type: boolean
          x-go-name: IgnoreBackupDuration
        maxRetryCount:
          description: Maximum retry count for job operation. This parameter will be skipped if the value is NULL.
          type: integer
          format: int64
          x-go-name: MaxRetryCount
        maxRetryDuration:
          description: Specifies the wait interval before the job is retried.
          type: string
          x-go-name: MaxRetryDuration
        maxRetryDurationInSeconds:
          description: Specifies the wait interval in seconds before the job is retried.
          type: integer
          format: int64
          x-go-name: MaxRetryDurationInSeconds
        organizationName:
          description: The name of the organization.
          type: string
          x-go-name: OrgName
        policyID:
          description: The ID of your backup policy.
          type: integer
          format: int64
          x-go-name: PolicyID
        policyName:
          description: Name of the policy.
          type: string
          x-go-name: PolicyName
        policyType:
          description: Type of the policy.
          type: string
          enum:
          - Files
          x-go-name: PolicyType
        prePostScript:
          $ref: '#/components/schemas/FSPrePostScriptDetails'
        retention:
          $ref: '#/components/schemas/FSRetentionPolicy'
        scanMode:
          description: Scan mode of the policy.
          type: string
          enum:
          - Smart
          - Full
          x-go-name: ScanMode
        schedules:
          description: Schedule info for the backup. This parameter will be skipped if the value is NULL.
          type: array
          items:
            $ref: '#/components/schemas/FSSchedules'
          x-go-name: Schedules
      x-go-name: GetPolicies
      x-go-package: phoenix/fileserver/cloud/report/spec/policies
    FSGetAllJobsReportResponse:
      description: GetAllJobsReportResponse is the response schema for GetAllJobsReport
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/FSGetAllJobsReport'
          x-go-name: Jobs
        nextPageToken:
          description: The token to access the next page of results. This parameter will be empty for the last page of results.
          type: string
          x-go-name: OutToken
      x-go-name: GetAllJobsReportResponse
      x-go-package: phoenix/fileserver/cloud/report/spec/jobs
    FSExecutionDetailsStruct:
      type: object
      title: 'ExecutionDetailsStruct : Execution details of the job.'
      properties:
        endTime:
          description: The time when the job completes. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: EndTime
        errorCode:
          description: 'Specifies the error code for the failed jobs. The possible values are:

            \"0\": If the job is successful

            <error_number>: If the job has failed'
          type: string
          x-go-name: ErrorCode
        errorMessage:
          description: Specifies the error message for the failed jobs. This field is empty if the job is successful.
          type: string
          x-go-name: ErrorMsg
        postScriptStatus:
          description: Post-script execution status of the job.
          type: string
          enum:
          - Successful
          - ' Failed'
          - ' Skipped'
          - ' Not enabled'
          - ' N/A'
          x-go-name: PostScriptStatus
        preScriptStatus:
          description: Pre-script execution status of the job.
          type: string
          enum:
          - Successful
          - ' Failed'
          - ' Skipped'
          - ' Not enabled'
          - ' N/A'
          x-go-name: PreScriptStatus
        scanMode:
          description: Scanning mode of the job.
          type: string
          enum:
          - Smart
          - ' Full'
          x-go-name: ScanMode
        scheduleTime:
          description: The date and time when the job starts or is scheduled to start. The time is specified in UTC in the format YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: ScheduleTime
        startTime:
          description: The time when the job starts. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: StartTime
        status:
          description: Status of the job.
          type: string
          enum:
          - Queued
          - Running
          - Successful
          - Successful with errors
          - Failed
          x-go-name: Status
      x-go-name: ExecutionDetailsStruct
      x-go-package: phoenix/fileserver/cloud/report/spec/jobs
    FSRestoreResponse:
      description: FSRestoreResponse response schema for restore
      type: object
      properties:
        jobIDs:
          description: The unique identification number associated with the job.
          type: array
          items:
            type: integer
            format: int32
          x-go-name: JobIDs
      x-go-package: phoenix/fileserver/cloud/configserver/spec/job
    FSFullScanSchedule:
      type: object
      title: 'FullScanSchedule : Full scan schedule info for the backup.'
      properties:
        bandwidth:
          description: Specifies the bandwidth that each resource can consume while backing up data to the Cloud.
          type: string
          x-go-name: Bandwidth
        bandwidthInKBps:
          description: Specifies the bandwidth in Kilobytes per second that each resource can consume while backing up data to the Cloud.
          type: number
          format: double
          x-go-name: BandwidthInKBps
        duration:
          description: Specifies the duration after which you want backup operations to stop.
          type: string
          x-go-name: Duration
        durationInSeconds:
          description: Specifies the duration in seconds after which you want backup operations to stop.
          type: integer
          format: int64
          x-go-name: DurationInSeconds
        repeatOn:
          $ref: '#/components/schemas/JSONStringList'
        scanSchedule:
          description: The schedule of the scan.
          type: string
          x-go-name: NoOfWeeks
        startAt:
          description: The start hour of the backup operation.
          type: string
          x-go-name: StartAt
      x-go-name: FullScanSchedule
      x-go-package: phoenix/fileserver/cloud/report/spec/policies
    FSGetBackupJobReportResponse:
      description: GetBackupJobReportResponse is the response schema for GetBackupJobReport
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/FSGetBackupJobsReport'
          x-go-name: Jobs
        nextPageToken:
          description: The token to access the next page of results. This parameter will be empty for the last page of results.
          type: string
          x-go-name: OutToken
      x-go-name: GetBackupJobReportResponse
      x-go-package: phoenix/fileserver/cloud/report/spec/jobs
    FSDataTransferStruct:
      type: object
      title: 'DataTransferStruct : Data transfer details of the job.'
      properties:
        backupDuration:
          description: Specifies the total time taken to upload data to the Cloud and CloudCache. Backup duration excludes the estimation time, network retry time, and the waiting for retry time.
          type: string
          x-go-name: BackupDuration
        backupDurationInSeconds:
          description: Specifies the total time taken in seconds to upload data to the Cloud and CloudCache. Backup duration excludes the estimation time, network retry time, and the waiting for retry time.
          type: integer
          format: int64
          x-go-name: BackupDurationInSeconds
        backupSpeed:
          description: Specifies the rate at which the source data is backed up to the Cloud.
          type: string
          x-go-name: BackupSpeed
        backupSpeedInKBps:
          description: Specifies the rate in Kilobytes per second at which the source data is backed up to the Cloud.
          type: number
          format: double
          x-go-name: BackupSpeedInKBps
        bandwidthConsumed:
          description: Specifies the bit rate to transfer data from the Cloud and CloudCache.
          type: string
          x-go-name: BandwidthConsumed
        bandwidthConsumedInKBps:
          description: Specifies the bit rate in Kilobytes per second to transfer data from the Cloud and CloudCache.
          type: number
          format: double
          x-go-name: BandwidthConsumedInKBps
        dataTransferCache:
          description: Specifies the incremental data that is uploaded to CloudCache after deduplication and compression.
          type: string
          x-go-name: DataTransferCache
        dataTransferCacheInBytes:
          description: Specifies the incremental data in bytes that is uploaded to CloudCache after deduplication and compression.
          type: integer
          format: uint64
          x-go-name: DataTransferCacheInBytes
        dataTransferCloud:
          description: Specifies the incremental data that is uploaded to the Cloud after deduplication and compression.
          type: string
          x-go-name: DataTransferCloud
        dataTransferCloudInBytes:
          description: Specifies the incremental data in bytes that is uploaded to the Cloud after deduplication and compression.
          type: integer
          format: uint64
          x-go-name: DataTransferCloudInBytes
      x-go-name: DataTransferStruct
      x-go-package: phoenix/fileserver/cloud/report/spec/jobs
    FSServerResponse:
      description: ServerResponse is the response part of the  schema for ListFileServer
      type: object
      properties:
        activationTime:
          description: The time at which the Windows/Linux server was activated for Enterprise Workloads.
          type: string
          x-go-name: ActivationTime
        configuredForFile:
          description: Specifies whether the Windows/Linux server is configured for backup of files.
          type: boolean
          x-go-name: ConfiguredForFile
        organizationName:
          description: The name of the organization the Windows/Linux server is part of.
          type: string
          x-go-name: OrganizationName
        platform:
          description: The platform the Windows/Linux server.
          type: string
          x-go-name: Platform
        resourceGroupName:
          description: The name of the resource group the Windows/Linux server is part of.
          type: string
          x-go-name: GroupName
        serverConnectionStatus:
          description: The connection status of the Windows/Linux server.
          type: boolean
          x-go-name: IsServerConnected
        serverName:
          description: The name of the Windows/Linux server.
          type: string
          x-go-name: ServerName
        version:
          description: The version the Windows/Linux server.
          type: string
          x-go-name: Version
      x-go-name: ServerResponse
      x-go-package: phoenix/fileserver/cloud/report/spec/servers
    FSBackupNowRequestParams:
      description: FSBackupNowRequestParams request parameters for backup now
      type: object
      properties:
        backupsetID:
          description: Specify the ID of the backup set. Get the ID using the 'List backup sets' API.
          type: integer
          format: int32
          x-go-name: BackupsetID
      x-go-package: phoenix/fileserver/cloud/configserver/spec/job
    FSGetRestoreJobReportResponse:
      description: GetRestoreJobReportResponse is the response schema for GetRestoreJobReport
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/FSGetRestoreJobsReport'
          x-go-name: Jobs
        nextPageToken:
          description: The token to access the next page of results. This parameter will be empty for the last page of results.
          type: string
          x-go-name: OutToken
      x-go-name: GetRestoreJobReportResponse
      x-go-package: phoenix/fileserver/cloud/report/spec/jobs
    FSGetUploadLogJobReportResponse:
      description: GetUploadLogJobReportResponse is the response schema for GetUploadLogJobReport
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/FSGetUploadLogJobsReport'
          x-go-name: Jobs
        nextPageToken:
          description: The token to access the next page of results. This parameter will be empty for the last page of results.
          type: string
          x-go-name: OutToken
      x-go-name: GetUploadLogJobReportResponse
      x-go-package: phoenix/fileserver/cloud/report/spec/jobs
    FSRuleStruct1:
      type: object
      title: 'RuleStruct : The data that is backed up on a server.'
      properties:
        backupContent:
          $ref: '#/components/schemas/FSBackupContentStruct'
        ruleName:
          description: Name of the content rule.
          type: string
          x-go-name: RuleName
      x-go-name: RuleStruct
      x-go-package: phoenix/fileserver/cloud/report/spec/contentrules
    FSGetPoliciesResponse:
      description: GetPoliciesResponse is response schema for GetPolicies
      type: object
      properties:
        policies:
          type: array
          items:
            $ref: '#/components/schemas/FSGetPolicies'
          x-go-name: Policies
        nextPageToken:
          description: The token to access the next page of results. This parameter will be empty for the last page of results.
          type: string
          x-go-name: OutToken
      x-go-name: GetPoliciesResponse
      x-go-package: phoenix/fileserver/cloud/report/spec/policies
    FSGetSnapshotsResponse:
      description: FSGetSnapshotsResponse is the response schema for GetSnapshotsResponse
      type: object
      properties:
        snapshots:
          type: array
          items:
            $ref: '#/components/schemas/FSSnapshot'
          x-go-name: RPs
        nextPageToken:
          description: The token to access the next page of results. This parameter will be empty for the last page of results.
          type: string
          x-go-name: NextPageToken
      x-go-name: GetSnapshotsResponse
      x-go-package: fileserver/cloud/configserver/spec/backupset
    ServiceError:
      description: Service Error
      type: object
      title: ServiceError represents an error with an associated error code.
      properties:
        code:
          type: integer
          format: int64
          x-go-name: Code
          description: Error Code
        message:
          type: string
          description: Application specific error message
      x-go-package: vendor/druva.com/godevkit/errortype
    FSListFileServerResponse:
      description: ListFileServerResponse is the response schema for ListFileServer
      type: object
      properties:
        nextPageToken:
          description: The token to access the next page of results. This parameter will be empty for the last page of results.
          type: string
          x-go-name: OutToken
        servers:
          type: array
          items:
            $ref: '#/components/schemas/FSServerResponse'
          x-go-name: Servers
      x-go-name: ListFileServerResponse
      x-go-package: phoenix/fileserver/cloud/report/spec/servers
    FSGetContentRulesResponse:
      description: GetContentRulesResponse is response schema for GetContentRules
      type: object
      properties:
        contentRules:
          type: array
          items:
            $ref: '#/components/schemas/FSRuleStruct'
          x-go-name: ContentRules
        nextPageToken:
          description: The token to access the next page of results. This parameter will be empty for the last page of results.
          type: string
          x-go-name: OutToken
      x-go-name: GetContentRulesResponse
      x-go-package: phoenix/fileserver/cloud/report/spec/contentrules
    FSSchedules:
      type: object
      title: 'Schedules : Schedule info for the backup.'
      properties:
        bandwidth:
          description: Specifies the bandwidth that each resource can consume while backing up data to the Cloud.
          type: string
          x-go-name: Bandwidth
        bandwidthInKBps:
          description: Specifies the bandwidth in Kilobytes per second that each resource can consume while backing up data to the Cloud.
          type: number
          format: double
          x-go-name: BandwidthInKBps
        duration:
          description: Specifies the duration after which you want backup operations to stop.
          type: string
          x-go-name: Duration
        durationInSeconds:
          description: Specifies the duration in seconds after which you want backup operations to stop.
          type: integer
          format: int64
          x-go-name: DurationInSeconds
        repeatOn:
          $ref: '#/components/schemas/JSONStringList'
        startAt:
          description: The start hour of the backup operation.
          type: string
          x-go-name: StartAt
      x-go-name: Schedules
      x-go-package: phoenix/fileserver/cloud/report/spec/policies
    FSGetBackupJobsReport:
      description: GetBackupJobsReport struct holds the response for GetBackupJobsReport api
      type: object
      properties:
        backupContent:
          $ref: '#/components/schemas/FSRuleStruct1'
        backupPolicyID:
          description: The ID of your backup policy.
          format: int64
          type: integer
          x-go-name: BackupPolicyID
        backupPolicyName:
          description: The name of the backup policy.
          type: string
          x-go-name: BackupPolicyName
        backupsetID:
          description: The ID of your backup set.
          format: int32
          type: integer
          x-go-name: BackupsetID
        dataTransfer:
          $ref: '#/components/schemas/FSDataTransferStruct'
        environmentDetails:
          $ref: '#/components/schemas/FSEnvironmentStruct'
        estimationDetails:
          $ref: '#/components/schemas/FSEstimationDetailsStruct'
        executionDetails:
          $ref: '#/components/schemas/FSExecutionDetailsStruct'
        jobID:
          description: A unique identification number associated with the job.
          type: integer
          format: int32
          x-go-name: JobID
        jobType:
          description: The type of the job.
          type: string
          enum:
          - Backup
          - Restore
          - Log Request
          x-go-name: JobType
        organizationID:
          description: The ID of your organization.
          format: int32
          type: integer
          x-go-name: OrgID
        organizationName:
          description: The name of the organization.
          type: string
          x-go-name: OrgName
        serverName:
          description: The name of Windows/Linux server.
          type: string
          x-go-name: SourceDeviceName
      x-go-name: GetBackupJobsReport
      x-go-package: phoenix/fileserver/cloud/report/spec/jobs
    FSOriginalRestoreParams:
      description: FSOriginalRestoreParams request parameters for original restore
      type: object
      properties:
        backupsetID:
          description: Specify the ID of the backup set. Get the ID using the 'List backup sets' API.
          type: integer
          format: int32
          x-go-name: BackupsetID
        snapshotName:
          description: Specify the name of the snapshot. Get the name of the snapshot using the 'List all snapshots' API.
          type: string
          x-go-name: SnapshotName
        sourcePath:
          description: Specify the path to the file or folder in the snapshot, which needs to be restored.
          type: string
          x-go-name: SourcePath
        isOriginalLocationRestore:
          description: Specify if the restore location is original or custom.
          type: boolean
          x-go-name: IsOriginalLocationRestore
        destinationPath:
          description: Path of the folder where files will be restored.
          type: string
          x-go-name: DestinationPath
        fileHandlingOption:
          description: Specify the option to restore files. The possible values are "overwrite", "skip", "restoreAndMoveOriginal", or "overwriteOlder".
          type: string
          x-go-name: FileHandlingOption
        preserveOriginalDirectoryStructure:
          description: Specify whether you want to preserve the original directory structure. The possible values are "True" or "False".
          type: boolean
          x-go-name: PreserveOriginalDirectoryStructure
      x-go-package: phoenix/fileserver/cloud/configserver/spec/job
    FSRestoreExecutionDetailsStruct:
      type: object
      title: 'RestoreExecutionDetailsStruct : Execution details of the job.'
      properties:
        bandwidthConsumed:
          description: Specifies the bit to transfer data from the Cloud and CloudCache.
          type: string
          x-go-name: BandwidthConsumed
        bandwidthConsumedInKBps:
          description: Specifies the bit rate in Kilobytes per second to transfer data from the Cloud and CloudCache.
          type: number
          format: double
          x-go-name: BandwidthConsumedInKBps
        errorCode:
          description: 'Specifies the error code for the failed jobs. The possible values are:

            \"0\": If the job is successful

            <error_number>: If the job has failed'
          type: string
          x-go-name: ErrorCode
        errorMessage:
          description: Specifies the error message for the failed jobs. This field is empty if the job is successful.
          type: string
          x-go-name: ErrorMsg
        endTime:
          description: The time when the job completes. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: EndTime
        fileSizeDistribution:
          description: File size distribution of the files restored during the job.
          type: object
          additionalProperties:
            type: string
          x-go-name: FileSizeDistribution
        restoredData:
          description: Specifies the total amount of data restored.
          type: string
          x-go-name: RestoredData
        restoredDataInBytes:
          description: Specifies the total amount of data restored in bytes.
          type: integer
          format: uint64
          x-go-name: RestoredDataInBytes
        restoredItems:
          description: Files/folders restored on the server.
          type: string
          x-go-name: RestoredItems
        scheduleTime:
          description: The date and time when the job starts or is scheduled to start. The time is specified in UTC in the format YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: ScheduleTime
        startTime:
          description: The time when the job starts. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: StartTime
        status:
          description: Status of the job.
          type: string
          enum:
          - Queued
          - Running
          - Successful
          - Successful with errors
          - Failed
          x-go-name: Status
      x-go-name: RestoreExecutionDetailsStruct
      x-go-package: phoenix/fileserver/cloud/report/spec/jobs
    FSRuleStruct:
      type: object
      title: 'RuleStruct : The data that is backed up on a server.'
      properties:
        backupContent:
          $ref: '#/components/schemas/FSBackupContentStruct'
        organizationName:
          description: The name of the organization.
          type: string
          x-go-name: OrgName
          x-omitempty: true
        ruleName:
          description: Name of the content rule.
          type: string
          x-go-name: RuleName
      x-go-name: RuleStruct
      x-go-package: phoenix/fileserver/cloud/report/spec/contentrules
    FSUploadLogExecDetailsStruct:
      type: object
      title: 'UploadLogExecDetailsStruct : Execution details of the job.'
      properties:
        endTime:
          description: The time when the job completes. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: EndTime
        errorCode:
          description: 'Specifies the error code for the failed jobs. The possible values are:

            \"0\": If the job is successful

            <error_number>: If the job has failed'
          type: string
          x-go-name: ErrorCode
        errorMessage:
          description: Specifies the error message for the failed jobs. This field is empty if the job is successful.
          type: string
          x-go-name: ErrorMsg
        logsExpiryTime:
          description: Expiry time of the uploaded logs. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: LogsExpiryTime
        logsSize:
          description: Specifies the size of the extracted log files.
          type: string
          x-go-name: LogsSize
        logsSizeInBytes:
          description: Specifies the size of the extracted log files in bytes.
          type: integer
          format: uint64
          x-go-name: LogsSizeInBytes
        scheduleTime:
          description: The date and time when the job starts or is scheduled to start. The time is specified in UTC in the format YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: ScheduleTime
        sourceJobID:
          description: The ID of the job for which logs are being requested.
          type: integer
          format: int32
          x-go-name: SourceJobID
        sourceJobType:
          description: The job type for which logs are being requested.
          type: string
          x-go-name: SourceJobLogType
        startTime:
          description: The time when the job starts. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: StartTime
        status:
          description: Status of the job.
          type: string
          enum:
          - Queued
          - Running
          - Successful
          - Successful with errors
          - Failed
          x-go-name: Status
      x-go-name: UploadLogExecDetailsStruct
      x-go-package: phoenix/fileserver/cloud/report/spec/jobs
    FSAlternateRestoreParams:
      description: FSAlternateRestoreParams request parameters for alternate restore
      type: object
      properties:
        backupsetID:
          description: Specify the ID of the backup set. Get the ID using the 'List backup sets' API.
          type: integer
          format: int32
          x-go-name: BackupsetID
        snapshotName:
          description: Specify the name of the snapshot. Get the name of the snapshot using the 'List all snapshots' API.
          type: string
          x-go-name: SnapshotName
        sourcePath:
          description: Specify the path to the file or folder in the snapshot, which needs to be restored.
          type: string
          x-go-name: SourcePath
        destinationDeviceID:
          description: ID of the device where the restore will happen.
          type: integer
          format: int32
          x-go-name: DestinationDeviceID
        destinationPath:
          description: Path of the folder where files will be restored.
          type: string
          x-go-name: DestinationPath
        fileHandlingOption:
          description: Specify the option to restore files. The possible values are "overwrite", "skip", "restoreAndMoveOriginal", or "overwriteOlder".
          type: string
          x-go-name: FileHandlingOption
        preserveOriginalDirectoryStructure:
          description: Specify whether you want to preserve the original directory structure. The possible values are "True" or "False".
          type: boolean
          x-go-name: PreserveOriginalDirectoryStructure
      x-go-package: phoenix/fileserver/cloud/configserver/spec/job
    FSCancelJobResponse:
      description: FSCancelJobResponse is response to cancel job request
      type: object
      properties:
        jobID:
          type: integer
          format: int32
          x-go-name: JobID
          description: 'The unique identification number associated with the job. The job ID is:<br />0: If the job is not successfully canceled.<br /><job_id>: If the job was successfully canceled.<br /><error_msg>: If the job is already completed, completed with errors, was canceled, or failed before it could be canceled.'
      x-go-package: phoenix/fileserver/cloud/configserver/spec/job
    FSGetBackupsetsResponse:
      description: GetBackupsetsResponse is response schema for GetBackupsets
      type: object
      properties:
        backupsets:
          type: array
          items:
            $ref: '#/components/schemas/FSBackupsetInfo'
          x-go-name: Backupsets
        nextPageToken:
          description: The token to access the next page of results. This parameter will be empty for the last page of results.
          type: string
          x-go-name: OutToken
      x-go-name: GetBackupsetsResponse
      x-go-package: phoenix/fileserver/cloud/report/spec/backupsets
    FSSnapshot:
      description: FSSnapshot struct holds the response for GetSnapshots API
      type: object
      properties:
        name:
          description: The name of the snapshot.
          type: string
          x-go-name: RPName
        snapshotType:
          description: 'The type of snapshot. The possible values for the snapshot type are: "HOT", "WARM", and "COLD".'
          type: string
          x-go-name: RPType
        createdAt:
          description: The creation date and time of the snapshot.
          type: string
          x-go-name: RPCreationTime
      x-go-name: RPDict
      x-go-package: fileserver/cloud/configserver/spec/backupset
    FSBackupContentStruct:
      type: object
      title: 'BackupContentStruct : Details of the content rule.'
      properties:
        excludeExtension:
          description: The list of file types that are excluded from the backup. You can select pre-defined file types that you want to exclude from the backup.
          type: array
          items:
            type: string
          x-go-name: ExcludeExtension
        excludeFolders:
          description: The list of folders that are excluded from the backup. See <a href=https://help.druva.com/en/articles/8651422-about-data-protection-for-file-servers>Folders excluded from File server backup</a>.
          type: array
          items:
            type: string
          x-go-name: ExcludeFolders
        excludePattern:
          description: The list of file extensions that are excluded in the backup.
          type: array
          items:
            type: string
          x-go-name: ExcludePattern
        excludeType:
          description: The list of file types that are excluded from the backup. You can select pre-defined file types that you want to exclude from the backup.
          type: array
          items:
            type: string
          x-go-name: ExcludeType
        includeExtension:
          description: The list of file extensions that are included in the backup.
          type: array
          items:
            type: string
          x-go-name: IncludeExtension
        includeFolders:
          description: List of folders/directories included in the backup operation.
          type: array
          items:
            type: string
          x-go-name: IncludeFolders
        includePattern:
          description: The list of file patterns that are included in the backup.
          type: array
          items:
            type: string
          x-go-name: IncludePattern
        includeType:
          description: The list of file types that are included in the backup. You can select pre-defined file types that you want to include in the backup. See <a href=https://help.druva.com/en/articles/8651422-about-data-protection-for-file-servers>File types supported for backup</a>.
          type: array
          items:
            type: string
          x-go-name: IncludeType
        isCaseInsensitive:
          description: The status of the case insensitivity flag.
          type: boolean
          x-go-name: IsCaseInsensitive
      x-go-name: BackupContentStruct
      x-go-package: phoenix/fileserver/cloud/report/spec/contentrules
    FSPrePostScriptDetails:
      type: object
      title: 'PrePostScriptDetails : Pre-/post-script details for backup operation.'
      properties:
        prePostScriptLocationLinux:
          description: Location of pre-/post-scripts on Linux servers
          type: string
          x-go-name: LocationOnLinux
        prePostScriptLocationWindows:
          description: Location for pre/post scripts on Windows servers
          type: string
          x-go-name: LocationOnWindows
        scriptTimeout:
          description: Specifies the time limit for the execution of pre scripts and post scripts.
          type: string
          x-go-name: ScriptTimeout
        scriptTimeoutInSeconds:
          description: Specifies the time limit in seconds for the execution of pre scripts and post scripts.
          type: integer
          format: int64
          x-go-name: ScriptTimeoutInSeconds
        skipBackupForPreScriptFails:
          description: Specifies whether the backup operation is skipped on pre-script execution failure.
          type: boolean
          x-go-name: SkipBackupForPreScriptFails
        skipBackupForPreScriptMissing:
          description: Specifies whether the backup operation is skipped in case of pre-script missing.
          type: boolean
          x-go-name: SkipBackupForPreScriptMissing
      x-go-name: PrePostScriptDetails
      x-go-package: phoenix/fileserver/cloud/report/spec/policies
    FSEstimationDetailsStruct:
      type: object
      title: 'EstimationDetailsStruct : Estimation phase details of the job.'
      properties:
        estimationTimeTaken:
          description: Specifies the approximate time taken to scan the data.
          type: string
          x-go-name: EstimationTimeTaken
        estimationTimeTakenInSeconds:
          description: Specifies the approximate time taken in seconds to scan the data.
          type: integer
          format: int64
          x-go-name: EstimationTimeTakenInSeconds
        fileSizeDistribution:
          description: File size distribution of the files backed up during the job.
          type: object
          additionalProperties:
            type: string
          x-go-name: FileSizeDistribution
        filesAdded:
          description: Number of files added at source during the job.
          type: integer
          format: int64
          x-go-name: FilesAdded
        filesChanged:
          description: Number of files changed at source during the job.
          type: integer
          format: int64
          x-go-name: FilesChanged
        filesRemoved:
          description: Number of files removed at source during the job.
          type: integer
          format: int64
          x-go-name: FilesRemoved
        filesScanned:
          description: Number of files scanned at source during the job.
          type: integer
          format: int64
          x-go-name: FilesScanned
        sourceDataScanned:
          description: Specifies the data scanned at the source in order to backup.
          type: string
          x-go-name: SourceDataScanned
        sourceDataScannedInBytes:
          description: Specifies the data scanned in bytes at the source in order to backup.
          type: integer
          format: uint64
          x-go-name: SourceDataScannedInBytes
      x-go-name: EstimationDetailsStruct
      x-go-package: phoenix/fileserver/cloud/report/spec/jobs
    FSRetentionPolicy:
      type: object
      title: 'RetentionPolicy : Retention details for the backup set.'
      properties:
        daily:
          description: The number of days for which daily backup restore points are to be retained.
          type: string
          x-go-name: Daily
        monthly:
          description: The number of months for which monthly backup restore points are to be retained.
          type: string
          x-go-name: Monthly
        weekly:
          description: The number of weeks for which weekly backup restore points are to be retained.
          type: string
          x-go-name: Weekly
        yearly:
          description: The number of years for which yearly backup restore points are to be retained.
          type: string
          x-go-name: Yearly
        ltrEnabled:
          description: The status of the backup set whether enabled for long term retention. For example, True denotes that the backup set is enabled for LTR.
          type: boolean
          x-go-name: LTREnabled
        warmTierDuration:
          description: Lists the duration in days for which the snapshot will reside in the warm tier of the AWS storage.
          type: integer
          format: int32
          x-go-name: WarmTierDuration
      x-go-name: RetentionPolicy
      x-go-package: phoenix/fileserver/cloud/report/spec/policies
    JSONStringList:
      description: JSONStringList is data type to be used in model definition for data that is string:interface map in memory but stored as JSON string in DB
      type: array
      items:
        type: string
      x-go-package: phoenix/pkg/dlutil
    FSCancelJobParams:
      description: FSCancelJobParams Request parameters for cancel job
      type: object
      required:
      - jobID
      properties:
        jobID:
          type: integer
          format: int32
          x-go-name: JobID
          description: Specify the ID of the job that you want to cancel. Get the ID of the job using the 'List all jobs' API.
      x-go-package: phoenix/fileserver/cloud/configserver/spec/job
    FSBackupNowResponse:
      description: FSBackupNowResponse response schema for backup now
      type: object
      properties:
        jobID:
          description: A unique identification number associated with the job.
          type: integer
          format: int32
          x-go-name: JobID
      x-go-package: phoenix/fileserver/cloud/configserver/spec/job
    FSGetAllJobsReport:
      description: GetAllJobsReport struct holds the response for GetAllJobsReport api
      type: object
      properties:
        backupContent:
          $ref: '#/components/schemas/FSRuleStruct1'
        endTime:
          description: The time when the job completes. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: EndTime
        errorCode:
          description: 'Specifies the error code for the failed jobs. The possible values are:

            \"0\": If the job is successful

            <error_number>: If the job has failed'
          type: string
          x-go-name: ErrorCode
        errorMessage:
          description: Specifies the error message for the failed jobs. This field is empty if the job is successful.
          type: string
          x-go-name: ErrorMsg
        jobID:
          description: A unique identification number associated with the job.
          type: integer
          format: int32
          x-go-name: JobID
        jobType:
          description: The type of the job.
          type: string
          enum:
          - Backup
          - Restore
          - Log Request
          x-go-name: JobType
        organizationName:
          description: The name of the organization.
          type: string
          x-go-name: OrgName
        scheduleTime:
          description: The date and time when the job starts or is scheduled to start. The time is specified in UTC in the format YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: ScheduleTime
        serverName:
          description: The name of Windows/Linux server.
          type: string
          x-go-name: SourceDeviceName
        startTime:
          description: The time when the job starts. The time is specified in the UTC timezone. The format is YYYY-MM-DDTHH:MM:SSZ.
          type: string
          x-go-name: StartTime
        status:
          description: Status of the job.
          type: string
          enum:
          - Queued
          - Running
          - Successful
          - Successful with errors
          - Failed
          x-go-name: Status
      x-go-name: GetAllJobsReport
      x-go-package: phoenix/fileserver/cloud/report/spec/jobs
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://apis.druva.com/token
          scopes:
            read: Grants read access
    Bearer:
      type: apiKey
      name: Authorization
      in: header
x-explorer-enabled: true
