openapi: 3.2.0
info:
  description: '# Welcome to CloudRanger


    Here are some instructions on how to use the API

    ## Authentication and Authorization

    * Access to the API is controlled by your API key generated in the CloudRanger dashboard and token

    * The token is returned by calling the /authorize endpoint and supplying the x-api-key header

    * All other calls use the x-api-key header and the Authorzation header with Bearer followed by your token'
  title: CloudRanger User API
  version: '2022-12-07T16:38:31.962Z'
servers:
- url: https://api.cloudranger.com/202004
tags:
- description: User specific API functions
  name: User
paths:
  /authorize:
    get:
      description: Use the API key to get your authentication token
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAuthorizeResponse'
          description: 200 response
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty'
          description: 201 response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 401 response
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
      security:
      - api_key: []
      summary: Get Authentication Token
      tags:
      - User
      operationId: getAuthorize
      x-operation-id-source: derived
  /myip:
    get:
      description: Get user IP Address
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIpResponse'
          description: 200 response
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty'
          description: 201 response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 401 response
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 403 response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 404 response
      security:
      - API_Authorizer: []
        api_key: []
      summary: Get IP Address
      tags:
      - User
      operationId: getMyip
      x-operation-id-source: derived
components:
  schemas:
    Error:
      properties:
        message:
          type: string
      type: object
    GetIpResponse:
      properties:
        ip:
          type: string
      type: object
    GetAuthorizeResponse:
      properties:
        token:
          type: string
      type: object
    empty:
      properties: {}
      type: object
  securitySchemes:
    API_Authorizer:
      in: header
      name: Authorization
      type: apiKey
      x-amazon-apigateway-authtype: custom
    api_key:
      in: header
      name: x-api-key
      type: apiKey
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
