openapi: 3.2.0
info:
  title: Druva MSP Microsoft 365 Reports API
  version: 1.0.0
  x-logo:
    url: ''
  description: Lists the APIs to get MSP Microsoft 365 reports data.
servers:
- url: https://apis.druva.com/
security: []
tags:
- name: Microsoft 365 Reports
  description: Lists the APIs to get MSP Microsoft 365 reports data.
paths:
  /msp/reporting/v1/reports/mspGroupsRestoreActivity:
    post:
      tags:
      - Microsoft 365 Reports
      summary: View Groups Restore Activity Report
      description: View daily trends & details of all restore activities performed on Groups. This API may be updated without any prior notification. Check the API documentation for the latest updates regularly.
      operationId: GetM365GroupsRestoreActivityReportDataRequest
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    pageSize:
                      type: integer
                      description: Specify the maximum number of records that should returned in a response. Maximum limit is 500 records. Default pageSize is 100.
                      default: 100
                    filterBy:
                      type: array
                      description: Select the filters to be applied to the report.
                      items:
                        type: object
                        properties:
                          fieldName:
                            type: string
                            description: Specify the name of the filter.
                            example: accountName
                            enum:
                            - accountName
                            - customerName
                            - customerGlobalId
                            - activityType
                            - groupName
                            - groupEmail
                            - groupType
                            - administrator
                            - lastUpdatedTime
                            - startTime
                            - endTime
                            - restoreStatus
                            - restoreSize
                            - snapshotTimestamp
                          operator:
                            type: string
                            description: The operators that are supported for the filter are - EQUAL, NOTEQUAL, CONTAINS, LT (less-than), LTEQ (less-than-or-equal), GT (greater-than), GTEQ (greater-than-or-equal).
                            example: EQUAL
                            enum:
                            - EQUAL
                            - GT
                            - GTE
                            - LT
                            - LTE
                            - CONTAINS
                            - NOTEQUAL
                          value:
                            oneOf:
                            - type: string
                              description: string
                            - type: integer
                              description: integer
                            - type: array
                              description: array of strings
                              items:
                                type: string
                            - type: array
                              description: array of integers
                              items:
                                type: integer
                            description: Specify the value of the filter applied to the report.
                            example: '3'
                pageToken:
                  type: string
                  description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
                  example: ''
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetM365GroupsRestoreActivityReportDataResponse'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: The requested resource was not found.
          content: {}
        '500':
          description: The request was not processed due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /msp/reporting/v1/reports/mspTeamsRestoreActivity:
    post:
      tags:
      - Microsoft 365 Reports
      summary: View Teams Restore Activity Report
      description: View daily trends & details of all restore activities performed on Teams. This API may be updated without any prior notification. Check the API documentation for the latest updates regularly.
      operationId: GetM365TeamsRestoreActivityReportDataRequest
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    pageSize:
                      type: integer
                      description: Specify the maximum number of records that should returned in a response. Maximum limit is 500 records. Default pageSize is 100.
                      default: 100
                    filterBy:
                      type: array
                      description: Select the filters to be applied to the report.
                      items:
                        type: object
                        properties:
                          fieldName:
                            type: string
                            description: Specify the name of the filter.
                            example: accountName
                            enum:
                            - accountName
                            - customerName
                            - customerGlobalId
                            - lastUpdatedTime
                            - teamName
                            - privacy
                            - administrator
                            - startTime
                            - endTime
                            - activityType
                            - restoreSize
                            - snapshotTimestamp
                            - restoreStatus
                          operator:
                            type: string
                            description: The operators that are supported for the filter are - EQUAL, NOTEQUAL, CONTAINS, LT (less-than), LTEQ (less-than-or-equal), GT (greater-than), GTEQ (greater-than-or-equal).
                            example: EQUAL
                            enum:
                            - EQUAL
                            - GT
                            - GTE
                            - LT
                            - LTE
                            - CONTAINS
                            - NOTEQUAL
                          value:
                            oneOf:
                            - type: string
                              description: string
                            - type: integer
                              description: integer
                            - type: array
                              description: array of strings
                              items:
                                type: string
                            - type: array
                              description: array of integers
                              items:
                                type: integer
                            description: Specify the value of the filter applied to the report.
                            example: '3'
                pageToken:
                  type: string
                  description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
                  example: ''
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetM365TeamsRestoreActivityReportDataResponse'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: The requested resource was not found.
          content: {}
        '500':
          description: The request was not processed due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /msp/reporting/v1/reports/mspPublicFolderRestoreActivity:
    post:
      tags:
      - Microsoft 365 Reports
      summary: View Public Folder Restore Activity Report
      description: View daily trends & details of all restore activities performed on Public Folders. This API may be updated without any prior notification. Check the API documentation for the latest updates regularly.
      operationId: GetM365PFRestoreActivityReportDataRequest
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    pageSize:
                      type: integer
                      description: Specify the maximum number of records that should returned in a response. Maximum limit is 500 records. Default pageSize is 100.
                      default: 100
                    filterBy:
                      type: array
                      description: Select the filters to be applied to the report.
                      items:
                        type: object
                        properties:
                          fieldName:
                            type: string
                            description: Specify the name of the filter.
                            example: accountName
                            enum:
                            - accountName
                            - customerName
                            - customerGlobalId
                            - lastUpdatedTime
                            - publicFolderName
                            - publicFolderPath
                            - administrator
                            - startTime
                            - endTime
                            - restoreSize
                            - snapshotTimestamp
                            - restoreStatus
                            - jobId
                          operator:
                            type: string
                            description: The operators that are supported for the filter are - EQUAL, NOTEQUAL, CONTAINS, LT (less-than), LTEQ (less-than-or-equal), GT (greater-than), GTEQ (greater-than-or-equal).
                            example: EQUAL
                            enum:
                            - EQUAL
                            - GT
                            - GTE
                            - LT
                            - LTE
                            - CONTAINS
                            - NOTEQUAL
                          value:
                            oneOf:
                            - type: string
                              description: string
                            - type: integer
                              description: integer
                            - type: array
                              description: array of strings
                              items:
                                type: string
                            - type: array
                              description: array of integers
                              items:
                                type: integer
                            description: Specify the value of the filter applied to the report.
                            example: '3'
                pageToken:
                  type: string
                  description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
                  example: ''
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetM365PFRestoreActivityReportDataResponse'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: The requested resource was not found.
          content: {}
        '500':
          description: The request was not processed due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /msp/reporting/v1/reports/mspSharePointRestoreActivity:
    post:
      tags:
      - Microsoft 365 Reports
      summary: View SharePoint Online Restore Activity Report
      description: View daily trends & details of all restore activities performed on SharePoint sites. This API may be updated without any prior notification. Check the API documentation for the latest updates regularly.
      operationId: GetM365SharePointRestoreActivityReportDataRequest
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    pageSize:
                      type: integer
                      description: Specify the maximum number of records that should returned in a response. Maximum limit is 500 records. Default pageSize is 100.
                      default: 100
                    filterBy:
                      type: array
                      description: Select the filters to be applied to the report.
                      items:
                        type: object
                        properties:
                          fieldName:
                            type: string
                            description: Specify the name of the filter.
                            example: accountName
                            enum:
                            - accountName
                            - customerName
                            - customerGlobalId
                            - lastUpdatedTime
                            - jobId
                            - siteName
                            - administrator
                            - startTime
                            - endTime
                            - restoreSize
                            - restoreStatus
                            - statusDetails
                            - snapshotTimestamp
                          operator:
                            type: string
                            description: The operators that are supported for the filter are - EQUAL, NOTEQUAL, CONTAINS, LT (less-than), LTEQ (less-than-or-equal), GT (greater-than), GTEQ (greater-than-or-equal).
                            example: EQUAL
                            enum:
                            - EQUAL
                            - GT
                            - GTE
                            - LT
                            - LTE
                            - CONTAINS
                            - NOTEQUAL
                          value:
                            oneOf:
                            - type: string
                              description: string
                            - type: integer
                              description: integer
                            - type: array
                              description: array of strings
                              items:
                                type: string
                            - type: array
                              description: array of integers
                              items:
                                type: integer
                            description: Specify the value of the filter applied to the report.
                            example: '3'
                pageToken:
                  type: string
                  description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
                  example: ''
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetM365SharePointRestoreActivityReportDataResponse'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: The requested resource was not found.
          content: {}
        '500':
          description: The request was not processed due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /msp/reporting/v1/reports/mspM365UserRestoreActivity:
    post:
      tags:
      - Microsoft 365 Reports
      summary: View User Restore Activity Report
      description: View the status and details of all restore jobs for user workloads. This API may be updated without any prior notification. Check the API documentation for the latest updates regularly.
      operationId: GetM365UserRestoreActivityReportDataRequest
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    pageSize:
                      type: integer
                      description: Specify the maximum number of records that should returned in a response. Maximum limit is 500 records. Default pageSize is 100.
                      default: 100
                    filterBy:
                      type: array
                      description: Select the filters to be applied to the report.
                      items:
                        type: object
                        properties:
                          fieldName:
                            type: string
                            description: Specify the name of the filter.
                            example: accountName
                            enum:
                            - accountName
                            - customerName
                            - customerGlobalId
                            - lastUpdatedTime
                            - jobId
                            - userName
                            - userEmail
                            - profileName
                            - workloadType
                            - restoreMode
                            - restoreStatus
                            - restoreLocation
                            - restoreSize
                            - itemsRestored
                            - itemsMissed
                            - startTime
                            - endTime
                          operator:
                            type: string
                            description: The operators that are supported for the filter are - EQUAL, NOTEQUAL, CONTAINS, LT (less-than), LTEQ (less-than-or-equal), GT (greater-than), GTEQ (greater-than-or-equal).
                            example: EQUAL
                            enum:
                            - EQUAL
                            - GT
                            - GTE
                            - LT
                            - LTE
                            - CONTAINS
                            - NOTEQUAL
                          value:
                            oneOf:
                            - type: string
                              description: string
                            - type: integer
                              description: integer
                            - type: array
                              description: array of strings
                              items:
                                type: string
                            - type: array
                              description: array of integers
                              items:
                                type: integer
                            description: Specify the value of the filter applied to the report.
                            example: '3'
                pageToken:
                  type: string
                  description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
                  example: ''
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetM365UserRestoreActivityReportDataResponse'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: The requested resource was not found.
          content: {}
        '500':
          description: The request was not processed due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /msp/reporting/v1/reports/mspSharePointBackupActivity:
    post:
      tags:
      - Microsoft 365 Reports
      summary: View SharePoint Online Backup Activity Report
      description: View daily trends & details of all backup activities performed on SharePoint sites. This API may be updated without any prior notification. Check the API documentation for the latest updates regularly.
      operationId: GetM365SharePointBackupActivityReportDataRequest
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    pageSize:
                      type: integer
                      description: Specify the maximum number of records that should returned in a response. Maximum limit is 500 records. Default pageSize is 100.
                      default: 100
                    filterBy:
                      type: array
                      description: Select the filters to be applied to the report.
                      items:
                        type: object
                        properties:
                          fieldName:
                            type: string
                            description: Specify the name of the filter.
                            example: accountName
                            enum:
                            - accountName
                            - customerName
                            - customerGlobalId
                            - lastUpdatedTime
                            - siteName
                            - siteCollectionUrl
                            - administrator
                            - startTime
                            - endTime
                            - snapshotSize
                            - appStatus
                            - backupStatus
                            - statusDetails
                          operator:
                            type: string
                            description: The operators that are supported for the filter are - EQUAL, NOTEQUAL, CONTAINS, LT (less-than), LTEQ (less-than-or-equal), GT (greater-than), GTEQ (greater-than-or-equal).
                            example: EQUAL
                            enum:
                            - EQUAL
                            - GT
                            - GTE
                            - LT
                            - LTE
                            - CONTAINS
                            - NOTEQUAL
                          value:
                            oneOf:
                            - type: string
                              description: string
                            - type: integer
                              description: integer
                            - type: array
                              description: array of strings
                              items:
                                type: string
                            - type: array
                              description: array of integers
                              items:
                                type: integer
                            description: Specify the value of the filter applied to the report.
                            example: '3'
                pageToken:
                  type: string
                  description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
                  example: ''
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetM365SharePointBackupActivityReportDataResponse'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: The requested resource was not found.
          content: {}
        '500':
          description: The request was not processed due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /msp/reporting/v1/reports/mspTeamsBackupActivity:
    post:
      tags:
      - Microsoft 365 Reports
      summary: View Teams Backup Activity Report
      description: View daily trends & details of all backup activities performed on Teams. This API may be updated without any prior notification. Check the API documentation for the latest updates regularly.
      operationId: GetM365TeamsBackupActivityReportDataRequest
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    pageSize:
                      type: integer
                      description: Specify the maximum number of records that should returned in a response. Maximum limit is 500 records. Default pageSize is 100.
                      default: 100
                    filterBy:
                      type: array
                      description: Select the filters to be applied to the report.
                      items:
                        type: object
                        properties:
                          fieldName:
                            type: string
                            description: Specify the name of the filter.
                            example: accountName
                            enum:
                            - accountName
                            - customerName
                            - customerGlobalId
                            - lastUpdatedTime
                            - teamName
                            - privacy
                            - numberOfChannels
                            - administrator
                            - startTime
                            - endTime
                            - activityType
                            - snapshotSize
                            - backupStatus
                            - appStatus
                          operator:
                            type: string
                            description: The operators that are supported for the filter are - EQUAL, NOTEQUAL, CONTAINS, LT (less-than), LTEQ (less-than-or-equal), GT (greater-than), GTEQ (greater-than-or-equal).
                            example: EQUAL
                            enum:
                            - EQUAL
                            - GT
                            - GTE
                            - LT
                            - LTE
                            - CONTAINS
                            - NOTEQUAL
                          value:
                            oneOf:
                            - type: string
                              description: string
                            - type: integer
                              description: integer
                            - type: array
                              description: array of strings
                              items:
                                type: string
                            - type: array
                              description: array of integers
                              items:
                                type: integer
                            description: Specify the value of the filter applied to the report.
                            example: '3'
                pageToken:
                  type: string
                  description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
                  example: ''
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetM365TeamsBackupActivityReportDataResponse'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: The requested resource was not found.
          content: {}
        '500':
          description: The request was not processed due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /msp/reporting/v1/reports/mspM365GroupsDiscovery:
    post:
      tags:
      - Microsoft 365 Reports
      summary: View Groups Discovery Report
      description: This report details backup and storage consumption for active and disabled Groups. This API may be updated without any prior notification. Check the API documentation for the latest updates regularly.
      operationId: GetM365GroupsDiscoveryReportDataRequest
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    pageSize:
                      type: integer
                      description: Specify the maximum number of records that should returned in a response. Maximum limit is 500 records. Default pageSize is 100.
                      default: 100
                    filterBy:
                      type: array
                      description: Select the filters to be applied to the report.
                      items:
                        type: object
                        properties:
                          fieldName:
                            type: string
                            description: Specify the name of the filter.
                            example: accountName
                            enum:
                            - accountName
                            - customerName
                            - customerGlobalId
                            - groupName
                            - groupEmail
                            - groupType
                            - addedOn
                            - backupFrequency
                            - retention
                            - appStatus
                            - totalBackupData
                            - lastSuccessfulBackup
                            - lastBackupAttempted
                            - lastBackupStatus
                            - statusDetails
                            - teamsEnabled
                            - lastUpdatedTime
                            - storageRegion
                            - plannerEnabled
                            - isDeleted
                          operator:
                            type: string
                            description: The operators that are supported for the filter are - EQUAL, NOTEQUAL, CONTAINS, LT (less-than), LTEQ (less-than-or-equal), GT (greater-than), GTEQ (greater-than-or-equal).
                            example: EQUAL
                            enum:
                            - EQUAL
                            - GT
                            - GTE
                            - LT
                            - LTE
                            - CONTAINS
                            - NOTEQUAL
                          value:
                            oneOf:
                            - type: string
                              description: string
                            - type: integer
                              description: integer
                            - type: array
                              description: array of strings
                              items:
                                type: string
                            - type: array
                              description: array of integers
                              items:
                                type: integer
                            description: Specify the value of the filter applied to the report.
                            example: '3'
                pageToken:
                  type: string
                  description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
                  example: ''
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetM365GroupsDiscoveryReportDataResponse'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: The requested resource was not found.
          content: {}
        '500':
          description: The request was not processed due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /msp/reporting/v1/reports/mspM365TeamsDiscovery:
    post:
      tags:
      - Microsoft 365 Reports
      summary: View Teams Discovery Report
      description: This report details backup and storage consumption for both enabled and disabled Teams. This API may be updated without any prior notification. Check the API documentation for the latest updates regularly.
      operationId: GetM365TeamsDiscoveryReportDataRequest
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    pageSize:
                      type: integer
                      description: Specify the maximum number of records that should returned in a response. Maximum limit is 500 records. Default pageSize is 100.
                      default: 100
                    filterBy:
                      type: array
                      description: Select the filters to be applied to the report.
                      items:
                        type: object
                        properties:
                          fieldName:
                            type: string
                            description: Specify the name of the filter.
                            example: accountName
                            enum:
                            - accountName
                            - customerName
                            - customerGlobalId
                            - lastUpdatedTime
                            - teamName
                            - privacy
                            - addedOn
                            - backupFrequency
                            - retention
                            - appStatus
                            - totalBackupData
                            - sharedChannelCount
                            - privateChannelCount
                            - teamState
                            - lastSuccessfulBackup
                            - lastBackupAttempted
                            - lastBackupStatus
                            - statusDetails
                            - storageRegion
                            - isDeleted
                          operator:
                            type: string
                            description: The operators that are supported for the filter are - EQUAL, NOTEQUAL, CONTAINS, LT (less-than), LTEQ (less-than-or-equal), GT (greater-than), GTEQ (greater-than-or-equal).
                            example: EQUAL
                            enum:
                            - EQUAL
                            - GT
                            - GTE
                            - LT
                            - LTE
                            - CONTAINS
                            - NOTEQUAL
                          value:
                            oneOf:
                            - type: string
                              description: string
                            - type: integer
                              description: integer
                            - type: array
                              description: array of strings
                              items:
                                type: string
                            - type: array
                              description: array of integers
                              items:
                                type: integer
                            description: Specify the value of the filter applied to the report.
                            example: '3'
                pageToken:
                  type: string
                  description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
                  example: ''
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetM365TeamsDiscoveryReportDataResponse'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: The requested resource was not found.
          content: {}
        '500':
          description: The request was not processed due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /msp/reporting/v1/reports/mspM365PreservedUsersDatasources:
    post:
      tags:
      - Microsoft 365 Reports
      summary: View Preserved Users Datasources Report
      description: View details about preserved users across SaaS Apps including consumed workloads, preservation date, and more. This API may be updated without any prior notification. Check the API documentation for the latest updates regularly.
      operationId: GetM365PreservedUsersReportDataRequest
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    pageSize:
                      type: integer
                      description: Specify the maximum number of records that should returned in a response. Maximum limit is 500 records. Default pageSize is 100.
                      default: 100
                    filterBy:
                      type: array
                      description: Select the filters to be applied to the report.
                      items:
                        type: object
                        properties:
                          fieldName:
                            type: string
                            description: Specify the name of the filter.
                            example: accountName
                            enum:
                            - accountName
                            - customerName
                            - customerGlobalId
                            - userName
                            - userEmail
                            - profileName
                            - m365LicenseState
                            - smbLicenseState
                            - preservedOn
                            - mode
                            - autoDeleteOn
                            - lastUpdatedTime
                          operator:
                            type: string
                            description: The operators that are supported for the filter are - EQUAL, NOTEQUAL, CONTAINS, LT (less-than), LTEQ (less-than-or-equal), GT (greater-than), GTEQ (greater-than-or-equal).
                            example: EQUAL
                            enum:
                            - EQUAL
                            - GT
                            - GTE
                            - LT
                            - LTE
                            - CONTAINS
                            - NOTEQUAL
                          value:
                            oneOf:
                            - type: string
                              description: string
                            - type: integer
                              description: integer
                            - type: array
                              description: array of strings
                              items:
                                type: string
                            - type: array
                              description: array of integers
                              items:
                                type: integer
                            description: Specify the value of the filter applied to the report.
                            example: '3'
                pageToken:
                  type: string
                  description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
                  example: ''
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetM365PreservedUsersReportDataResponse'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: The requested resource was not found.
          content: {}
        '500':
          description: The request was not processed due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /msp/reporting/v1/reports/mspM365SharePointSiteDiscovery:
    post:
      tags:
      - Microsoft 365 Reports
      summary: View SharePoint Site Discovery Report
      description: This report details backup and storage consumption for both enabled and disabled SharePoint sites. This API may be updated without any prior notification. Check the API documentation for the latest updates regularly.
      operationId: GetM365SharePointSiteDiscoveryReportDataRequest
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    pageSize:
                      type: integer
                      description: Specify the maximum number of records that should returned in a response. Maximum limit is 500 records. Default pageSize is 100.
                      default: 100
                    filterBy:
                      type: array
                      description: Select the filters to be applied to the report.
                      items:
                        type: object
                        properties:
                          fieldName:
                            type: string
                            description: Specify the name of the filter.
                            example: accountName
                            enum:
                            - accountName
                            - customerName
                            - customerGlobalId
                            - lastUpdatedTime
                            - siteName
                            - siteURL
                            - siteType
                            - addedOn
                            - backupFrequency
                            - retention
                            - appStatus
                            - geolocation
                            - totalBackupData
                            - lastSuccessfulBackup
                            - lastBackupAttempted
                            - lastBackupStatus
                            - errorDetailsOld
                            - errorDetailsNew
                            - storageRegion
                            - isDeleted
                          operator:
                            type: string
                            description: The operators that are supported for the filter are - EQUAL, NOTEQUAL, CONTAINS, LT (less-than), LTEQ (less-than-or-equal), GT (greater-than), GTEQ (greater-than-or-equal).
                            example: EQUAL
                            enum:
                            - EQUAL
                            - GT
                            - GTE
                            - LT
                            - LTE
                            - CONTAINS
                            - NOTEQUAL
                          value:
                            oneOf:
                            - type: string
                              description: string
                            - type: integer
                              description: integer
                            - type: array
                              description: array of strings
                              items:
                                type: string
                            - type: array
                              description: array of integers
                              items:
                                type: integer
                            description: Specify the value of the filter applied to the report.
                            example: '3'
                pageToken:
                  type: string
                  description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
                  example: ''
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetM365SharePointSiteDiscoveryReportDataResponse'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: The requested resource was not found.
          content: {}
        '500':
          description: The request was not processed due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /msp/reporting/v1/reports/mspM365UserProvisioning:
    post:
      tags:
      - Microsoft 365 Reports
      summary: View User Provisioning Report
      description: View user details and their licensed workload storage consumption details. This API may be updated without any prior notification. Check the API documentation for the latest updates regularly.
      operationId: GetM365UserProvisioningsReportDataRequest
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    pageSize:
                      type: integer
                      description: Specify the maximum number of records that should returned in a response. Maximum limit is 500 records. Default pageSize is 100.
                      default: 100
                    filterBy:
                      type: array
                      description: Select the filters to be applied to the report.
                      items:
                        type: object
                        properties:
                          fieldName:
                            type: string
                            description: Specify the name of the filter.
                            example: accountName
                            enum:
                            - accountName
                            - customerName
                            - customerGlobalId
                            - userName
                            - userEmail
                            - profileName
                            - userStatus
                            - m365LicenseState
                            - smbLicenseState
                            - totalBackupData
                            - createdOn
                            - managedBy
                            - mapping
                            - customAttributeName
                            - customAttributeValue
                            - lastUpdatedTime
                          operator:
                            type: string
                            description: The operators that are supported for the filter are - EQUAL, NOTEQUAL, CONTAINS, LT (less-than), LTEQ (less-than-or-equal), GT (greater-than), GTEQ (greater-than-or-equal).
                            example: EQUAL
                            enum:
                            - EQUAL
                            - GT
                            - GTE
                            - LT
                            - LTE
                            - CONTAINS
                            - NOTEQUAL
                          value:
                            oneOf:
                            - type: string
                              description: string
                            - type: integer
                              description: integer
                            - type: array
                              description: array of strings
                              items:
                                type: string
                            - type: array
                              description: array of integers
                              items:
                                type: integer
                            description: Specify the value of the filter applied to the report.
                            example: '3'
                pageToken:
                  type: string
                  description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
                  example: ''
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetM365UserProvisioningsReportDataResponse'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: The requested resource was not found.
          content: {}
        '500':
          description: The request was not processed due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /msp/reporting/v1/reports/mspGroupsBackupActivity:
    post:
      tags:
      - Microsoft 365 Reports
      summary: View Groups Backup Activity Report
      description: View daily trends & details of all backup activities performed on Groups. This API may be updated without any prior notification. Check the API documentation for the latest updates regularly.
      operationId: GetM365GroupsBackupActivityReportDataRequest
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    pageSize:
                      type: integer
                      description: Specify the maximum number of records that should returned in a response. Maximum limit is 500 records. Default pageSize is 100.
                      default: 100
                    filterBy:
                      type: array
                      description: Select the filters to be applied to the report.
                      items:
                        type: object
                        properties:
                          fieldName:
                            type: string
                            description: Specify the name of the filter.
                            example: accountName
                            enum:
                            - accountName
                            - customerName
                            - customerGlobalId
                            - lastUpdatedTime
                            - groupName
                            - groupEmail
                            - groupType
                            - appStatus
                            - administrator
                            - startTime
                            - endTime
                            - backupStatus
                            - snapshotSize
                          operator:
                            type: string
                            description: The operators that are supported for the filter are - EQUAL, NOTEQUAL, CONTAINS, LT (less-than), LTEQ (less-than-or-equal), GT (greater-than), GTEQ (greater-than-or-equal).
                            example: EQUAL
                            enum:
                            - EQUAL
                            - GT
                            - GTE
                            - LT
                            - LTE
                            - CONTAINS
                            - NOTEQUAL
                          value:
                            oneOf:
                            - type: string
                              description: string
                            - type: integer
                              description: integer
                            - type: array
                              description: array of strings
                              items:
                                type: string
                            - type: array
                              description: array of integers
                              items:
                                type: integer
                            description: Specify the value of the filter applied to the report.
                            example: '3'
                pageToken:
                  type: string
                  description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
                  example: ''
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetM365GroupsBackupActivityReportDataResponse'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: The requested resource was not found.
          content: {}
        '500':
          description: The request was not processed due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /msp/reporting/v1/reports/mspM365UserLastBackupStatus:
    post:
      tags:
      - Microsoft 365 Reports
      summary: View User Last Backup Status Report
      description: View the last backup status and details about backup jobs for user workloads. This API may be updated without any prior notification. Check the API documentation for the latest updates regularly.
      operationId: GetM365UserLastBackupStatusDataRequest
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    pageSize:
                      type: integer
                      description: Specify the maximum number of records that should returned in a response. Maximum limit is 500 records. Default pageSize is 100.
                      default: 100
                    filterBy:
                      type: array
                      description: Select the filters to be applied to the report.
                      items:
                        type: object
                        properties:
                          fieldName:
                            type: string
                            description: Specify the name of the filter.
                            example: accountName
                            enum:
                            - accountName
                            - customerName
                            - customerGlobalId
                            - userName
                            - userEmail
                            - workloadType
                            - profileName
                            - appStatus
                            - startTime
                            - endTime
                            - itemsBackedUp
                            - itemsMissed
                            - lastBackupData
                            - totalBackupData
                            - lastBackupStatus
                            - statusDetails
                            - lastUpdatedTime
                          operator:
                            type: string
                            description: The operators that are supported for the filter are - EQUAL, NOTEQUAL, CONTAINS, LT (less-than), LTEQ (less-than-or-equal), GT (greater-than), GTEQ (greater-than-or-equal).
                            example: EQUAL
                            enum:
                            - EQUAL
                            - GT
                            - GTE
                            - LT
                            - LTE
                            - CONTAINS
                            - NOTEQUAL
                          value:
                            oneOf:
                            - type: string
                              description: string
                            - type: integer
                              description: integer
                            - type: array
                              description: array of strings
                              items:
                                type: string
                            - type: array
                              description: array of integers
                              items:
                                type: integer
                            description: Specify the value of the filter applied to the report.
                            example: '3'
                pageToken:
                  type: string
                  description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
                  example: ''
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetM365UserLastBackupStatusDataResponse'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: The requested resource was not found.
          content: {}
        '500':
          description: The request was not processed due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /msp/reporting/v1/reports/mspPublicFolderBackupActivity:
    post:
      tags:
      - Microsoft 365 Reports
      summary: View Public Folder Backup Activity Report
      description: View daily trends & details of all backup activities performed on Public Folder sites. This API may be updated without any prior notification. Check the API documentation for the latest updates regularly.
      operationId: GetM365PFBackupActivityReportDataRequest
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    pageSize:
                      type: integer
                      description: Specify the maximum number of records that should returned in a response. Maximum limit is 500 records. Default pageSize is 100.
                      default: 100
                    filterBy:
                      type: array
                      description: Select the filters to be applied to the report.
                      items:
                        type: object
                        properties:
                          fieldName:
                            type: string
                            description: Specify the name of the filter.
                            example: accountName
                            enum:
                            - accountName
                            - customerName
                            - customerGlobalId
                            - lastUpdatedTime
                            - publicFolderName
                            - publicFolderPath
                            - administrator
                            - startTime
                            - endTime
                            - snapshotSize
                            - backupStatus
                            - appStatus
                          operator:
                            type: string
                            description: The operators that are supported for the filter are - EQUAL, NOTEQUAL, CONTAINS, LT (less-than), LTEQ (less-than-or-equal), GT (greater-than), GTEQ (greater-than-or-equal).
                            example: EQUAL
                            enum:
                            - EQUAL
                            - GT
                            - GTE
                            - LT
                            - LTE
                            - CONTAINS
                            - NOTEQUAL
                          value:
                            oneOf:
                            - type: string
                              description: string
                            - type: integer
                              description: integer
                            - type: array
                              description: array of strings
                              items:
                                type: string
                            - type: array
                              description: array of integers
                              items:
                                type: integer
                            description: Specify the value of the filter applied to the report.
                            example: '3'
                pageToken:
                  type: string
                  description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
                  example: ''
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetM365PFBackupActivityReportDataResponse'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: The requested resource was not found.
          content: {}
        '500':
          description: The request was not processed due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /msp/reporting/v1/reports/mspM365UserCountAndStatus:
    post:
      tags:
      - Microsoft 365 Reports
      summary: View Users Count & Status Report
      description: View the weekly and monthly count of users added, preserved, and deleted for a specified period. This API may be updated without any prior notification. Check the API documentation for the latest updates regularly.
      operationId: GetM365UserCountAndStatusReportDataRequest
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    pageSize:
                      type: integer
                      description: Specify the maximum number of records that should returned in a response. Maximum limit is 500 records. Default pageSize is 100.
                      default: 100
                    filterBy:
                      type: array
                      description: Select the filters to be applied to the report.
                      items:
                        type: object
                        properties:
                          fieldName:
                            type: string
                            description: Specify the name of the filter.
                            example: accountName
                            enum:
                            - accountName
                            - customerName
                            - customerGlobalId
                            - period
                            - startDate
                            - endDate
                            - totalUsers
                            - totalPreservedUsers
                            - userAdded
                            - usersDeleted
                            - usersPreserved
                          operator:
                            type: string
                            description: The operators that are supported for the filter are - EQUAL, NOTEQUAL, CONTAINS, LT (less-than), LTEQ (less-than-or-equal), GT (greater-than), GTEQ (greater-than-or-equal).
                            example: EQUAL
                            enum:
                            - EQUAL
                            - GT
                            - GTE
                            - LT
                            - LTE
                            - CONTAINS
                            - NOTEQUAL
                          value:
                            oneOf:
                            - type: string
                              description: string
                            - type: integer
                              description: integer
                            - type: array
                              description: array of strings
                              items:
                                type: string
                            - type: array
                              description: array of integers
                              items:
                                type: integer
                            description: Specify the value of the filter applied to the report.
                            example: '3'
                pageToken:
                  type: string
                  description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
                  example: ''
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetM365UserCountAndStatusReportDataResponse'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: The requested resource was not found.
          content: {}
        '500':
          description: The request was not processed due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /msp/reporting/v1/reports/mspM365UserWorkload:
    post:
      tags:
      - Microsoft 365 Reports
      summary: View User Workload Report
      description: View backup status, activity logs, and summary for user workloads. This API may be updated without any prior notification. Check the API documentation for the latest updates regularly.
      operationId: GetM365UserWorkloadReportDataRequest
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    pageSize:
                      type: integer
                      description: Specify the maximum number of records that should returned in a response. Maximum limit is 500 records. Default pageSize is 100.
                      default: 100
                    filterBy:
                      type: array
                      description: Select the filters to be applied to the report.
                      items:
                        type: object
                        properties:
                          fieldName:
                            type: string
                            description: Specify the name of the filter.
                            example: accountName
                            enum:
                            - accountName
                            - customerName
                            - customerGlobalId
                            - userName
                            - userEmail
                            - userPrincipalName
                            - addedOn
                            - workloadType
                            - profileName
                            - preferredDataLocation
                            - storageName
                            - appStatus
                            - totalBackupData
                            - lastSuccessfulBackup
                            - lastAttemptedBackup
                            - lastBackupStatus
                            - statusDetails
                            - lastUpdatedTime
                          operator:
                            type: string
                            description: The operators that are supported for the filter are - EQUAL, NOTEQUAL, CONTAINS, LT (less-than), LTEQ (less-than-or-equal), GT (greater-than), GTEQ (greater-than-or-equal).
                            example: EQUAL
                            enum:
                            - EQUAL
                            - GT
                            - GTE
                            - LT
                            - LTE
                            - CONTAINS
                            - NOTEQUAL
                          value:
                            oneOf:
                            - type: string
                              description: string
                            - type: integer
                              description: integer
                            - type: array
                              description: array of strings
                              items:
                                type: string
                            - type: array
                              description: array of integers
                              items:
                                type: integer
                            description: Specify the value of the filter applied to the report.
                            example: '3'
                pageToken:
                  type: string
                  description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
                  example: ''
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetM365UserWorkloadReportDataResponse'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: The requested resource was not found.
          content: {}
        '500':
          description: The request was not processed due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /msp/reporting/v1/reports/mspM365StorageConsumption:
    post:
      tags:
      - Microsoft 365 Reports
      summary: View Storage Consumption Report
      description: View workload specific storage consumption details and its summary. This API may be updated without any prior notification. Check the API documentation for the latest updates regularly.
      operationId: GetM365StorageConsumptionReportDataRequest
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    pageSize:
                      type: integer
                      description: Specify the maximum number of records that should returned in a response. Maximum limit is 500 records. Default pageSize is 100.
                      default: 100
                    filterBy:
                      type: array
                      description: Select the filters to be applied to the report.
                      items:
                        type: object
                        properties:
                          fieldName:
                            type: string
                            description: Specify the name of the filter.
                            example: accountName
                            enum:
                            - accountName
                            - customerName
                            - customerGlobalId
                            - workloadName
                            - resourceCount
                            - totalBackupData
                          operator:
                            type: string
                            description: The operators that are supported for the filter are - EQUAL, NOTEQUAL, CONTAINS, LT (less-than), LTEQ (less-than-or-equal), GT (greater-than), GTEQ (greater-than-or-equal).
                            example: EQUAL
                            enum:
                            - EQUAL
                            - GT
                            - GTE
                            - LT
                            - LTE
                            - CONTAINS
                            - NOTEQUAL
                          value:
                            oneOf:
                            - type: string
                              description: string
                            - type: integer
                              description: integer
                            - type: array
                              description: array of strings
                              items:
                                type: string
                            - type: array
                              description: array of integers
                              items:
                                type: integer
                            description: Specify the value of the filter applied to the report.
                            example: '3'
                pageToken:
                  type: string
                  description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
                  example: ''
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetM365StorageConsumptionReportDataResponse'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: The requested resource was not found.
          content: {}
        '500':
          description: The request was not processed due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /msp/reporting/v1/reports/mspM365LicenseUsage:
    post:
      tags:
      - Microsoft 365 Reports
      summary: View License Usage Report
      description: View the weekly and monthly count of total active and preserved licenses allocated and consumed. This API may be updated without any prior notification. Check the API documentation for the latest updates regularly.
      operationId: GetM365LicenseUsageReportDataRequest
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    pageSize:
                      type: integer
                      description: Specify the maximum number of records that should returned in a response. Maximum limit is 500 records. Default pageSize is 100.
                      default: 100
                    filterBy:
                      type: array
                      description: Select the filters to be applied to the report.
                      items:
                        type: object
                        properties:
                          fieldName:
                            type: string
                            description: Specify the name of the filter.
                            example: accountName
                            enum:
                            - accountName
                            - customerName
                            - customerGlobalId
                            - period
                            - startDate
                            - endDate
                            - usersAdded
                            - usersDeleted
                            - totalActiveLicense
                            - activeLicenseUsed
                            - totalPreservedLicense
                            - preservedLicenseUsed
                          operator:
                            type: string
                            description: The operators that are supported for the filter are - EQUAL, NOTEQUAL, CONTAINS, LT (less-than), LTEQ (less-than-or-equal), GT (greater-than), GTEQ (greater-than-or-equal).
                            example: EQUAL
                            enum:
                            - EQUAL
                            - GT
                            - GTE
                            - LT
                            - LTE
                            - CONTAINS
                            - NOTEQUAL
                          value:
                            oneOf:
                            - type: string
                              description: string
                            - type: integer
                              description: integer
                            - type: array
                              description: array of strings
                              items:
                                type: string
                            - type: array
                              description: array of integers
                              items:
                                type: integer
                            description: Specify the value of the filter applied to the report.
                            example: '3'
                pageToken:
                  type: string
                  description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
                  example: ''
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetM365LicenseUsageReportDataResponse'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: The requested resource was not found.
          content: {}
        '500':
          description: The request was not processed due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
  /msp/reporting/v1/reports/mspM365Alerts:
    post:
      tags:
      - Microsoft 365 Reports
      summary: View Alert Report
      description: View details like alert types, severities, occurrence dates, and more, along with a summary of generated alerts. This API may be updated without any prior notification. Check the API documentation for the latest updates regularly.
      operationId: GetM365AlertHistoryReportDataRequest
      parameters:
      - name: Authorization
        description: Specify the Bearer access token
        schema:
          type: string
        in: header
        required: true
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    pageSize:
                      type: integer
                      description: Specify the maximum number of records that should returned in a response. Maximum limit is 500 records. Default pageSize is 100.
                      default: 100
                    filterBy:
                      type: array
                      description: Select the filters to be applied to the report.
                      items:
                        type: object
                        properties:
                          fieldName:
                            type: string
                            description: Specify the name of the filter.
                            example: accountName
                            enum:
                            - accountName
                            - customerName
                            - customerGlobalId
                            - entity
                            - alertDetails
                            - severity
                            - firstOccurrence
                            - latestOccurrence
                            - isActive
                            - isDeleted
                            - lastUpdatedTime
                          operator:
                            type: string
                            description: The operators that are supported for the filter are - EQUAL, NOTEQUAL, CONTAINS, LT (less-than), LTEQ (less-than-or-equal), GT (greater-than), GTEQ (greater-than-or-equal).
                            example: EQUAL
                            enum:
                            - EQUAL
                            - GT
                            - GTE
                            - LT
                            - LTE
                            - CONTAINS
                            - NOTEQUAL
                          value:
                            oneOf:
                            - type: string
                              description: string
                            - type: integer
                              description: integer
                            - type: array
                              description: array of strings
                              items:
                                type: string
                            - type: array
                              description: array of integers
                              items:
                                type: integer
                            description: Specify the value of the filter applied to the report.
                            example: '3'
                pageToken:
                  type: string
                  description: Specify the token to access the results on the next page. Keep this field blank for the first request. To view the results on the next page, use the value received in the 'nextPageToken' parameter of the previous response.
                  example: ''
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetM365AlertHistoryReportDataResponse'
        '400':
          description: Bad Request
          content: {}
        '404':
          description: The requested resource was not found.
          content: {}
        '500':
          description: The request was not processed due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
components:
  schemas:
    GetM365SharePointRestoreActivityReportDataResponse:
      title: GetM365SharePointRestoreActivityReportDataResponse
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/M365SharePointRestoreActivityReportData'
          x-go-name: Data
        lastSyncTimestamp:
          type: string
          description: The time stamp until which the report data was returned. The time is in the UTC time zone.
          format: date-time
        filters:
          type: object
          properties: {}
          description: Filters applied on the report.
        nextPageToken:
          type: string
          description: The token to access the next page of results. This parameter will be empty for the last page of the results. This token is valid for 5 minutes.
          example: YTBDNDk6Rjk1MmViY1FpTVpBejNFTU9lSWxzUT09OjA=
    M365UserCountAndStatusReportData:
      title: M365UserCountAndStatusReportData
      type: object
      properties:
        accountName:
          type: string
          description: Account name defined for the customer
          example: Druva
        customerName:
          type: string
          description: Customer name defined for the customer
          example: Druva
        customerGlobalId:
          type: string
          description: Unique ID of the customer.
          example: bde7f8c2-d063-4a4a-9a8f-c2ea5aff42f3-198
        period:
          type: string
          description: 'Records are categorized by duration: week or month. User count variations are segmented based on these periods.'
          example: month
        startDate:
          type: string
          description: The start date of the specified week or month.
          format: date-time
          example: '2024-03-01T00:00:00.000Z'
        endDate:
          type: string
          description: The end date of the specified week or month.
          format: date-time
          example: '2024-03-31T23:59:59.000Z'
        totalUsers:
          type: integer
          description: The total number of active users allocated within the specified period.
          example: 16
        totalPreservedUsers:
          type: integer
          description: The total number of preserved users allocated within the specified period.
          example: 0
        userAdded:
          type: integer
          description: The number of users added within the specified period.
          example: 17
        usersDeleted:
          type: integer
          description: The number of users deleted within the specified period.
          example: 1
        usersPreserved:
          type: integer
          description: The number of users marked as preserved within the specified period.
          example: 0
    M365TeamsDiscoveryReportData:
      title: M365TeamsDiscoveryReportData
      type: object
      properties:
        accountName:
          type: string
          description: Account name defined for the customer
          example: Druva
        customerName:
          type: string
          description: Customer name defined for the customer
          example: Druva
        customerGlobalId:
          type: string
          description: Unique ID of the customer.
          example: bde7f8c2-d063-4a4a-9a8f-c2ea5aff42f3-198
        lastUpdatedTime:
          type: string
          description: The last updated time stamp for the record. The time is in the UTC time zone. Example - 2019-10-25T00:00:00Z
          format: date-time
          example: '2023-06-04T10:05:18.493Z'
        teamName:
          type: string
          description: Specifies the name of the Team stored in DB.
          example: nandini test
        privacy:
          type: string
          description: Specifies the privacy type defined for the team. Example - "Public", "Private"
          example: Public
        addedOn:
          type: string
          description: EPOCH timestamp indicates the time when the Teams was added to DB.
          format: date-time
          example: '2024-07-26T11:56:29.000Z'
        backupFrequency:
          type: integer
          description: 'Specifies the backup frequency denoted by specific integer values.

            For example:

            • 720 - Twice A day

            • 1440 - Once A day

            • 4320 - Twice A Week

            • 10080 - Once A Week

            • 480 - Thrice A day

            • 2880 - Thrice A Week

            • 240 - Five Times a day

            • 0 - Never'
          example: 1440
        retention:
          type: string
          description: Specifies the retention policy for backups, indicating the duration for which backups will be kept. The format follows a combination of days (D), weeks (W), and months (M). For example, "5D, 4W, 12M" means backups will be retained for 5 days, 4 weeks, and 12 months.
          example: 7D, 4W, 12M
        appStatus:
          type: string
          description: Specifies the status of the configured group. For example - "Enabled" or "Disabled"
          example: Enabled
        totalBackupData:
          type: integer
          description: Specifies the value of the total backup data stored in bytes.
          example: 54608032
        sharedChannelCount:
          type: integer
          description: Specifies the total number of shared channels associated with the team.
          example: 0
        privateChannelCount:
          type: integer
          description: Specifies the total number of private channels associated with the team(total channels = private channels + shared channels.)
          example: 1
        teamState:
          type: string
          description: Specifies the current state of the team. Example - "Archived", "Active"
          example: Active
        lastSuccessfulBackup:
          type: string
          description: Specifies the EPOCH timestamp indicating the time when the last backup was successful.
          format: date-time
          example: '2024-08-28T07:29:43.000Z'
        lastBackupAttempted:
          type: string
          description: Specifies the EPOCH timestamp indicating the time when the last backup was attempted.
          format: date-time
          example: '2024-08-28T07:29:43.000Z'
        lastBackupStatus:
          type: string
          description: Specifies the status of the last backup attempted, Example - "Backup Successful"
          example: Backed Up Successfully
        statusDetails:
          type: string
          description: A string representing an error occurred for the last backup job. For example - "EUSERNOTFOUND"
          example: '-'
        storageRegion:
          type: string
          description: Specifies the name of the Storage assigned.
          example: us-east-1
        isDeleted:
          type: integer
          description: Indicates whether the Team is deleted from the database.
          example: 0
    M365UserProvisioningsReportData:
      title: M365UserProvisioningsReportData
      type: object
      properties:
        accountName:
          type: string
          description: Account name defined for the customer
          example: Druva
        customerName:
          type: string
          description: Customer name defined for the customer
          example: Druva
        customerGlobalId:
          type: string
          description: Unique ID of the customer.
          example: bde7f8c2-d063-4a4a-9a8f-c2ea5aff42f3-198
        userName:
          type: string
          description: The name of the user associated with the workload.
          example: arfaAdmin7102 arfaAdmin7102
        userEmail:
          type: string
[...]
