{"openapi":"3.1.0","info":{"title":"govcloud-authentication","version":"3.0"},"servers":[{"url":"https://govcloudapis.druva.com"}],"components":{"securitySchemes":{"sec0":{"type":"http","scheme":"basic"}}},"security":[{"sec0":[]}],"paths":{"/token":{"post":{"summary":"GovCloud Authorization","description":"To use the ***Try It*** feature, use this API to generate OAuth2.0 Access Token for authentication and authorization with inSync GovCloud APIs.\n\n**Important** - \n1. This procedure is **APPLICABLE** only for generating **inSync GovCloud** token.\n2. After generating the token, ensure the initial letter of the Request Headers in your API request is in Capital, i.e. 'Accept' and 'Authorization'.\n\nTo generate Access Token and use it for authorization with GovCloud APIs - \n1. **Generate API Credentials**, Client ID and Secret Key, from the *[inSync Federal Cloud](https://loginfederal.druva.com/login)*. For step-by-step instructions, see *[Manage API Credentials](https://docs.druva.com/Druva_Cloud_Platform/Integration_with_Druva_APIs/Create_and_Manage_API_Credentials)*.\n2. Provide **Client ID** as *username* and **Secret Key** as *password* in this API.\n3. Copy the **Access Token** from the response.\n4. Click **Try It** button for the API which you want to call or explore and provide the copied Access Token in the **Authorization** text box in the format - \n**Bearer <Access_Token>**\n**Example** - Bearer Zhdsohdspcnxxxxxx","operationId":"getting-started-with-your-api","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["scope","grant_type"],"properties":{"scope":{"type":"string","default":"read"},"grant_type":{"type":"string","default":"client_credentials"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\"access_token\": \"<Generated Access Token>\", \"token_type\": \"bearer\", \"expires_in\": 1800}"}},"schema":{"type":"object","properties":{"access_token":{"type":"string","example":"<Generated Access Token>"},"token_type":{"type":"string","example":"bearer"},"expires_in":{"type":"integer","example":1800,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl -X POST -H 'authorization: Basic <Your Base64 encoded credentials>' -d 'grant_type=client_credentials&scope=read' https://govcloudapis.druva.com/token"}],"samples-languages":["curl"]}},"get":{"description":"","operationId":"get_token","responses":{"200":{"description":"","content":{"application/json":{"examples":{"New Example":{"summary":"New Example","value":{"access_token":"<Generated Access Token>","token_type":"bearer","expires_in":1800}}}}}}},"parameters":[],"security":[{"sec0":[]}],"x-readme":{"code-samples":[{"code":"curl -X POST -H 'authorization: Basic <Your Base64 encoded credentials>' -d 'grant_type=client_credentials&scope=read' https://govcloudapis.druva.com/token","language":"shell","name":""}],"samples-languages":["shell"]}}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}