openapi: 3.2.0
info:
  title: Druva REST Accounts API
  version: 1.0.0
  description: Best-effort OpenAPI for Druva's cloud data protection REST API. Endpoints cover token authorization plus the organization-scoped resources for accounts, backups, servers, schedules, policies, and reports, and the Cyber Resilience / Ransomware Recovery namespace.
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://developer.druva.com
servers:
- url: https://apis.druva.com
  description: Druva Cloud Platform APIs
security:
- bearerAuth: []
tags:
- name: Accounts
paths:
  /organizations/{organization_id}/accounts:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    get:
      tags:
      - Accounts
      summary: List accounts within an organization
      operationId: listAccounts
      responses:
        '200':
          description: A page of accounts
    post:
      tags:
      - Accounts
      summary: Create an account
      operationId: createAccount
      responses:
        '201':
          description: Account created
  /organizations/{organization_id}/accounts/{account_id}:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - $ref: '#/components/parameters/AccountId'
    get:
      tags:
      - Accounts
      summary: Get an account
      operationId: getAccount
      responses:
        '200':
          description: Account details
    put:
      tags:
      - Accounts
      summary: Update an account
      operationId: updateAccount
      responses:
        '200':
          description: Account updated
    delete:
      tags:
      - Accounts
      summary: Delete an account
      operationId: deleteAccount
      responses:
        '204':
          description: Account deleted
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      schema:
        type: string
    OrgId:
      name: organization_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer access token obtained from /token using API credentials
